---
Description: {{sceptre_user_data.description|default('RDS Custom DB Engine Version(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for custom_db_engine_version in sceptre_user_data.custom_db_engine_versions %}
{%- set custom_db_engine_version_name = custom_db_engine_version.name %}
  {{ custom_db_engine_version_name }}:
    Type: AWS::RDS::CustomDBEngineVersion
    DeletionPolicy: {{ custom_db_engine_version.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ custom_db_engine_version.update_replace_policy | default('Delete') }}
    Properties:
      DatabaseInstallationFilesS3BucketName: {{ custom_db_engine_version.database_installation_files_s3_bucket_name }}
      Engine: {{ custom_db_engine_version.engine }}
      EngineVersion: {{ custom_db_engine_version.engine_version }}
{%- if custom_db_engine_version.database_installation_files_s3_prefix is defined %}
      DatabaseInstallationFilesS3Prefix: {{ custom_db_engine_version.database_installation_files_s3_prefix }}
{%- endif %}
{%- if custom_db_engine_version.description is defined %}
      Description: {{ custom_db_engine_version.description }}
{%- endif %}
{%- if custom_db_engine_version.kms_key_id is defined %}
      KMSKeyId: {{ custom_db_engine_version.kms_key_id }}
{%- endif %}
{%- if custom_db_engine_version.manifest is defined %}
      Manifest: {{ custom_db_engine_version.manifest }}
{%- endif %}
{%- if custom_db_engine_version.status is defined %}
      Status: {{ custom_db_engine_version.status }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if custom_db_engine_version.tags is defined %}
{%- for key,value in custom_db_engine_version.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for custom_db_engine_version in sceptre_user_data.custom_db_engine_versions %}
{%- set custom_db_engine_version_name = custom_db_engine_version.name %}

  {{ custom_db_engine_version_name }}DBEngineVersionArn:
    Description: The ARN of the custom engine version {{ custom_db_engine_version_name }}
    Value:
      Fn::GetAtt:
        - {{ custom_db_engine_version_name }}
        - DBEngineVersionArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ custom_db_engine_version_name }}-DBEngineVersionArn"

{%- endfor %}