---
Description: {{sceptre_user_data.description|default('RDS DB Parameter Group(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for db_parameter_group in sceptre_user_data.db_parameter_groups %}
{%- set db_parameter_group_name = db_parameter_group.name %}
  {{ db_parameter_group_name }}:
    Type: AWS::RDS::DBParameterGroup
    DeletionPolicy: {{ db_parameter_group.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ db_parameter_group.update_replace_policy | default('Delete') }}
    Properties:
      Description: {{ db_parameter_group.description }}
      Family: {{ db_parameter_group.family }}
{%- if db_parameter_group.parameters is defined %}
      Parameters:
{%- for key, value in db_parameter_group.parameters.items() %}
        {{ key }} : {{ value}}
{%- endfor %}
{%- endif %}
{%- if db_parameter_group.db_parameter_group_name is defined %}
      DBParameterGroupName: {{ db_parameter_group.db_parameter_group_name }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if db_parameter_group.tags is defined %}
{%- for key,value in db_parameter_group.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for db_parameter_group in sceptre_user_data.db_parameter_groups %}
{%- set db_parameter_group_name = db_parameter_group.name %}
  {{ db_parameter_group_name }}:
    Description: The name of DB parameter group for {{ db_parameter_group_name }}
    Value:
      Ref: {{ db_parameter_group_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ db_parameter_group_name }}"

{%- endfor %}