---
{%- import 'macros/web_acl_helper.yaml.j2' as macros_helper %}
Description: {{sceptre_user_data.description|default('WAFv2 WebACL(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for web_acl in sceptre_user_data.web_acls %}
{%- set web_acl_name = web_acl.name %}
  {{ web_acl_name }}:
    Type: AWS::WAFv2::WebACL
    DeletionPolicy: {{ web_acl.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ web_acl.update_replace_policy | default('Delete') }}
    Properties:
      DefaultAction:
{%- if web_acl.default_action.allow is defined %}{# BEGIN if web_acl.default_action.allow is defined #}
{%- if not web_acl.default_action.allow.custom_request_handling is defined %}{# BEGIN if not web_acl.default_action.allow.custom_request_handling is defined #}
        Allow: {}
{%- else %}
        Allow:
{%- if web_acl.default_action.allow.custom_request_handling is defined %}{# BEGIN if web_acl.default_action.allow.custom_request_handling is defined #}
          CustomRequestHandling:
            {{- macros_helper.prep_custom_request_handling(web_acl.default_action.allow.custom_request_handling) | indent(width=12, first=false) }}
{%- endif %}{# END if web_acl.default_action.allow.custom_request_handling is defined #}
{%- endif %}{# END if not web_acl.default_action.allow.custom_request_handling is defined #}
{%- endif %}{# END if web_acl.default_action.allow is defined #}
{%- if web_acl.default_action.block is defined %}{# BEGIN if web_acl.default_action.block is defined #}
{%- if not web_acl.default_action.block.custom_response is defined %}{# BEGIN if not web_acl.default_action.block.custom_response is defined #}
        Block: {}
{%- else %}
        Block:
          CustomResponse:
            ResponseCode: {{ web_acl.default_action.block.custom_response.response_code }}
{%- if web_acl.default_action.block.custom_response.custom_response_body_key is defined %}
            CustomResponseBodyKey: {{ web_acl.default_action.block.custom_response.custom_response_body_key }}
{%- endif %}
{%- if web_acl.default_action.block.custom_response.response_headers is defined %}{# BEGIN if web_acl.default_action.block.custom_response.response_headers is defined #}
            ResponseHeaders:
{%- for response_header in web_acl.default_action.block.custom_response.response_headers %}
              -
                {{- macros_helper.prep_custom_http_header(response_header) | indent(width=16, first=false) }}
{%- endfor %}
{%- endif %}{# END if web_acl.default_action.block.custom_response.response_headers is defined #}
{%- endif %}{# END if not web_acl.default_action.block.custom_response is defined #}
{%- endif %}{# END if web_acl.default_action.block is defined #}
      Scope: {{ web_acl.scope }}
      VisibilityConfig:
        {{- macros_helper.prep_visibility_config(web_acl.visibility_config) | indent(width=8, first=false) }}
{%- if web_acl.application_config is defined %}{# BEGIN if web_acl.application_config is defined #}
      ApplicationConfig:
        Attributes:
{%- for attribute in web_acl.application_config.attributes %}{# BEGIN for attribute in web_acl.application_config.attributes #}
          -
            Name: {{ attribute.name }}
            Values:
{%- for item in attribute.values %}
              - {{ item }}
{%- endfor %}
{%- endfor %}{# END for attribute in web_acl.application_config.attributes #}
{%- endif %}{# END if web_acl.application_config is defined #}
{%- if web_acl.association_config is defined %}{# BEGIN if web_acl.association_config is defined #}
      AssociationConfig:
{%- if web_acl.association_config.request_body is defined %}{# BEGIN if web_acl.association_config.request_body is defined #}
        RequestBody:
          {{ web_acl.association_config.request_body | indent(width=10, first=false) }}
{%- elif web_acl.association_config.request_body_json is defined %}
        RequestBody: |-
          {{ web_acl.association_config.request_body_json | indent(width=10, first=false) }}
{%- endif %}{# END if web_acl.association_config.request_body is defined #}
{%- endif %}{# END if web_acl.association_config is defined #}
{%- if web_acl.captcha_config is defined %}{# BEGIN if web_acl.captcha_config is defined #}
      CaptchaConfig:
{%- if web_acl.captcha_config.immunity_time_property is defined %}
        ImmunityTimeProperty:
          ImmunityTime: {{ web_acl.captcha_config.immunity_time_property.immunity_time }}
{%- endif %}
{%- endif %}{# END if web_acl.captcha_config is defined #}
{%- if web_acl.challenge_config is defined %}{# BEGIN if web_acl.challenge_config is defined #}
      ChallengeConfig:
{%- if web_acl.challenge_config.immunity_time_property is defined %}
        ImmunityTimeProperty:
          ImmunityTime: {{ web_acl.challenge_config.immunity_time_property.immunity_time }}
{%- endif %}
{%- endif %}{# END if web_acl.challenge_config is defined #}
{%- if web_acl.custom_response_bodies is defined %}{# BEGIN if web_acl.custom_response_bodies is defined #}
      CustomResponseBodies:
        {{ web_acl.custom_response_bodies | indent(width=8, first=false) }}
{%- endif %}{# END if web_acl.custom_response_bodies is defined #}
{%- if web_acl.data_protection_config is defined %}{# BEGIN if web_acl.data_protection_config is defined #}
      DataProtectionConfig:
        DataProtections:
{%- for data_protection in web_acl.data_protection_config.data_protections %}{# BEGIN for data_protection in web_acl.data_protection_config.data_protections #}
          -
            Action: {{ data_protection.action }}
            Field:
              FieldType: {{ data_protection.field.field_type }}
{%- if data_protection.field.field_keys is defined %}{# BEGIN if data_protection.field.field_keys is defined #}
              FieldKeys:
{%- for key in data_protection.field.field_keys %}
                - {{ key }}
{%- endfor %}
{%- endif %}{# END if data_protection.field.field_keys is defined #}
{%- if data_protection.exclude_rate_based_details is defined %}
            ExcludeRateBasedDetails: {{ data_protection.exclude_rate_based_details | lower }}
{%- endif %}
{%- if data_protection.exclude_rule_match_details is defined %}
            ExcludeRuleMatchDetails: {{ data_protection.exclude_rule_match_details | lower }}
{%- endif %}
{%- endfor %}{# END for data_protection in web_acl.data_protection_config.data_protections #}
{%- endif %}{# END if web_acl.data_protection_config is defined #}
{%- if web_acl.description is defined %}
      Description: {{ web_acl.description }}
{%- endif %}
{%- if web_acl.web_acl_name is defined %}
      Name: {{ web_acl.web_acl_name }}
{%- endif %}
{%- if web_acl.on_source_ddos_protection_config is defined %}
      OnSourceDDoSProtectionConfig:
        ALBLowReputationMode: {{ web_acl.on_source_ddos_protection_config.alb_low_reputation_mode }}
{%- endif %}
{%- if web_acl.rules is defined %}{# BEGIN if web_acl.rules is defined #}
      Rules:
{%- for rule in web_acl.rules %}{# BEGIN for rule in web_acl.rules #}
        -
          Name: {{ rule.name }}
          Priority: {{ rule.priority }}
          Statement:
            {{- macros_helper.prep_statement(rule.statement) | indent(width=12, first=false) }}
          VisibilityConfig:
            {{- macros_helper.prep_visibility_config(rule.visibility_config) | indent(width=12, first=false) }}
{%- if rule.action is defined %}
          Action:
            {{- macros_helper.prep_rule_action(rule.action) | indent(width=12, first=false) }}
{%- endif %}
{%- if rule.captcha_config is defined %}{# BEGIN if rule.captcha_config is defined #}
          CaptchaConfig:
{%- if rule.captcha_config.immunity_time_property is defined %}
            ImmunityTimeProperty:
              ImmunityTime: {{ rule.captcha_config.immunity_time_property.immunity_time }}
{%- endif %}
{%- endif %}{# END if rule.captcha_config is defined #}
{%- if rule.challenge_config is defined %}{# BEGIN if rule.challenge_config is defined #}
          ChallengeConfig:
{%- if rule.challenge_config.immunity_time_property is defined %}
            ImmunityTimeProperty:
              ImmunityTime: {{ rule.challenge_config.immunity_time_property.immunity_time }}
{%- endif %}
{%- endif %}{# END if rule.challenge_config is defined #}
{%- if rule.override_action is defined %}{# BEGIN if rule.override_action is defined #}
          OverrideAction:
{%- if rule.override_action.count is defined %}
            Count:
              {{ rule.override_action.count | indent(width=14, first=false) }}
{%- elif rule.override_action.count_json is defined %}
            Count: |-
              {{ rule.override_action.count_json | indent(width=14, first=false) }}
{%- endif %}
{%- if rule.override_action.none is defined %}
            None:
              {{ rule.override_action.none | indent(width=14, first=false) }}
{%- elif rule.override_action.none_json is defined %}
            None: |-
              {{ rule.override_action.none_json | indent(width=14, first=false) }}
{%- endif %}
{%- endif %}{# END if rule.override_action is defined #}
{%- if rule.rule_labels is defined %}{# BEGIN if rule.rule_labels is defined #}
          RuleLabels:
{%- for rule_label in rule.rule_labels %}
            - Name: {{ rule_label.name }}
{%- endfor %}
{%- endif %}{# END if rule.rule_labels is defined #}
{%- endfor %}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if web_acl.tags is defined %}
{%- for key,value in web_acl.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}{# END for rule in web_acl.rules #}
{%- endif %}{# END if web_acl.rules is defined #}
{%- if web_acl.token_domains is defined %}{# BEGIN if web_acl.token_domains is defined #}
      TokenDomains:
{%- for domain in web_acl.token_domains %}
        - {{ domain }}
{%- endfor %}
{%- endif %}{# END if web_acl.token_domains is defined #}
{%- endfor %}

Outputs:
{%- for web_acl in sceptre_user_data.web_acls %}
{%- set web_acl_name = web_acl.name %}
  {{ web_acl_name }}:
    Description: The Ref of {{ web_acl_name }}
    Value:
      Ref: {{ web_acl_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ web_acl_name }}"
  {{ web_acl_name }}Arn:
    Description: The ARN of {{ web_acl_name }}
    Value:
      Fn::GetAtt:
        - {{ web_acl_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ web_acl_name }}-Arn"
  {{ web_acl_name }}Id:
    Description: The ID of {{ web_acl_name }}
    Value:
      Fn::GetAtt:
        - {{ web_acl_name }}
        - Id
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ web_acl_name }}-Id"
{%- endfor %}{#
# Supported structure as of 2026-05-08
Type: AWS::WAFv2::WebACL
Properties:
  ApplicationConfig:
    Attributes:
      -
        Name: String
        Values:
          - String
  AssociationConfig:
    RequestBody:
      Key: Value
  CaptchaConfig:
    ImmunityTimeProperty:
      ImmunityTime: Integer
  ChallengeConfig:
    ImmunityTimeProperty:
      ImmunityTime: Integer
  CustomResponseBodies:
    Key: Value
  DataProtectionConfig:
    DataProtections:
      -
        Action: String
        ExcludeRateBasedDetails: Boolean
        ExcludeRuleMatchDetails: Boolean
        Field:
          FieldKeys:
            - String
          FieldType: String
  DefaultAction:
    Allow:
      CustomRequestHandling:
        InsertHeaders:
          -
            Name: String
            Value: String
    Block:
      CustomResponse:
        CustomResponseBodyKey: String
        ResponseCode: Integer
        ResponseHeaders:
          -
            Name: String
            Value: String
  Description: String
  Name: String
  OnSourceDDoSProtectionConfig:
    ALBLowReputationMode: String
  Rules:
    -
      Action:
        Allow:
          CustomRequestHandling:
            InsertHeaders:
              -
                Name: String
                Value: String
        Block:
          CustomResponse:
            CustomResponseBodyKey: String
            ResponseCode: Integer
            ResponseHeaders:
              -
                Name: String
                Value: String
        Captcha:
          CustomRequestHandling:
            InsertHeaders:
              -
                Name: String
                Value: String
        Challenge:
          CustomRequestHandling:
            InsertHeaders:
              -
                Name: String
                Value: String
        Count:
          CustomRequestHandling:
            InsertHeaders:
              -
                Name: String
                Value: String
      CaptchaConfig:
        ImmunityTimeProperty:
          ImmunityTime: Integer
      ChallengeConfig:
        ImmunityTimeProperty:
          ImmunityTime: Integer
      Name: String
      OverrideAction:
        Count: Json
        None: Json
      Priority: Integer
      RuleLabels:
        - Name: String
      Statement:
        AndStatement:
          Statements:
            - Statement
        AsnMatchStatement:
          AsnList:
            - Integer
          ForwardedIPConfig:
            FallbackBehavior: String
            HeaderName: String
        ByteMatchStatement:
          FieldToMatch:
            AllQueryArguments: Json
            Body:
              OversizeHandling: String
            Cookies:
              MatchPattern:
                All: Json
                ExcludedCookies:
                  - String
                IncludedCookies:
                  - String
              MatchScope: String
              OversizeHandling: String
            HeaderOrder:
              OversizeHandling: String
            Headers:
              MatchPattern:
                All: Json
                ExcludedHeaders:
                  - String
                IncludedHeaders:
                  - String
              MatchScope: String
              OversizeHandling: String
            JA3Fingerprint:
              FallbackBehavior: String
            JA4Fingerprint:
              FallbackBehavior: String
            JsonBody:
              InvalidFallbackBehavior: String
              MatchPattern:
                All: Json
                IncludedPaths:
                  - String
              MatchScope: String
              OversizeHandling: String
            Method: Json
            QueryString: Json
            SingleHeader:
              Name: String
            SingleQueryArgument:
              Name: String
            UriFragment:
              FallbackBehavior: String
            UriPath: Json
          PositionalConstraint: String
          SearchString:
            String
          SearchStringBase64:
            String
          TextTransformations:
            -
              Priority: Integer
              Type: String
        GeoMatchStatement:
          CountryCodes:
            - String
          ForwardedIPConfig:
            FallbackBehavior: String
            HeaderName: String
        IPSetReferenceStatement:
          Arn: String
          IPSetForwardedIPConfig:
            FallbackBehavior: String
            HeaderName: String
            Position: String
        LabelMatchStatement:
          Key: String
          Scope: String
        ManagedRuleGroupStatement:
          ExcludedRules:
            - Name: String
          ManagedRuleGroupConfigs:
            -
              AWSManagedRulesACFPRuleSet:
                CreationPath: String
                EnableRegexInPath: Boolean
                RegistrationPagePath: String
                RequestInspection:
                  AddressFields:
                    - Identifier: String
                  EmailField:
                    Identifier: String
                  PasswordField:
                    Identifier: String
                  PayloadType: String
                  PhoneNumberFields:
                    - Identifier: String
                  UsernameField:
                    Identifier: String
                ResponseInspection:
                  BodyContains:
                    FailureStrings:
                      - String
                    SuccessStrings:
                      - String
                  Header:
                    FailureValues:
                      - String
                    Name: String
                    SuccessValues:
                      - String
                  Json:
                    FailureValues:
                      - String
                    Identifier: String
                    SuccessValues:
                      - String
                  StatusCode:
                    FailureCodes:
                      - Integer
                    SuccessCodes:
                      - Integer
              AWSManagedRulesAntiDDoSRuleSet:
                ClientSideActionConfig:
                  Challenge:
                    ExemptUriRegularExpressions:
                      -
                        RegexString:
                          String
                    Sensitivity: String
                    UsageOfAction: String
                SensitivityToBlock: String
              AWSManagedRulesATPRuleSet:
                EnableRegexInPath: Boolean
                LoginPath: String
                RequestInspection:
                  PasswordField:
                    Identifier: String
                  PayloadType: String
                  UsernameField:
                    Identifier: String
                ResponseInspection:
                  BodyContains:
                    FailureStrings:
                      - String
                    SuccessStrings:
                      - String
                  Header:
                    FailureValues:
                      - String
                    Name: String
                    SuccessValues:
                      - String
                  Json:
                    FailureValues:
                      - String
                    Identifier: String
                    SuccessValues:
                      - String
                  StatusCode:
                    FailureCodes:
                      - Integer
                    SuccessCodes:
                      - Integer
              AWSManagedRulesBotControlRuleSet:
                EnableMachineLearning: Boolean
                InspectionLevel: String
              LoginPath: String
              PasswordField:
                Identifier: String
              PayloadType: String
              UsernameField:
                Identifier: String
          Name: String
          RuleActionOverrides:
            -
              ActionToUse:
                Allow:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
                Block:
                  CustomResponse:
                    CustomResponseBodyKey: String
                    ResponseCode: Integer
                    ResponseHeaders:
                      -
                        Name: String
                        Value: String
                Captcha:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
                Challenge:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
                Count:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
              Name: String
          ScopeDownStatement:
            Statement
          VendorName: String
          Version: String
        NotStatement:
          Statement:
            Statement
        OrStatement:
          Statements:
            - Statement
        RateBasedStatement:
          AggregateKeyType: String
          CustomKeys:
            -
              ASN: Json
              Cookie:
                Name: String
                TextTransformations:
                  -
                    Priority: Integer
                    Type: String
              ForwardedIP: Json
              Header:
                RateLimitHeader
              HTTPMethod: Json
              IP: Json
              JA3Fingerprint:
                FallbackBehavior: String
              JA4Fingerprint:
                FallbackBehavior: String
              LabelNamespace:
                Namespace: String
              QueryArgument:
                Name: String
                TextTransformations:
                  -
                    Priority: Integer
                    Type: String
              QueryString:
                TextTransformations:
                  -
                    Priority: Integer
                    Type: String
              UriPath:
                TextTransformations:
                  -
                    Priority: Integer
                    Type: String
          EvaluationWindowSec: Integer
          ForwardedIPConfig:
            FallbackBehavior: String
            HeaderName: String
          Limit: Integer
          ScopeDownStatement:
            Statement
        RegexMatchStatement:
          FieldToMatch:
            AllQueryArguments: Json
            Body:
              OversizeHandling: String
            Cookies:
              MatchPattern:
                All: Json
                ExcludedCookies:
                  - String
                IncludedCookies:
                  - String
              MatchScope: String
              OversizeHandling: String
            HeaderOrder:
              OversizeHandling: String
            Headers:
              MatchPattern:
                All: Json
                ExcludedHeaders:
                  - String
                IncludedHeaders:
                  - String
              MatchScope: String
              OversizeHandling: String
            JA3Fingerprint:
              FallbackBehavior: String
            JA4Fingerprint:
              FallbackBehavior: String
            JsonBody:
              InvalidFallbackBehavior: String
              MatchPattern:
                All: Json
                IncludedPaths:
                  - String
              MatchScope: String
              OversizeHandling: String
            Method: Json
            QueryString: Json
            SingleHeader:
              Name: String
            SingleQueryArgument:
              Name: String
            UriFragment:
              FallbackBehavior: String
            UriPath: Json
          RegexString:
            String
          TextTransformations:
            -
              Priority: Integer
              Type: String
        RegexPatternSetReferenceStatement:
          Arn: String
          FieldToMatch:
            AllQueryArguments: Json
            Body:
              OversizeHandling: String
            Cookies:
              MatchPattern:
                All: Json
                ExcludedCookies:
                  - String
                IncludedCookies:
                  - String
              MatchScope: String
              OversizeHandling: String
            HeaderOrder:
              OversizeHandling: String
            Headers:
              MatchPattern:
                All: Json
                ExcludedHeaders:
                  - String
                IncludedHeaders:
                  - String
              MatchScope: String
              OversizeHandling: String
            JA3Fingerprint:
              FallbackBehavior: String
            JA4Fingerprint:
              FallbackBehavior: String
            JsonBody:
              InvalidFallbackBehavior: String
              MatchPattern:
                All: Json
                IncludedPaths:
                  - String
              MatchScope: String
              OversizeHandling: String
            Method: Json
            QueryString: Json
            SingleHeader:
              Name: String
            SingleQueryArgument:
              Name: String
            UriFragment:
              FallbackBehavior: String
            UriPath: Json
          TextTransformations:
            -
              Priority: Integer
              Type: String
        RuleGroupReferenceStatement:
          Arn: String
          ExcludedRules:
            - Name: String
          RuleActionOverrides:
            -
              ActionToUse:
                Allow:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
                Block:
                  CustomResponse:
                    CustomResponseBodyKey: String
                    ResponseCode: Integer
                    ResponseHeaders:
                      -
                        Name: String
                        Value: String
                Captcha:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
                Challenge:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
                Count:
                  CustomRequestHandling:
                    InsertHeaders:
                      -
                        Name: String
                        Value: String
              Name: String
        SizeConstraintStatement:
          ComparisonOperator: String
          FieldToMatch:
            AllQueryArguments: Json
            Body:
              OversizeHandling: String
            Cookies:
              MatchPattern:
                All: Json
                ExcludedCookies:
                  - String
                IncludedCookies:
                  - String
              MatchScope: String
              OversizeHandling: String
            HeaderOrder:
              OversizeHandling: String
            Headers:
              MatchPattern:
                All: Json
                ExcludedHeaders:
                  - String
                IncludedHeaders:
                  - String
              MatchScope: String
              OversizeHandling: String
            JA3Fingerprint:
              FallbackBehavior: String
            JA4Fingerprint:
              FallbackBehavior: String
            JsonBody:
              InvalidFallbackBehavior: String
              MatchPattern:
                All: Json
                IncludedPaths:
                  - String
              MatchScope: String
              OversizeHandling: String
            Method: Json
            QueryString: Json
            SingleHeader:
              Name: String
            SingleQueryArgument:
              Name: String
            UriFragment:
              FallbackBehavior: String
            UriPath: Json
          Size: Number
          TextTransformations:
            -
              Priority: Integer
              Type: String
        SqliMatchStatement:
          FieldToMatch:
            AllQueryArguments: Json
            Body:
              OversizeHandling: String
            Cookies:
              MatchPattern:
                All: Json
                ExcludedCookies:
                  - String
                IncludedCookies:
                  - String
              MatchScope: String
              OversizeHandling: String
            HeaderOrder:
              OversizeHandling: String
            Headers:
              MatchPattern:
                All: Json
                ExcludedHeaders:
                  - String
                IncludedHeaders:
                  - String
              MatchScope: String
              OversizeHandling: String
            JA3Fingerprint:
              FallbackBehavior: String
            JA4Fingerprint:
              FallbackBehavior: String
            JsonBody:
              InvalidFallbackBehavior: String
              MatchPattern:
                All: Json
                IncludedPaths:
                  - String
              MatchScope: String
              OversizeHandling: String
            Method: Json
            QueryString: Json
            SingleHeader:
              Name: String
            SingleQueryArgument:
              Name: String
            UriFragment:
              FallbackBehavior: String
            UriPath: Json
          SensitivityLevel: String
          TextTransformations:
            -
              Priority: Integer
              Type: String
        XssMatchStatement:
          FieldToMatch:
            AllQueryArguments: Json
            Body:
              OversizeHandling: String
            Cookies:
              MatchPattern:
                All: Json
                ExcludedCookies:
                  - String
                IncludedCookies:
                  - String
              MatchScope: String
              OversizeHandling: String
            HeaderOrder:
              OversizeHandling: String
            Headers:
              MatchPattern:
                All: Json
                ExcludedHeaders:
                  - String
                IncludedHeaders:
                  - String
              MatchScope: String
              OversizeHandling: String
            JA3Fingerprint:
              FallbackBehavior: String
            JA4Fingerprint:
              FallbackBehavior: String
            JsonBody:
              InvalidFallbackBehavior: String
              MatchPattern:
                All: Json
                IncludedPaths:
                  - String
              MatchScope: String
              OversizeHandling: String
            Method: Json
            QueryString: Json
            SingleHeader:
              Name: String
            SingleQueryArgument:
              Name: String
            UriFragment:
              FallbackBehavior: String
            UriPath: Json
          TextTransformations:
            -
              Priority: Integer
              Type: String
      VisibilityConfig:
        CloudWatchMetricsEnabled: Boolean
        MetricName: String
        SampledRequestsEnabled: Boolean
  Scope: String
  Tags:
    -
      Key: String
      Value: String
  TokenDomains:
    - String
  VisibilityConfig:
    CloudWatchMetricsEnabled: Boolean
    MetricName: String
    SampledRequestsEnabled: Boolean
#}