---
Description: {{sceptre_user_data.description|default('SSM Parameter(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for parameter in sceptre_user_data.parameters %}
{%- set parameter_name = parameter.name %}
  {{ parameter_name }}:
    Type: AWS::SSM::Parameter
    DeletionPolicy: {{ parameter.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ parameter.update_replace_policy | default('Delete') }}
    Properties:
      Type: {{ parameter.type | trim }}
      Value: {{ parameter.value | trim }}
{%- if parameter.parameter_name is defined %}
      Name: {{ parameter.parameter_name | trim }}
{%- endif %}
{%- if parameter.allowed_pattern is defined %}
      AllowedPattern: {{ parameter.allowed_pattern }}
{%- endif %}
{%- if parameter.data_type is defined %}
      DataType: {{ parameter.data_type }}
{%- endif %}
{%- if parameter.description is defined %}
      Description: {{ parameter.description }}
{%- endif %}
{%- if parameter.policies is defined %}
      Policies: |
        {{ parameter.policies | indent(width=8, first=false)}}
{%- endif %}
{%- if parameter.tier is defined %}
      Tier: {{ parameter.tier }}
{%- endif %}
      Tags:
        SourceRepoURL: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if parameter.tags is defined %}
{%- for key,value in parameter.tags.items() %}
        {{ key }}: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:
{%- for parameter in sceptre_user_data.parameters %}
{%- set parameter_name = parameter.name %}
  {{ parameter_name }}:
{%- if parameter.description is defined %}
    Description: {{ parameter.description }}
{%- else %}
    Description: The parameter name of {{ parameter_name }}
{%- endif %}
    Value:
      Ref: {{ parameter_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ parameter_name }}"
  {{ parameter_name }}Type:
    Description: The parameter type of {{ parameter_name }}
    Value:
      Fn::GetAtt:
        - {{ parameter_name }}
        - Type
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ parameter_name }}-Type"
{%- if parameter.value | length < 1000 %}{# BEGIN if parameter.value | length < 1000 #}
  {{ parameter_name }}Value:
    Description: The parameter value of {{ parameter_name }}
    Value:
      Fn::GetAtt:
        - {{ parameter_name }}
        - Value
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ parameter_name }}-Value"
{%- endif %}{# END if parameter.value | length < 1000 #}
{%- endfor %}{#
# Supported structure as of 2025-07-01
Type: AWS::SSM::Parameter
Properties:
  AllowedPattern: String
  DataType: String
  Description: String
  Name: String
  Policies: String
  Tags:
    Key: Value
  Tier: String
  Type: String
  Value: String
#}