---
Description: {{sceptre_user_data.description|default('SSM Resource Data Sync(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for resource_policy in sceptre_user_data.resource_policies %}
{%- set resource_policy_name = resource_policy.name %}
  {{ resource_policy_name }}:
    Type: AWS::SSM::ResourcePolicy
    DeletionPolicy: {{ resource_policy.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ resource_policy.update_replace_policy | default('Delete') }}
    Properties:
{%- if resource_policy.policy_json is defined %}
      Policy: {{ resource_policy.policy_json }}
{%- else %}
      Policy:
        {{ resource_policy.policy | indent(width=8, first=false) }}
{%- endif %}
      ResourceArn: {{ resource_policy.resource_arn | trim }}
{%- endfor %}

Outputs:
{%- for resource_policy in sceptre_user_data.resource_policies %}
{%- set resource_policy_name = resource_policy.name %}
  {{ resource_policy_name }}PolicyHash:
    Description: The hash of the current policy version for {{ resource_policy_name }}
    Value:
      Fn::GetAtt:
        - {{ resource_policy_name }}
        - PolicyHash
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resource_policy_name }}-PolicyHash"
  {{ resource_policy_name }}PolicyId:
    Description: The ID of the current policy version for {{ resource_policy_name }}
    Value:
      Fn::GetAtt:
        - {{ resource_policy_name }}
        - PolicyId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resource_policy_name }}-PolicyId"
{%- endfor %}{#
# Supported structure as of 2025-07-01
Type: AWS::SSM::ResourcePolicy
Properties:
  Policy: Json
  ResourceArn: String
#}