{%- macro prep_resource_reference(resource_reference) %}{# BEGIN macro prep_resource_reference(resource_reference) #}
{%- if resource_reference.arn is defined %}
Arn: {{ resource_reference.arn }}
{%- endif %}
{%- if resource_reference.id is defined %}
Id: {{ resource_reference.id }}
{%- endif %}
{%- if resource_reference.name is defined %}
Name: {{ resource_reference.name }}
{%- endif %}
{%- if resource_reference.qualifier is defined %}
Qualifier: {{ resource_reference.qualifier }}
{%- endif %}
{%- if resource_reference.queue_url is defined %}
QueueUrl: {{ resource_reference.queue_url }}
{%- endif %}
{%- if resource_reference.resouce_id is defined %}
ResourceId: {{ resource_reference.resouce_id }}
{%- endif %}
{%- if resource_reference.role_name is defined %}
RoleName: {{ resource_reference.role_name }}
{%- endif %}
{%- if resource_reference.type is defined %}
Type: {{ resource_reference.type }}
{%- endif %}
{%- endmacro %}{# END macro prep_resource_reference(resource_reference) #}
