---
Description: {{sceptre_user_data.description|default('ECR Registry Scanning Configuration(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for registry_scanning_configuration in sceptre_user_data.registry_scanning_configurations %}
{%- set registry_scanning_configuration_name = registry_scanning_configuration.name %}
  {{ registry_scanning_configuration_name }}:
    Type: AWS::ECR::RegistryScanningConfiguration
    DeletionPolicy: {{ registry_scanning_configuration.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ registry_scanning_configuration.update_replace_policy | default('Delete') }}
    Properties:
      Rules:
{%- for rule in registry_scanning_configuration.rules %}{# BEGIN for rule in registry_scanning_configuration.rules #}
        -
          RepositoryFilters:
{%- for filter in rule.repository_filters %}
            -
              Filter: {{ filter.filter }}
              FilterType: {{ filter.filter_type }}
{%- endfor %}
          ScanFrequency: {{ rule.scan_frequency }}
{%- endfor %}{# END for rule in registry_scanning_configuration.rules #}
      ScanType: {{ registry_scanning_configuration.scan_type }}
{%- endfor %}

Outputs:
{%- for registry_scanning_configuration in sceptre_user_data.registry_scanning_configurations %}
{%- set registry_scanning_configuration_name = registry_scanning_configuration.name %}
  {{ registry_scanning_configuration_name }}RegistryId:
    Description: The account ID of the destination registry of {{ registry_scanning_configuration_name }}.
    Value:
      Fn::GetAtt:
        - {{ registry_scanning_configuration_name }}
        - RegistryId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ registry_scanning_configuration_name }}-RegistryId"
{%- endfor %}{#
# Supported structure as of 2026-03-02
Type: AWS::ECR::RegistryScanningConfiguration
Properties:
  Rules:
    -
      RepositoryFilters:
        -
          Filter: String
          FilterType: String
      ScanFrequency: String
  ScanType: String
#}