.vscode/
deployer
roles
sites.yml
lambda_*.yml
tmp/*
*.zip
lambdas/
packer.log
org-policies/files/*
!org-policies/files/DIRECTORY_RETAINER
org-stacksets/files/*
!org-stacksets/files/DO_NOT_DELETE_THIS_FILE
.venv
.vscode
test/sceptre/generated-config/*
!test/sceptre/generated-config/DO_NOT_DELETE
test/sceptre/values/*
!test/sceptre/values/DO_NOT_DELETE
test/sceptre/templates/*
!test/sceptre/templates/DO_NOT_DELETE
!test/sceptre/templates/custom*
test/sceptre/config/cwalarm/*
!test/sceptre/config/cwalarm/DO_NOT_DELETE
terraform/tffiles/.terraform/*
backendcredentials
deployercredentials
terraform/tffiles/tfplan
!terraform/tfbuild/DO_NOT_DELETE
terraform/tfbuild/*
*/__pycache__/*
all-cfn-templates.yaml