---
Description: {{sceptre_user_data.description|default('S3 Access Grant Instance(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for access_grant_instance in sceptre_user_data.access_grant_instances %}{# BEGIN {%- for access_grant_instance in sceptre_user_data.access_grant_instances %} #}
{%- set access_grant_instance_name = access_grant_instance.name %}
  {{ access_grant_instance_name }}:
    Type: AWS::S3::AccessGrantsInstance
    DeletionPolicy: {{ access_grant_instance.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ access_grant_instance.update_replace_policy | default('Delete') }}
    Properties:
{%- if access_grant_instance.identity_center_arn is defined %}
      IdentityCenterArn: {{ access_grant_instance.identity_center_arn }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if access_grant_instance.tags is defined %}
{%- for key,value in access_grant_instance.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}{# END {%- for access_grant_instance in sceptre_user_data.access_grant_instances %} #}

Outputs:
{%- for access_grant_instance in sceptre_user_data.access_grant_instances %}
{%- set access_grant_instance_name = access_grant_instance.name %}
  {{ access_grant_instance_name }}:
    Description: Access Grant Instance Id for {{ access_grant_instance_name }}
    Value:
      Ref: {{ access_grant_instance_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ access_grant_instance_name }}"
  {{ access_grant_instance_name }}AccessGrantsInstanceId:
    Description: The Access Grant Instance Id for {{ access_grant_instance_name }}
    Value:
      Fn::GetAtt:
        - {{ access_grant_instance_name }}
        - AccessGrantsInstanceId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ access_grant_instance_name }}-AccessGrantsInstanceId"
  {{ access_grant_instance_name }}AccessGrantsInstanceArn:
    Description: The Access Grant Instance ARN for {{ access_grant_instance_name }}
    Value:
      Fn::GetAtt:
        - {{ access_grant_instance_name }}
        - AccessGrantsInstanceArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ access_grant_instance_name }}-AccessGrantsInstanceArn"
{%- endfor %}{#
# Supported structure as of 2025-04-22:
Type: AWS::S3::AccessGrantsInstance
Properties:
  IdentityCenterArn: String
  Tags: 
    -
      Key: String
      Value: String
#}