{%- macro prep(field_to_match) %}
{%- if field_to_match.all_query_arguments is defined %}
AllQueryArguments: {{ field_to_match.all_query_arguments }}
{%- endif %}
{%- if field_to_match.body is defined %}
Body:
  OversizeHandling: {{ field_to_match.body.oversize_handling }}
{%- endif %}
{%- if field_to_match.cookies is defined %}
Cookies:
  MatchPattern:
{%- if field_to_match.cookies.match_pattern.all is defined %}
    All: {{ field_to_match.cookies.match_pattern.all }}
{%- endif %}
{%- if field_to_match.cookies.match_pattern.excluded_cookies is defined %}
    ExcludedCookies:
{%- for cookie in field_to_match.cookies.match_pattern.excluded_cookies %}
      - {{ cookie }}
{%- endfor %}
{%- endif %}
{%- if field_to_match.cookies.match_pattern.included_cookies is defined %}
    IncludedCookies:
{%- for cookie in field_to_match.cookies.match_pattern.included_cookies %}
      - {{ cookie }}
{%- endfor %}
{%- endif %}
  MatchScope: {{ field_to_match.cookies.match_scope }}
  OversizeHandling: {{ field_to_match.cookies.oversize_handling }}
{%- endif %}
{%- if field_to_match.headers is defined %}
Headers:
  MatchPattern:
{%- if field_to_match.headers.match_pattern.all is defined %}
    All: {{ field_to_match.headers.match_pattern.all }}
{%- endif %}
{%- if field_to_match.headers.match_pattern.excluded_headers is defined %}
    ExcludedHeaders:
{%- for excluded_header in field_to_match.headers.match_pattern.excluded_headers %}
      - {{ excluded_header }}
{%- endfor %}
{%- endif %}
{%- if field_to_match.headers.match_pattern.included_headers is defined %}
    IncludedHeaders:
{%- for included_header in field_to_match.headers.match_pattern.included_headers %}
      - {{ included_header }}
{%- endfor %}
{%- endif %}
  MatchScope: {{ field_to_match.headers.match_scope }}
  OversizeHandling: {{ field_to_match.headers.oversize_handling }}
{%- endif %}
{%- if field_to_match.json_body is defined %}
JsonBody:
  MatchPattern:
{%- if field_to_match.json_body.match_pattern.all is defined %}
    All: {{ field_to_match.json_body.match_pattern.all }}
{%- endif %}
{%- if field_to_match.json_body.match_pattern.included_paths is defined %}
    IncludedPaths:
{%- for included_path in field_to_match.json_body.match_pattern.included_paths %}
      - {{ included_path }}
{%- endfor %}
{%- endif %}
  MatchScope: {{ field_to_match.json_body.match_scope }}
  InvalidFallbackBehavior: {{ field_to_match.json_body.invaid_fallback_behavior }}
  OversizeHandling: {{ field_to_match.json_body.oversize_handling }}
{%- endif %}
{%- if field_to_match.method is defined %}
Method: {{ field_to_match.method }}
{%- endif %}
{%- if field_to_match.query_string is defined %}
QueryString: {{ field_to_match.query_string }}
{%- endif %}
{%- if field_to_match.single_header is defined %}
SingleHeader: {{ field_to_match.single_header }}
{%- endif %}
{%- if field_to_match.single_query_argument is defined %}
SingleQueryArgument: {{ field_to_match.single_query_argument }}
{%- endif %}
{%- if field_to_match.url_path is defined %}
UriPath: {{ field_to_match.url_path }}
{%- endif %}

{%- endmacro %}