---
Description: {{sceptre_user_data.description|default('Customer Gateway(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for customer_gateway in sceptre_user_data.customer_gateways %}
{%- set customer_gateway_name = customer_gateway.name %}
  {{ customer_gateway_name }}:
    Type: AWS::EC2::CustomerGateway
    DeletionPolicy: {{ customer_gateway.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ customer_gateway.update_replace_policy | default('Delete') }}
    Properties:
{%- if customer_gateway.bgp_asn is defined %}
      BgpAsn: {{ customer_gateway.bgp_asn }}
{%- endif %}
{%- if customer_gateway.bgp_asn_extended is defined %}
      BgpAsnExtended: {{ customer_gateway.bgp_asn_extended }}
{%- endif %}
{%- if customer_gateway.certificate_arn is defined %}
      CertificateArn: {{ customer_gateway.certificate_arn | trim }}
{%- endif %}
{%- if customer_gateway.device_name is defined %}
      DeviceName: {{ customer_gateway.device_name }}
{%- endif %}
      IpAddress: {{ customer_gateway.ip_address }}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if customer_gateway.tags is defined %}
{%- for key,value in customer_gateway.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
      Type: ipsec.1
{%- endfor %}

Outputs:
{%- for customer_gateway in sceptre_user_data.customer_gateways %}
{%- set customer_gateway_name = customer_gateway.name %}
  {{ customer_gateway_name }}:
    Description: The ID of {{ customer_gateway_name }}
    Value:
      Ref: {{ customer_gateway_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ customer_gateway_name }}"
{%- endfor %}{#
# Supported structure as of 20241027:
Type: AWS::EC2::CustomerGateway
Properties:
  BgpAsn: Integer
  BgpAsnExtended: Number
  CertificateArn: String
  DeviceName: String
  IpAddress: String
  Tags:
    - Key: String
      Value: String
  Type: String
#}