---
Description: {{sceptre_user_data.description|default('EC2 Host(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for host in sceptre_user_data.hosts %}
{%- set host_name = host.name %}
  {{ host_name }}:
    Type: AWS::EC2::Host
    DeletionPolicy: {{ host.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ host.update_replace_policy | default('Delete') }}
    Properties:
      AvailabilityZone: {{ host.availability_zone }}
{%- if host.asset_id is defined %}
      AssetId: {{ host.asset_id }}
{%- endif %}
{%- if host.auto_placement is defined %}
      AutoPlacement: {{ host.auto_placement }}
{%- endif %}
{%- if host.host_maintenance is defined %}
      HostMaintenance: {{ host.host_maintenance }}
{%- endif %}
{%- if host.host_recovery is defined %}
      HostRecovery: {{ host.host_recovery }}
{%- endif %}
{%- if host.instance_family is defined %}
      InstanceFamily: {{ host.instance_family }}
{%- endif %}
{%- if host.instance_type is defined %}
      InstanceType: {{ host.instance_type }}
{%- endif %}
{%- if host.outpost_arn is defined %}
      OutpostArn: {{ host.outpost_arn | trim }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for host in sceptre_user_data.hosts %}
{%- set host_name = host.name %}
  {{ host_name }}:
    Description: The host ID for {{ host_name }}
    Value:
      Ref: {{ host_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ host_name }}"
{%- endfor %}{#
# Supported structure as of 2025-04-08:
Type: AWS::EC2::Host
Properties:
  AssetId: String
  AutoPlacement: String
  AvailabilityZone: String
  HostMaintenance: String
  HostRecovery: String
  InstanceFamily: String
  InstanceType: String
  OutpostArn: String
#}