---
{%- import 'macros/prop-launch-template.yaml.j2' as prop_launch_template %}
{%- import 'macros/prop-instance.yaml.j2' as prop_instance %}
Description: {{sceptre_user_data.description|default('EC2 Instances for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for instance in sceptre_user_data.instances %}
{%- set instance_name = instance.name %}
{%- if instance.launch_template_spec is defined %}{# BEGIN if instance.launch_template_spec is defined #}
{%- set launch_template = instance.launch_template_spec %}
{%- set launch_template_name = instance_name ~ 'LaunchTemplate' %}
  {{ launch_template_name }}:
{{ prop_launch_template.prep_launch_template(launch_template) }}
{%- endif %}{# END if instance.launch_template_spec is defined #}
{######## BEGIN Type: AWS::EC2::Instance + optional AWS::EC2::EIPAssociation ########}
  {{ instance_name }}:
    Type: AWS::EC2::Instance
{%- if instance.launch_template_spec is defined %}{# BEGIN if instance.launch_template_spec is defined #}
{%- set launch_template_name = instance_name ~ 'LaunchTemplate' %}
    DependsOn: {{ launch_template_name }}
{%- endif %}{# END if instance.launch_template_spec is defined #}
{%- if instance.metadata is defined %}
    Metadata:
{{ instance.metadata | indent(width=6,first=True) }}
{%- endif %}
{%- if instance.creation_policy is defined %}
    CreationPolicy:
      ResourceSignal:
{%- if instance.creation_policy.resource_signal.count is defined %}
        Count: {{ instance.creation_policy.resource_signal.count }}
{%- endif %}
{%- if instance.creation_policy.resource_signal.timeout is defined %}
        Timeout: {{ instance.creation_policy.resource_signal.timeout }}
{%- endif %}
{%- endif %}
    DeletionPolicy: {{ instance.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ instance.deletion_policy | default('Delete') }}
    Properties:
{%- if instance.additional_info is defined %}
      AdditionalInfo: {{ instance.additional_info }}
{%- endif %}
{%- if instance.affinity is defined %}
      Affinity: {{ instance.affinity }}
{%- endif %}
{%- if instance.availability_zone is defined %}
      AvailabilityZone: {{ instance.availability_zone }}
{%- endif %}
{%- if instance.block_device_mappings is defined %}
      {{ prop_instance.prep_block_device_mappings(instance.block_device_mappings) | indent(width=6, first=false) }}
{%- endif %}
{%- if instance.cpu_options is defined %}{# BEGIN if instance.cpu_options is defined #}
      CpuOptions:
{%- if instance.cpu_options.core_count is defined %}{# BEGIN if instance.cpu_options.core_count is defined #}
        CoreCount: {{ instance.cpu_options.core_count }}
{%- endif %}{# END if instance.cpu_options.core_count is defined #}
{%- if instance.cpu_options.threads_per_core is defined %}{# BEGIN if instance.cpu_options.threads_per_core is defined #}
        ThreadsPerCore: {{ instance.cpu_options.threads_per_core }}
{%- endif %}{# END if instance.cpu_options.threads_per_core is defined #}
{%- endif %}{# END if instance.cpu_options is defined #}
{%- if instance.credit_specification is defined %}{# BEGIN if instance.credit_specification is defined #}
      CreditSpecification:
{%- if instance.credit_specification.cpu_credits is defined %}
        CPUCredits: {{ instance.credit_specification.cpu_credits }}
{%- endif %}
{%- endif %}{# END if instance.credit_specification is defined #}
{%- if instance.disable_api_termination is defined %}
      DisableApiTermination: {{ instance.disable_api_termination | lower }}
{%- endif %}
{%- if instance.ebs_optimized is defined %}
      EbsOptimized: {{ instance.ebs_optimized | lower }}
{%- endif %}
{%- if instance.elastic_gpu_specifications is defined %}{# BEGIN if instance.elastic_gpu_specifications is defined #}
      ElasticGpuSpecifications:
{%- for specification in instance.elastic_gpu_specifications %}
        - Type: {{ specification.type }}
{%- endfor %}
{%- endif %}{# END if instance.elastic_gpu_specifications is defined #}
{%- if instance.elastic_inference_accelerators is defined %}{# BEGIN if instance.elastic_inference_accelerators is defined #}
      ElasticInferenceAccelerators:
{%- for accelerator in instance.elastic_inference_accelerators %}{# BEGIN for accelerator in instance.elastic_inference_accelerators #}
        - Type: {{ accelerator.type }}
{%- if accelerator.count is defined %}
          Count: {{ accelerator.count }}
{%- endif %}
{%- endfor %}{# END for accelerator in instance.elastic_inference_accelerators #}
{%- endif %}{# END if instance.elastic_inference_accelerators is defined #}
{%- if instance.enclave_options is defined %}{# BEGIN if instance.enclave_options is defined #}
      EnclaveOptions:
{%- if instance.enclave_options.enabled is defined %}
        Enabled: {{ instance.enclave_options.enabled | lower }}
{%- endif %}
{%- endif %}{# END if instance.enclave_options is defined #}
{%- if instance.hibernation_options is defined %}{# BEGIN if instance.hibernation_options is defined #}
      HibernationOptions:
{%- if instance.hibernation_options.configured is defined %}
        Configured: {{ instance.hibernation_options.configured }}
{%- endif %}
{%- endif %}{# END if instance.hibernation_options is defined #}
{%- if instance.host_id is defined %}
      HostId: {{ instance.host_id | trim }}
{%- endif %}
{%- if instance.host_resource_group_arn is defined %}
      HostResourceGroupArn: {{ instance.host_resource_group_arn | trim }}
{%- endif %}
{%- if instance.iam_instance_profile is defined %}
      IamInstanceProfile: {{ instance.iam_instance_profile }}
{%- endif %}
{%- if instance.image_id is defined %}
      ImageId: {{ instance.image_id | trim }}
{%- endif %}
{%- if instance.instance_initiated_shutdown_behavior is defined %}
      InstanceInitiatedShutdownBehavior: {{ instance.instance_initiated_shutdown_behavior }}
{%- endif %}
{%- if instance.instance_type is defined %}
      InstanceType: {{ instance.instance_type }}
{%- endif %}
{%- if instance.ipv6_address_coutn is defined %}
      Ipv6AddressCount: {{ instance.ipv6_address_coutn }}
{%- endif %}
{%- if instance.ipv6_addresses is defined %}
      Ipv6Addresses:
{%- for address in instance.ipv6_addresses %}
        - Ipv6Address: {{ address.ipv6_address }}
{%- endfor %}
{%- endif %}
{%- if instance.kernel_id is defined %}
      KernelId: {{ instance.kernel_id | trim }}
{%- endif %}
{%- if instance.key_name is defined %}
      KeyName: {{ instance.key_name }}
{%- endif %}
{%- if instance.launch_template is defined %}
      LaunchTemplate:
{%- if instance.launch_template.version is defined %}
        Version: {{ instance.launch_template.version | trim }}
{%- endif %}
{%- if instance.launch_template.launch_template_id is defined %}{# BEGIN if instance.launch_template.launch_template_id/instance.launch_template.launch_template_name is defined #}
        LaunchTemplateId: {{ instance.launch_template.launch_template_id | trim }}
{%- elif instance.launch_template.launch_template_name is defined %}{# ELSE if instance.launch_template.launch_template_id/instance.launch_template.launch_template_name is defined #}
        LaunchTemplateName: {{ instance.launch_template.launch_template_name }}
{%- endif %}{# END if instance.launch_template.launch_template_id/instance.launch_template.launch_template_name is defined #}
{%- endif %}
{%- if instance.license_specifications is defined %}
      LicenseSpecifications:
{%- for specification in instance.license_specifications %}
        - LicenseConfigurationArn: {{ specification.license_configuration_arn | trim }}
{%- endfor %}
{%- endif %}
{%- if instance.monitoring is defined %}
      Monitoring: {{ instance.monitoring | lower }}
{%- endif %}
{%- if instance.network_interfaces is defined %}
      {{ prop_instance.prep_network_interfaces(instance.network_interfaces) | indent(width=6, first=false) }}
{%- endif %}
{%- if instance.placement_group_name is defined %}
      PlacementGroupName: {{ instance.placement_group_name }}
{%- endif %}
{%- if instance.private_dns_name_options is defined %}{# BEGIN if instance.private_dns_name_options is defined #}
      PrivateDnsNameOptions:
{%- if instance.private_dns_name_options.enable_resource_name_dns_aaaa_record is defined %}
        EnableResourceNameDnsAAAARecord: {{ instance.private_dns_name_options.enable_resource_name_dns_aaaa_record | lower }}
{%- endif %}
{%- if instance.private_dns_name_options.enable_resource_name_dns_a_record is defined %}
        EnableResourceNameDnsARecord: {{ instance.private_dns_name_options.enable_resource_name_dns_a_record | lower }}
{%- endif %}
{%- if instance.private_dns_name_options.hostname_type is defined %}
        HostnameType: {{ instance.private_dns_name_options.hostname_type }}
{%- endif %}
{%- endif %}{# END if instance.private_dns_name_options is defined #}
{%- if instance.private_ip_address is defined %}
      PrivateIpAddress: {{ instance.private_ip_address }}
{%- endif %}
{%- if instance.propagate_tags_to_volume_on_creation is defined %}
      PropagateTagsToVolumeOnCreation: {{ instance.propagate_tags_to_volume_on_creation | lower }}
{%- endif %}
{%- if instance.ram_disk_id is defined %}
      RamdiskId: {{ instance.ram_disk_id | trim }}
{%- endif %}
{%- if instance.security_group_ids is defined %}
      SecurityGroupIds:
{%- for item in instance.security_group_ids %}
        - {{ item }}
{%- endfor %}
{%- endif %}
{%- if instance.security_groups is defined %}
      SecurityGroups:
{%- for item in instance.security_groups %}
        - {{ item }}
{%- endfor %}
{%- endif %}
{%- if instance.source_dest_check is defined %}
      SourceDestCheck: {{ instance.source_dest_check | lower }}
{%- endif %}
{%- if instance.ssm_associations is defined %}{# BEGIN if instance.ssm_associations is defined #}
      SsmAssociations:
{%- for association in instance.ssm_associations %}{# BEGIN for association in instance.ssm_associations #}
        - DocumentName: {{ association.document_name }}
{%- if association.association_parameters is defined %}{# BEGIN if association.association_parameters is defined #}
          AssociationParameters:
{%- for parameter in association.association_parameters %}{# BEGIN for parameter in association.association_parameters #}
            -
              Key: {{ parameter.key }}
              Value:
{%- for item in parameter.value %}
                - {{ item }}
{%- endfor %}
{%- endfor %}{# END for parameter in association.association_parameters #}
{%- endif %}{# END if association.association_parameters is defined #}
{%- endfor %}{# END for association in instance.ssm_associations #}
{%- endif %}{# END if instance.ssm_associations is defined #}
{%- if instance.subnet_id is defined %}
      SubnetId: {{ instance.subnet_id | trim }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if instance.tags is defined %}{# BEGIN if instance.tags is defined #}
{%- for key, value in instance.tags.items() %}{# BEGIN for key, value in instance.tags.items() #}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}{# END for key, value in instance.tags.items() #}
{%- endif %}{# END if instance.tags is defined #}
{%- if instance.tenancy is defined %}
      Tenancy: {{ instance.tenancy }}
{%- endif %}
{%- if instance.user_data is defined %}
      UserData:
        {{ instance.user_data | indent(width=8, first=false) }}
{%- endif %}
{%- if instance.volumes is defined %}{# BEGIN if instance.volumes is defined #}
      Volumes:
{%- for volume in instance.volumes %}{# BEGIN for volume in instance.volumes #}
        - Device: {{ volume.device }}
          VolumeId: {{ volume.volume_id | trim }}
{%- endfor %}{# END for volume in instance.volumes #}
{%- endif %}{# END if instance.volumes is defined #}
{%- if instance.eip_allocation_id is defined %}
  {{ instance_name }}EIPAssociation:
    Type: AWS::EC2::EIPAssociation
    DeletionPolicy: {{ instance.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ instance.deletion_policy | default('Delete') }}
    Properties:
      AllocationId: {{ instance.eip_allocation_id | trim }}
      InstanceId:
        Ref: {{ instance_name }}
{%- endif %}
{%- endfor %}
{######## END Type: AWS::EC2::Instance + optional AWS::EC2::EIPAssociation ########}

Outputs:
{%- for instance in sceptre_user_data.instances %}
{%- set instance_name = instance.name %}
  {{ instance_name }}:
{%- if instance.description is defined %}
    Description: {{ instance.description }}
{%- else %}
    Description: The instance ID of {{ instance_name }}
{%- endif %}
    Value:
      Ref: {{ instance_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ instance_name }}"
  {{ instance_name }}AvailabilityZone:
    Description: The Availability Zone for {{ instance_name }}
    Value:
      Fn::GetAtt:
        - {{ instance_name }}
        - AvailabilityZone
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ instance_name }}-AvailabilityZone"
  {{ instance_name }}PrivateDnsName:
    Description: The Private DNS Name for {{ instance_name }}
    Value:
      Fn::GetAtt:
        - {{ instance_name }}
        - PrivateDnsName
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ instance_name }}-PrivateDnsName"
  {{ instance_name }}PrivateIp:
    Description: The Private IP address for {{ instance_name }}
    Value:
      Fn::GetAtt:
        - {{ instance_name }}
        - PrivateIp
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ instance_name }}-PrivateIp"
{%- endfor %}{#
# Supported structure as of 2025-04-08:
Type: AWS::EC2::Instance
Properties:
  AdditionalInfo: String
  Affinity: String
  AvailabilityZone: String
  BlockDeviceMappings:
    -
      DeviceName: String
      Ebs:
        DeleteOnTermination: Boolean
        Encrypted: Boolean
        Iops: Integer
        KmsKeyId: String
        SnapshotId: String
        VolumeSize: Integer
        VolumeType: String
      NoDevice: Json
      VirtualName: String
  CpuOptions:
    CoreCount: Integer
    ThreadsPerCore: Integer
  CreditSpecification:
    CPUCredits: String
  DisableApiTermination: Boolean
  EbsOptimized: Boolean
  ElasticGpuSpecifications:
    - Type: String
  ElasticInferenceAccelerators:
    -
      Count: Integer
      Type: String
  EnclaveOptions:
    Enabled: Boolean
  HibernationOptions:
    Configured: Boolean
  HostId: String
  HostResourceGroupArn: String
  IamInstanceProfile: String
  ImageId: String
  InstanceInitiatedShutdownBehavior: String
  InstanceType: String
  Ipv6AddressCount: Integer
  Ipv6Addresses:
    - Ipv6Address: String
  KernelId: String
  KeyName: String
  LaunchTemplate:
    LaunchTemplateId: String
    LaunchTemplateName: String
    Version: String
  LicenseSpecifications:
    - LicenseConfigurationArn: String
  Monitoring: Boolean
  NetworkInterfaces:
    -
      AssociateCarrierIpAddress: Boolean
      AssociatePublicIpAddress: Boolean
      DeleteOnTermination: Boolean
      Description: String
      DeviceIndex: String
      EnaSrdSpecification:
        EnaSrdEnabled: Boolean
        EnaSrdUdpSpecification:
          EnaSrdUdpEnabled: Boolean
      GroupSet:
        - String
      Ipv6AddressCount: Integer
      Ipv6Addresses:
        - Ipv6Address: String
      NetworkInterfaceId: String
      PrivateIpAddress: String
      PrivateIpAddresses:
        -
          Primary: Boolean
          PrivateIpAddress: String
      SecondaryPrivateIpAddressCount: Integer
      SubnetId: String
  PlacementGroupName: String
  PrivateDnsNameOptions:
    EnableResourceNameDnsAAAARecord: Boolean
    EnableResourceNameDnsARecord: Boolean
    HostnameType: String
  PrivateIpAddress: String
  PropagateTagsToVolumeOnCreation: Boolean
  RamdiskId: String
  SecurityGroupIds:
    - String
  SecurityGroups:
    - String
  SourceDestCheck: Boolean
  SsmAssociations:
    -
      AssociationParameters:
        -
          Key: String
          Value:
            - String
      DocumentName: String
  SubnetId: String
  Tags:
    -
      Key: String
      Value: String
  Tenancy: String
  UserData: String
  Volumes:
    -
      Device: String
      VolumeId: String
#}