---
{%- import 'macros/prop-launch-template.yaml.j2' as prop_launch_template %}
Description: {{sceptre_user_data.description|default('EC2 Launch Template(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for launch_template in sceptre_user_data.launch_templates %}
{%- set launch_template_name = launch_template.name %}
  {{ launch_template_name }}:
{{ prop_launch_template.prep_launch_template(launch_template) }}
{%- endfor %}

Outputs:
{%- for launch_template in sceptre_user_data.launch_templates %}
{%- set launch_template_name = launch_template.name %}
  {{ launch_template_name }}:
    Description: Launch Template ID for {{ launch_template_name }}
    Value:
      Ref: {{ launch_template_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_template_name }}"
  {{ launch_template_name }}DefaultVersionNumber:
    Description: The default version of the launch template for {{ launch_template_name }}
    Value:
      Fn::GetAtt:
        - {{ launch_template_name }}
        - DefaultVersionNumber
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_template_name }}-DefaultVersionNumber"
  {{ launch_template_name }}LatestVersionNumber:
    Description: The latest version of the launch template for {{ launch_template_name }}
    Value:
      Fn::GetAtt:
        - {{ launch_template_name }}
        - LatestVersionNumber
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_template_name }}-LatestVersionNumber"
{%- endfor %}