---
Description: {{sceptre_user_data.description|default('EC2 LocalGatewayRouteTableVPCAssociation(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for local_gateway_route_table_vpc_association in sceptre_user_data.local_gateway_route_table_vpc_associations %}
{%- set local_gateway_route_table_vpc_association_name = local_gateway_route_table_vpc_association.name %}
  {{ local_gateway_route_table_vpc_association_name }}:
    Type: AWS::EC2::LocalGatewayRouteTableVPCAssociation
    DeletionPolicy: {{ local_gateway_route_table_vpc_association.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ local_gateway_route_table_vpc_association.update_replace_policy | default('Delete') }}
    Properties:
      LocalGatewayRouteTableId: {{ local_gateway_route_table_vpc_association.local_gateway_route_table_id | trim }}
      VpcId: {{ local_gateway_route_table_vpc_association.vpc_id | trim }}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if local_gateway_route_table_vpc_association.tags is defined %}
{%- for key,value in local_gateway_route_table_vpc_association.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for local_gateway_route_table_vpc_association in sceptre_user_data.local_gateway_route_table_vpc_associations %}
{%- set local_gateway_route_table_vpc_association_name = local_gateway_route_table_vpc_association.name %}
  {{ local_gateway_route_table_vpc_association_name }}:
    Description: The association ID for {{ local_gateway_route_table_vpc_association_name }}
    Value:
      Ref: {{ local_gateway_route_table_vpc_association_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ local_gateway_route_table_vpc_association_name }}"

  {{ local_gateway_route_table_vpc_association_name }}LocalGatewayId:
    Description: The ID of the local gateway for {{ local_gateway_route_table_vpc_association_name }}
    Value:
      Fn::GetAtt:
        - {{ local_gateway_route_table_vpc_association_name }}
        - LocalGatewayId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ local_gateway_route_table_vpc_association_name }}-LocalGatewayId"

  {{ local_gateway_route_table_vpc_association_name }}LocalGatewayRouteTableVpcAssociationId:
    Description: The ID of the association for {{ local_gateway_route_table_vpc_association_name }}
    Value:
      Fn::GetAtt:
        - {{ local_gateway_route_table_vpc_association_name }}
        - LocalGatewayRouteTableVpcAssociationId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ local_gateway_route_table_vpc_association_name }}-LocalGatewayRouteTableVpcAssociationId"

  {{ local_gateway_route_table_vpc_association_name }}State:
    Description: The state of the association for {{ local_gateway_route_table_vpc_association_name }}
    Value:
      Fn::GetAtt:
        - {{ local_gateway_route_table_vpc_association_name }}
        - State
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ local_gateway_route_table_vpc_association_name }}-State"

{%- endfor %}