---
Description: {{sceptre_user_data.description|default('Network ACL Entry(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for nacl_entry in sceptre_user_data.network_acl_entries %}
{%- set nacl_entry_name = nacl_entry.name %}
  {{ nacl_entry_name }}:
    Type: AWS::EC2::NetworkAclEntry
    DeletionPolicy: {{ nacl_entry.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ nacl_entry.update_replace_policy | default('Delete') }}
    Properties:
      NetworkAclId: {{ nacl_entry.network_acl_id | trim }}
      Protocol: {{ nacl_entry.protocol }}
      RuleAction: {{ nacl_entry.rule_action }}
      RuleNumber: {{ nacl_entry.rule_number }}
{%- if nacl_entry.direction is defined %}
      Egress: {{ 'true' if nacl_entry.direction == 'egress' else 'false' }}
{%- endif %}
{%- if nacl_entry.cidr_block is defined %}
      CidrBlock: {{ nacl_entry.cidr_block }}
{%- endif %}
{%- if nacl_entry.ipv6_cidr_block is defined %}
      Ipv6CidrBlock: {{ nacl_entry.ipv6_cidr_block }}
{%- endif %}
{%- if nacl_entry.icmp is defined %}
      Icmp:
{%- if nacl_entry.icmp.code is defined %}
        Code: {{ nacl_entry.icmp.code }}
{%- endif %}
{%- if nacl_entry.icmp.type is defined %}
        Type: {{ nacl_entry.icmp.type }}
{%- endif %}
{%- endif %}
{%- if nacl_entry.port_range is defined %}{# BEGIN if nacl_entry.port_range is defined #}
      PortRange:
{%- if nacl_entry.port_range.from is defined %}
        From: {{ nacl_entry.port_range.from }}
{%- endif %}
{%- if nacl_entry.port_range.to is defined %}
        To: {{ nacl_entry.port_range.to }}
{%- endif %}
{%- endif %}{# END if nacl_entry.port_range is defined #}
{%- endfor %}

Outputs:
{%- for nacl_entry in sceptre_user_data.network_acl_entries %}
{%- set nacl_entry_name = nacl_entry.name %}
  {{ nacl_entry_name }}:
    Description: The NACL entry ID for {{ nacl_entry_name }}
    Value:
      Ref: {{ nacl_entry_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ nacl_entry_name }}"
{%- endfor %}{#
# Supported structure as of 2025-04-08:
Type: AWS::EC2::NetworkAclEntry
Properties:
  CidrBlock: String
  Egress: Boolean
  Icmp:
    Icmp
  Ipv6CidrBlock: String
  NetworkAclId: String
  PortRange:
    PortRange
  Protocol: Integer
  RuleAction: String
  RuleNumber: Integer
#}