---
Description: {{sceptre_user_data.description|default('EC2 NetworkInsightsAnalysis(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for network_insight_analysis in sceptre_user_data.network_insight_analysiss %}
{%- set network_insight_analysis_name = network_insight_analysis.name %}
  {{ network_insight_analysis_name }}:
    Type: AWS::EC2::NetworkInsightsAnalysis
    DeletionPolicy: {{ network_insight_analysis.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ network_insight_analysis.update_replace_policy | default('Delete') }}
    Properties:
      NetworkInsightsPathId: {{ network_insight_analysis.network_insights_path_id | trim }}
{%- if network_insight_analysis.filter_in_arns is defined %}
      FilterInArns:
{%- for filter_in_arn in network_insight_analysis.filter_in_arns %}
        - {{ filter_in_arn | trim }}
{%- endfor %}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if network_insight_analysis.tags is defined %}
{%- for key,value in network_insight_analysis.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for network_insight_analysis in sceptre_user_data.network_insight_analysiss %}
{%- set network_insight_analysis_name = network_insight_analysis.name %}
  {{ network_insight_analysis_name }}:
    Description: The ID of the network insights analysis for {{ network_insight_analysis_name }}
    Value:
      Ref: {{ network_insight_analysis_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}"

  {{ network_insight_analysis_name }}AlternatePathHints:
    Description: Potential intermediate components for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - AlternatePathHints
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-AlternatePathHints"

  {{ network_insight_analysis_name }}Explanations:
    Description: The explanations for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - Explanations
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-Explanations"

  {{ network_insight_analysis_name }}ForwardPathComponents:
    Description: The components in the path from source to destination for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - ForwardPathComponents
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-ForwardPathComponents"

  {{ network_insight_analysis_name }}NetworkInsightsAnalysisArn:
    Description: The Amazon Resource Name (ARN) of the network insights analysi for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - NetworkInsightsAnalysisArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-NetworkInsightsAnalysisArn"

  {{ network_insight_analysis_name }}NetworkInsightsAnalysisId:
    Description: The ID of the network insights analysis for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - NetworkInsightsAnalysisId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-NetworkInsightsAnalysisId"

  {{ network_insight_analysis_name }}NetworkPathFound:
    Description: Indication whether the destination is reachable from the source for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - NetworkPathFound
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-NetworkPathFound"

  {{ network_insight_analysis_name }}ReturnPathComponents:
    Description: The components in the path from destination to source for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - ReturnPathComponents
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-ReturnPathComponents"

  {{ network_insight_analysis_name }}StartDate:
    Description: The time the analysis started for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - StartDate
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-StartDate"

  {{ network_insight_analysis_name }}Status:
    Description: The status of the network insights analysis for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - Status
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-Status"

  {{ network_insight_analysis_name }}StatusMessage:
    Description: The status message, if the status is failed for {{ network_insight_analysis_name }}
    Value:
      Fn::GetAtt:
        - {{ network_insight_analysis_name }}
        - StatusMessage
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ network_insight_analysis_name }}-StatusMessage"

{%- endfor %}