---
{%- import 'macros/prop-route-entry.yaml.j2' as prop_route_entry %}
Description: {{sceptre_user_data.description|default('Route table(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for route_table in sceptre_user_data.route_tables %}
{%- set route_table_name = route_table.name %}
  {{ route_table_name }}:
    Type: AWS::EC2::RouteTable
    DeletionPolicy: {{ route_table.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ route_table.update_replace_policy | default('Delete') }}
    Properties:
      VpcId: {{ route_table.vpc_id | trim }}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if route_table.tags is defined %}
{%- for key,value in route_table.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- if route_table.route_entries is defined %}{# BEGIN if route_table.route_entries is defined #}
{%- for route_entry in route_table.route_entries %}{# BEGIN for route_entry in route_table.route_entries #}
{%- set route_entry_name = route_table_name ~ route_entry.name %}
  {{ route_entry_name }}:
{{ prop_route_entry.prep_route_entry(route_entry) }}
{%- endfor %}{# END for route_entry in route_table.route_entries #}
{%- endif %}{# END if route_table.route_entries is defined #}
{%- endfor %}

Outputs:
{%- for route_table in sceptre_user_data.route_tables %}
{%- set route_table_name = route_table.name %}
  {{ route_table_name }}:
    Description: Route Table ID for {{ route_table_name }}
    Value:
      Ref: {{ route_table_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ route_table_name }}"
{%- endfor %}{#
# Supported structure as of 2025-04-09:
Type: AWS::EC2::RouteTable
Properties:
  Tags:
    - Tag
  VpcId: String
#}