Description: Route Entry(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for route_entry in sceptre_user_data.route_entries %}
{%- set route_entry_name = route_entry.name %}
  {{ route_entry_name }}:
    Type: AWS::EC2::Route
    Properties: 
      RouteTableId: {{ route_entry.route_table_id }}
{%- if route_entry.destination_cidr_block is defined %}
      DestinationCidrBlock: {{ route_entry.destination_cidr_block }}
{%- elif route_entry.destination_ipv6_cidr_block is defined %}
      DestinationIpv6CidrBlock: {{ route_entry.destination_ipv6_cidr_block }}
{%- endif %}
{%- if route_entry.carrier_gateway_id is defined %}
      CarrierGatewayId: {{ route_entry.carrier_gateway_id }}
{%- endif %}
{%- if route_entry.egress_only_internet_gateway_id is defined %}
      EgressOnlyInternetGatewayId: {{ route_entry.egress_only_internet_gateway_id }}
{%- endif %}
{%- if route_entry.gateway_id is defined %}
      GatewayId: {{ route_entry.gateway_id }}
{%- endif %}
{%- if route_entry.instance_id is defined %}
      InstanceId: {{ route_entry.instance_id }}
{%- endif %}
{%- if route_entry.local_gateway_id is defined %}
      LocalGatewayId: {{ route_entry.local_gateway_id }}
{%- endif %}
{%- if route_entry.nat_gateway_id is defined %}
      NatGatewayId: {{ route_entry.nat_gateway_id }}
{%- endif %}
{%- if route_entry.network_interface_id is defined %}
      NetworkInterfaceId: {{ route_entry.network_interface_id }}
{%- endif %}
{%- if route_entry.transit_gateway_id is defined %}
      TransitGatewayId: {{ route_entry.transit_gateway_id }}
{%- endif %}
{%- if route_entry.vpc_endpoint_id is defined %}
      VpcEndpointId: {{ route_entry.vpc_endpoint_id }}
{%- endif %}
{%- if route_entry.vpc_peering_connection_id is defined %}
      VpcPeeringConnectionId: {{ route_entry.vpc_peering_connection_id }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for route_entry in sceptre_user_data.route_entries %}
{% set route_entry_name = route_entry.name %}
  {{ route_entry_name }}:
    Description: Route Entry ID for {{ route_entry_name }}
    Value:
      Ref: {{ route_entry_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ route_entry_name }}"
{%- endfor %}
