---
{%- import 'macros/prop-route-entry.yaml.j2' as prop_route_entry %}
Description: {{sceptre_user_data.description|default('Route Entry(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for route_entry in sceptre_user_data.route_entries %}
{%- set route_entry_name = route_entry.name %}
  {{ route_entry_name }}:
{{ prop_route_entry.prep_route_entry(route_entry) }}
{%- endfor %}

Outputs:
{%- for route_entry in sceptre_user_data.route_entries %}
{%- set route_entry_name = route_entry.name %}
  {{ route_entry_name }}:
    Description: Route Entry ID for {{ route_entry_name }}
    Value:
      Ref: {{ route_entry_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ route_entry_name }}"
{%- endfor %}{#
# Supported structure as of 2025-04-09:
Type: AWS::EC2::Route
Properties:
  CarrierGatewayId: String
  CoreNetworkArn: String
  DestinationCidrBlock: String
  DestinationIpv6CidrBlock: String
  DestinationPrefixListId: String
  EgressOnlyInternetGatewayId: String
  GatewayId: String
  InstanceId: String
  LocalGatewayId: String
  NatGatewayId: String
  NetworkInterfaceId: String
  RouteTableId: String
  TransitGatewayId: String
  VpcEndpointId: String
  VpcPeeringConnectionId: String
#}