---
Description: Transit Gateway Route Table Propagation(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for tgrt_propagation in sceptre_user_data.transit_gateway_route_table_propagations %}
{%- set tgrt_propagation_name = tgrt_propagation.name %}
  {{ tgrt_propagation_name }}:
    Type: AWS::EC2::TransitGatewayRouteTablePropagation
    DeletionPolicy: {{ tgrt_propagation.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ tgrt_propagation.update_replace_policy | default('Delete') }}
    Properties:
      TransitGatewayAttachmentId: {{ tgrt_propagation.transit_gateway_attachment_id | trim }}
      TransitGatewayRouteTableId: {{ tgrt_propagation.transit_gateway_route_table_id | trim }}
{%- endfor %}

Outputs:
{%- for tgrt_propagation in sceptre_user_data.transit_gateway_route_table_propagations %}
{%- set tgrt_propagation_name = tgrt_propagation.name %}
  {{ tgrt_propagation_name }}:
    Description: The ID of {{ tgrt_propagation_name }}
    Value:
      Ref: {{ tgrt_propagation_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ tgrt_propagation_name }}"

{%- endfor %}
