---
Description: {{sceptre_user_data.description|default('EC2 VPC Endpoint Connection Notification(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for vpc_endpoint_connection_notification in sceptre_user_data.vpc_endpoint_connection_notifications %}
{%- set vpc_endpoint_connection_notification_name = vpc_endpoint_connection_notification.name %}
  {{ vpc_endpoint_connection_notification_name }}:
    Type: AWS::EC2::VPCEndpointConnectionNotification
    DeletionPolicy: {{ vpc_endpoint_connection_notification.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ vpc_endpoint_connection_notification.update_replace_policy | default('Delete') }}
    Properties:
      ConnectionEvents:
{%- for connection_event in vpc_endpoint_connection_notification.connection_events %}
        - {{ connection_event }}
{%- endfor %}
      ConnectionNotificationArn: {{ vpc_endpoint_connection_notification.connection_notification_arn | trim }}
{%- if vpc_endpoint_connection_notification.service_id is defined %}
      ServiceId: {{ vpc_endpoint_connection_notification.service_id }}
{%- endif %}
{%- if vpc_endpoint_connection_notification.vpc_endpoint_id is defined %}
      VPCEndpointId: {{ vpc_endpoint_connection_notification.vpc_endpoint_id }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for vpc_endpoint_connection_notification in sceptre_user_data.vpc_endpoint_connection_notifications %}
{%- set vpc_endpoint_connection_notification_name = vpc_endpoint_connection_notification.name %}
  {{ vpc_endpoint_connection_notification_name }}:
    Description: The ID of the VPC endpoint connectio {{ vpc_endpoint_connection_notification_name }}
    Value:
      Ref: {{ vpc_endpoint_connection_notification_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ vpc_endpoint_connection_notification_name }}"
{%- endfor %}{#
# Support structure as of 2025-04-09:
Type: AWS::EC2::VPCEndpointConnectionNotification
Properties:
  ConnectionEvents:
    - String
  ConnectionNotificationArn: String
  ServiceId: String
  VPCEndpointId: String
#}