---
Description: EC2 VPN Gateway Route Propagation(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for vpn_gateway_route_propagation in sceptre_user_data.vpn_gateway_route_propagations %}
{%- set vpn_gateway_route_propagation_name = vpn_gateway_route_propagation.name %}
  {{ vpn_gateway_route_propagation_name }}:
    Type: AWS::EC2::VPNGatewayRoutePropagation
    DeletionPolicy: {{ vpn_gateway_route_propagation.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ vpn_gateway_route_propagation.update_replace_policy | default('Delete') }}
    Properties:
      RouteTableIds:
{%- for route_table_id in vpn_gateway_route_propagation.route_table_ids %}
        - {{ route_table_id | trim }}
{%- endfor %}
      VpnGatewayId: {{ vpn_gateway_route_propagation.vpn_gateway_id | trim }}

{%- endfor %}

Outputs:

{%- for vpn_gateway_route_propagation in sceptre_user_data.vpn_gateway_route_propagations %}
{%- set vpn_gateway_route_propagation_name = vpn_gateway_route_propagation.name %}
  {{ vpn_gateway_route_propagation_name }}:
    Description: The ID of the VPN gateway for {{ vpn_gateway_route_propagation_name }}
    Value:
      Ref: {{ vpn_gateway_route_propagation_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ vpn_gateway_route_propagation_name }}"

{%- endfor %}