Description: Resource Share(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for resource_share in sceptre_user_data.resource_shares %}
{%- set resource_share_name = resource_share.name %}
  {{ resource_share_name }}:
    Type: AWS::RAM::ResourceShare
    DeletionPolicy: {{ resource_share.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ resource_share.update_replace_policy | default('Delete') }}
    Properties:
      Name: {{ resource_share_name }}
{%- if resource_share.allow_external_principals is defined %}
      AllowExternalPrincipals: {{ resource_share.allow_external_principals }}
{%- endif %}
{%- if resource_share.permission_arns is defined %}
      PermissionArns:
{%- for permission_arn in resource_share.permission_arns %}
        - {{ permission_arn }}
{%- endfor %}
{%- endif %}
{%- if resource_share.principals is defined %}
      Principals:
{%- for principal in resource_share.principals %}
        - "{{ principal }}"
{%- endfor %}
{%- endif %}
{%- if resource_share.resource_arns is defined %}
      ResourceArns:
{%- for resource_arn in resource_share.resource_arns %}
        - {{ resource_arn }}
{%- endfor %}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if resource_share.tags is defined %}
{%- for key,value in resource_share.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:
{% for resource_share in sceptre_user_data.resource_shares %}
{% set resource_share_name = resource_share.name %}
  {{ resource_share_name }}:
    Description: Subnet ID for {{ resource_share_name }}
    Value:
      Ref: {{ resource_share_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resource_share_name }}"

  {{ resource_share_name }}Arn:
    Description: ARN for {{ resource_share_name }}
    Value:
      Fn::GetAtt:
        - {{ resource_share_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resource_share_name }}-Arn"

{% endfor %}
