---
{%- import 'macros/launch_template_specification.yaml.j2' as launch_template_specification %}
{%- import 'macros/launch_template_blockdevicemapping.yaml.j2' as launch_template_blockdevicemapping %}
{%- import 'macros/launch_template_networkinterface.yaml.j2' as launch_template_networkinterface %}
Description: {{sceptre_user_data.description|default('AutoScaling Auto Scaling Group(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for auto_scaling_group in sceptre_user_data.auto_scaling_groups %}{# BEGIN {%- for auto_scaling_group in sceptre_user_data.auto_scaling_groups %} #}
{%- set auto_scaling_group_name = auto_scaling_group.name %}

{%- if auto_scaling_group.launch_configuration is defined %}{# BEGIN {%- if auto_scaling_group.launch_configuration is defined %} #}
{%- set launch_configuration = auto_scaling_group.launch_configuration %}
{%- set launch_configuration_name = auto_scaling_group_name ~ 'LaunchConfiguration' %}
  {{ launch_configuration_name }}:
    Type: AWS::AutoScaling::LaunchConfiguration
{%- if launch_configuration.metadata is defined %}
    Metadata:
{{ launch_configuration.metadata | indent(width=6,first=True) }}
{%- endif %}
    DeletionPolicy: {{ launch_configuration.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ launch_configuration.update_replace_policy | default('Delete') }}
    Properties:
      ImageId: {{ launch_configuration.image_id | trim }}
      InstanceType: {{ launch_configuration.instance_type }}
{%- if launch_configuration.associate_public_ip_address is defined %}
      AssociatePublicIpAddress: {{ launch_configuration.associate_public_ip_address }}
{%- endif %}
{%- if launch_configuration.block_device_mappings is defined %}
      BlockDeviceMappings:
{%- for mapping in launch_configuration.block_device_mappings %}
        - DeviceName: {{ mapping.device_name }}
{%- if mapping.ebs is defined %}
          Ebs:
{%- if mapping.ebs.delete_on_termination is defined %}
            DeleteOnTermination: {{ mapping.ebs.delete_on_termination }}
{%- endif %}
{%- if mapping.ebs.encrypted is defined %}
            Encrypted: {{ mapping.ebs.encrypted }}
{%- endif %}
{%- if mapping.ebs.iops is defined %}
            Iops: {{ mapping.ebs.iops }}
{%- endif %}
{%- if mapping.ebs.snapshot_id is defined %}
            SnapshotId: {{ mapping.ebs.snapshot_id | trim }}
{%- endif %}
{%- if mapping.ebs.throughput is defined %}
            Throughput: {{ mapping.ebs.throughput }}
{%- endif %}
{%- if mapping.ebs.volume_size is defined %}
            VolumeSize: {{ mapping.ebs.volume_size }}
{%- endif %}
{%- if mapping.ebs.volume_type is defined %}
            VolumeType: {{ mapping.ebs.volume_type }}
{%- endif %}
{%- endif %}
{%- if mapping.no_device is defined %}
          NoDevice: {{ mapping.no_device }}
{%- endif %}
{%- if mapping.virtual_name is defined %}
          VirtualName: {{ mapping.virtual_name }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if launch_configuration.classic_link_vpc_id is defined %}
      ClassicLinkVPCId: {{ launch_configuration.classic_link_vpc_id | trim }}
{%- endif %}
{%- if launch_configuration.classic_link_vpc_security_groups is defined %}
      ClassicLinkVPCSecurityGroups:
{%- for security_group_id in launch_configuration.classic_link_vpc_security_groups %}
        - {{ security_group_id | trim }}
{%- endfor %}
{%- endif %}
{%- if launch_configuration.ebs_optimized is defined %}
      EbsOptimized: {{ launch_configuration.ebs_optimized }}
{%- endif %}
{%- if launch_configuration.iam_instance_profile is defined %}
      IamInstanceProfile: {{ launch_configuration.iam_instance_profile }}
{%- endif %}
{%- if launch_configuration.instance_id is defined %}
      InstanceId: {{ launch_configuration.instance_id | trim }}
{%- endif %}
{%- if launch_configuration.instance_monitoring is defined %}
      InstanceMonitoring: {{ launch_configuration.instance_monitoring }}
{%- endif %}
{%- if launch_configuration.kernel_id is defined %}
      KernelId: {{ launch_configuration.kernel_id | trim }}
{%- endif %}
{%- if launch_configuration.key_name is defined %}
      KeyName: {{ launch_configuration.key_name }}
{%- endif %}
{%- if launch_configuration.launch_configuration_name is defined %}
      LaunchConfigurationName: {{ launch_configuration.launch_configuration_name }}
{%- endif %}
{%- if launch_configuration.metadata_options is defined %}
      MetadataOptions:
{%- if launch_configuration.metadata_options.http_endpoint is defined %}
        HttpEndpoint: {{ launch_configuration.metadata_options.http_endpoint }}
{%- endif %}
{%- if launch_configuration.metadata_options.http_put_response_hop_limit is defined %}
        HttpPutResponseHopLimit: {{ launch_configuration.metadata_options.http_put_response_hop_limit }}
{%- endif %}
{%- if launch_configuration.metadata_options.http_tokens is defined %}
        HttpTokens: {{ launch_configuration.metadata_options.http_tokens }}
{%- endif %}
{%- endif %}
{%- if launch_configuration.placement_tenancy is defined %}
      PlacementTenancy: {{ launch_configuration.placement_tenancy }}
{%- endif %}
{%- if launch_configuration.ram_disk_id is defined %}
      RamDiskId: {{ launch_configuration.ram_disk_id | trim }}
{%- endif %}
{%- if launch_configuration.security_groups is defined %}
      SecurityGroups:
{%- for security_group_id in launch_configuration.security_groups %}
        - {{ security_group_id | trim }}
{%- endfor %}
{%- endif %}
{%- if launch_configuration.spot_price is defined %}
      SpotPrice: {{ launch_configuration.spot_price }}
{%- endif %}
{%- if launch_configuration.user_data is defined %}
      UserData:
{{ launch_configuration.user_data | indent(width=8, first=true) }}
{%- endif %}
{%- endif %}{# END {%- if auto_scaling_group.launch_configuration is defined %} #}

{%- if auto_scaling_group.launch_template_spec is defined %}{# BEGIN {%- if auto_scaling_group.launch_template is defined %} #}
{%- set launch_template = auto_scaling_group.launch_template_spec %}
{%- set launch_template_name = auto_scaling_group_name ~ 'LaunchTemplate' %}
  {{ launch_template_name }}:
    Type: AWS::EC2::LaunchTemplate
{%- if launch_template.metadata is defined %}
    Metadata:
{{ launch_template.metadata | indent(width=6,first=True) }}
{%- endif %}
    DeletionPolicy: {{ launch_template.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ launch_template.update_replace_policy | default('Delete') }}
    Properties:
{%- if launch_template.launch_template_data is defined %}{# BEGIN {%- if launch_template.launch_template_data is defined %} #}
      LaunchTemplateData:
{%- if launch_template.launch_template_data.block_device_mappings is defined %}
{{ launch_template_blockdevicemapping.prep(launch_template.launch_template_data.block_device_mappings) }}
{%- endif %}
{%- if launch_template.launch_template_data.capacity_reservation_specification is defined %}
        CapacityReservationSpecification:
{%- if launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_preference is defined %}
          CapacityReservationPreference: {{ launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_preference }}
{%- endif %}
{%- if launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_target is defined %}
          CapacityReservationTarget:
{%- if launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_target.capacity_reservation_id is defined %}
            CapacityReservationId: {{ launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_target.capacity_reservation_id | trim }}
{%- endif %}
{%- if launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_target.capacity_reservation_resource_group_arn is defined %}
            CapacityReservationResourceGroupArn: {{ launch_template.launch_template_data.capacity_reservation_specification.capacity_reservation_target.capacity_reservation_resource_group_arn | trim }}}
{%- endif %}
{%- endif %}
{%- endif %}
{%- if launch_template.launch_template_data.cpu_options is defined %}{## BEGIN {%- if launch_template.launch_template_data.cpu_options is defined %} ##}}
        CpuOptions:
{%- if launch_template.launch_template_data.cpu_options.core_count is defined %}
          CoreCount: {{ launch_template.launch_template_data.cpu_options.core_count }}
{%- endif %}
{%- if launch_template.launch_template_data.cpu_options.threads_per_core is defined %}
          ThreadsPerCore: {{ launch_template.launch_template_data.cpu_options.threads_per_core }}
{%- endif %}
{%- endif %}{## END {%- if launch_template.launch_template_data.cpu_options is defined %} ##}
{%- if launch_template.launch_template_data.credit_specification is defined %}
        CreditSpecification:
          CpuCredits: {{ launch_template.launch_template_data.credit_specification.cpu_credits }}
{%- endif %}
{%- if launch_template.launch_template_data.disable_api_termination is defined %}
        DisableApiTermination: {{ launch_template.launch_template_data.disable_api_termination }}
{%- endif %}
{%- if launch_template.launch_template_data.ebs_optimized is defined %}
        EbsOptimized: {{ launch_template.launch_template_data.ebs_optimized }}
{%- endif %}
{%- if launch_template.launch_template_data.elastic_gpu_specifications is defined %}
        ElasticGpuSpecifications:
{%- for specification in launch_template.launch_template_data.elastic_gpu_specifications %}
          - Type: {{ specification }}
{%- endfor %}
{%- endif %}
{%- if launch_template.launch_template_data.elastic_inference_accelerators is defined %}{## BEGIN {%- if launch_template.launch_template_data.elastic_inference_accelerators is defined %} ##}
        ElasticInferenceAccelerators:
{%- for elastic_inference_accelerator in launch_template.launch_template_data.elastic_inference_accelerators %}
          -
{%- if elastic_inference_accelerator.count is defined %}
            Count: {{ elastic_inference_accelerator.count }}
{%- endif %}
{%- if elastic_inference_accelerator.type is defined %}
            Type: {{ elastic_inference_accelerator.type }}
{%- endif %}
{%- endfor %}
{%- endif %}{## END {%- if launch_template.launch_template_data.elastic_inference_accelerators is defined %} ##}
{%- if launch_template.launch_template_data.enclave_options is defined %}
        EnclaveOptions:
          Enabled: {{ launch_template.launch_template_data.enclave_options.enabled }}
{%- endif %}
{%- if launch_template.launch_template_data.hibernation_options is defined %}
        HibernationOptions:
          Configured: {{ launch_template.launch_template_data.hibernation_options.configured }}
{%- endif %}
{%- if launch_template.launch_template_data.iam_instance_profile is defined %}{## BEGIN {%- if launch_template.launch_template_data.iam_instance_profile is defined %} ##}
        IamInstanceProfile:
{%- if launch_template.launch_template_data.iam_instance_profile.arn is defined%}
          Arn: {{ launch_template.launch_template_data.iam_instance_profile.arn | trim }}
{%- elif launch_template.launch_template_data.iam_instance_profile.name is defined%}
          Name: {{ launch_template.launch_template_data.iam_instance_profile.name }}
{%- endif %}
{%- endif %}{## END {%- if launch_template.launch_template_data.iam_instance_profile is defined %} ##}
{%- if launch_template.launch_template_data.image_id is defined %}
        ImageId: {{ launch_template.launch_template_data.image_id | trim }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_initiated_shutdown_behavior is defined %}
        InstanceInitiatedShutdownBehavior: {{ launch_template.launch_template_data.instance_initiated_shutdown_behavior }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_market_options is defined %}{## BEGIN {%- if launch_template.launch_template_data.instance_market_options is defined %} ##}
        InstanceMarketOptions:
{%- if launch_template.launch_template_data.instance_market_options.market_type is defined %}
          MarketType: {{ launch_template.launch_template_data.instance_market_options.market_type }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_market_options.spot_options is defined %}
          SpotOptions:
{%- if launch_template.launch_template_data.instance_market_options.spot_options.block_duration_minutes is defined %}
            BlockDurationMinutes: {{ launch_template.launch_template_data.instance_market_options.spot_options.block_duration_minutes }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_market_options.spot_options.instance_interruption_behavior is defined %}
            InstanceInterruptionBehavior: {{ launch_template.launch_template_data.instance_market_options.spot_options.instance_interruption_behavior }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_market_options.spot_options.max_price is defined %}
            MaxPrice: {{ launch_template.launch_template_data.instance_market_options.spot_options.max_price }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_market_options.spot_options.spot_instance_type is defined %}
            SpotInstanceType: {{ launch_template.launch_template_data.instance_market_options.spot_options.spot_instance_type }}
{%- endif %}
{%- if launch_template.launch_template_data.instance_market_options.spot_options.valid_until is defined %}
            ValidUntil: {{ launch_template.launch_template_data.instance_market_options.spot_options.valid_until }}
{%- endif %}
{%- endif %}
{%- endif %}{## END {%- if launch_template.launch_template_data.instance_market_options is defined %} ##}
{%- if launch_template.launch_template_data.instance_type is defined %}
        InstanceType: {{ launch_template.launch_template_data.instance_type }}
{%- endif %}
{%- if launch_template.launch_template_data.kernel_id is defined %}
        KernelId: {{ launch_template.launch_template_data.kernel_id }}
{%- endif %}
{%- if launch_template.launch_template_data.key_name is defined %}
        KeyName: {{ launch_template.launch_template_data.key_name }}
{%- endif %}
{%- if launch_template.launch_template_data.license_specifications is defined %}
        LicenseSpecifications:
{%- for license_specification in launch_template.launch_template_data.license_specifications %}
          - LicenseConfigurationArn: {{ license_specification.license_configuration_arn | trim }}
{%- endfor %}
{%- endif %}
{%- if launch_template.launch_template_data.metadata_options is defined %}{## BEGIN {%- if launch_template.launch_template_data.metadata_options is defined %} ##}
        MetadataOptions:
{%- if launch_template.launch_template_data.metadata_options.http_endpoint is defined %}
          HttpEndpoint: {{ launch_template.launch_template_data.metadata_options.http_endpoint }}
{%- endif %}
{%- if launch_template.launch_template_data.metadata_options.http_protocol_ipv6 is defined %}
          HttpProtocolIpv6: {{ launch_template.launch_template_data.metadata_options.http_protocol_ipv6 }}
{%- endif %}
{%- if launch_template.launch_template_data.metadata_options.http_put_response_hop_limit is defined %}
          HttpPutResponseHopLimit: {{ launch_template.launch_template_data.metadata_options.http_put_response_hop_limit }}
{%- endif %}
{%- if launch_template.launch_template_data.metadata_options.http_tokens is defined %}
          HttpTokens: {{ launch_template.launch_template_data.metadata_options.http_tokens }}
{%- endif %}
{%- if launch_template.launch_template_data.metadata_options.instance_metadata_tags is defined %}
          InstanceMetadataTags: {{ launch_template.launch_template_data.metadata_options.instance_metadata_tags }}
{%- endif %}
{%- endif %}{## END {%- if launch_template.launch_template_data.metadata_options is defined %} ##}
{%- if launch_template.launch_template_data.monitoring is defined %}
        Monitoring:
          Enabled: {{ launch_template.launch_template_data.monitoring.enabled }}
{%- endif %}
{%- if launch_template.launch_template_data.network_interfaces is defined %}
{{ launch_template_networkinterface.prep(launch_template.launch_template_data.network_interfaces) }}
{%- endif %}
{%- if launch_template.launch_template_data.placement is defined %}{## BEGIN {%- if launch_template.launch_template_data.placement is defined %} ##}
        Placement:
{%- if launch_template.launch_template_data.placement.affinity is defined %}
          Affinity: {{ launch_template.launch_template_data.placement.affinity }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.availibility_zone is defined %}
          AvailabilityZone: {{ launch_template.launch_template_data.placement.availibility_zone }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.group_name is defined %}
          GroupName: {{ launch_template.launch_template_data.placement.group_name }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.host_id is defined %}
          HostId: {{ launch_template.launch_template_data.placement.host_id | trim }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.host_resource_group_arn is defined %}
          HostResourceGroupArn: {{ launch_template.launch_template_data.placement.host_resource_group_arn | trim }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.partition_number is defined %}
          PartitionNumber: {{ launch_template.launch_template_data.placement.partition_number }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.spread_domain is defined %}
          SpreadDomain: {{ launch_template.launch_template_data.placement.spread_domain }}
{%- endif %}
{%- if launch_template.launch_template_data.placement.tenancy is defined %}
          Tenancy: {{ launch_template.launch_template_data.placement.tenancy }}
{%- endif %}
{%- endif %}{## END {%- if launch_template.launch_template_data.placement is defined %} ##}
{%- if launch_template.launch_template_data.ram_disk_id is defined %}
        RamDiskId: {{ launch_template.launch_template_data.ram_disk_id | trim }}
{%- endif %}
{%- if launch_template.launch_template_data.security_group_ids is defined %}
        SecurityGroupIds:
{%- for security_group_id in launch_template.launch_template_data.security_group_ids %}
          - {{ security_group_id | trim }}
{%- endfor %}
{%- endif %}
{%- if launch_template.launch_template_data.security_groups is defined %}
        SecurityGroups:
{%- for security_group_name in launch_template.launch_template_data.security_groups %}
          - {{ security_group_name }}
{%- endfor %}
{%- endif %}
{%- if launch_template.launch_template_data.tag_specifications is defined %}
        TagSpecifications:
{%- for tag_specification in launch_template.launch_template_data.tag_specifications %}
          -
{%- if tag_specification.resource_type is defined %}
            ResourceType: {{ tag_specification.resource_type }}
{%- endif %}
{%- if tag_specification.tags is defined %}
            Tags:
{%- for key, value in tag_specification.tags.items() %}
              - Key: {{ key }}
                Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if launch_template.launch_template_data.user_data is defined %}
        UserData:
{{ launch_template.launch_template_data.user_data | indent(width=10, first=true) }}
{%- endif %}
{%- endif %}{# END {%- if launch_template.launch_template_data is defined %} #}
{%- if launch_template.launch_template_name is defined %}
      LaunchTemplateName: {{ launch_template.launch_template_name }}
{%- endif %}
{%- if launch_template.tag_specifications is defined %}
      TagSpecifications:
{%- for tag_specification in launch_template.tag_specifications %}
        -
{%- if tag_specification.resource_type is defined %}
          ResourceType: {{ tag_specification.resource_type }}
{%- endif %}
{%- if tag_specification.tags is defined %}
          Tags:
{%- for key, value in tag_specification.tags.items() %}
            - Key: {{ key }}
              Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endif %}{# END {%- if auto_scaling_group.launch_template is defined %} #}


  {{ auto_scaling_group_name }}:
    Type: AWS::AutoScaling::AutoScalingGroup
{%- if auto_scaling_group.launch_template_spec is defined %}{# BEGIN {%- if auto_scaling_group.launch_template is defined %} #}
{%- set launch_template_name = auto_scaling_group_name ~ 'LaunchTemplate' %}
    DependsOn: {{ launch_template_name }}
{%- endif %}{# END {%- if auto_scaling_group.launch_template is defined %} #}
    DeletionPolicy: {{ auto_scaling_group.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ auto_scaling_group.update_replace_policy | default('Delete') }}
{%- if auto_scaling_group.creation_policy is defined %}{# BEGIN {%- if auto_scaling_group.creation_policy is defined %} #}
    CreationPolicy:
{%- if auto_scaling_group.creation_policy.auto_scaling_creation_policy is defined %}
      AutoScalingCreationPolicy:
        MinSuccessfulInstancesPercent: {{ auto_scaling_group.creation_policy.auto_scaling_creation_policy.min_successful_instances_percent }}
{%- endif %}
{%- if auto_scaling_group.creation_policy.resource_signal is defined %}
      ResourceSignal:
{%- if auto_scaling_group.creation_policy.resource_signal.count is defined %}
        Count: {{ auto_scaling_group.creation_policy.resource_signal.count }}
{%- endif %}
{%- if auto_scaling_group.creation_policy.resource_signal.timeout is defined %}
        Timeout: {{ auto_scaling_group.creation_policy.resource_signal.timeout }}
{%- endif %}
{%- endif %}
{%- endif %}{# END {%- if auto_scaling_group.creation_policy is defined %} #}
{%- if auto_scaling_group.update_policy is defined %}{# BEGIN {%- if auto_scaling_group.update_policy is defined %} #}
    UpdatePolicy:
{%- if auto_scaling_group.update_policy.auto_scaling_replacing_update is defined %}
      AutoScalingReplacingUpdate:
        WillReplace: {{ auto_scaling_group.update_policy.auto_scaling_replacing_update.will_replace }}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update is defined %}
      AutoScalingRollingUpdate:
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update.max_batch_size is defined %}
        MaxBatchSize: {{ auto_scaling_group.update_policy.auto_scaling_rolling_update.max_batch_size }}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update.min_instances_in_service is defined %}
        MinInstancesInService: {{ auto_scaling_group.update_policy.auto_scaling_rolling_update.min_instances_in_service }}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update.min_successful_instances_percent is defined %}
        MinSuccessfulInstancesPercent: {{ auto_scaling_group.update_policy.auto_scaling_rolling_update.min_successful_instances_percent }}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update.pause_time is defined %}
        PauseTime: {{ auto_scaling_group.update_policy.auto_scaling_rolling_update.pause_time }}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update.suspend_processes is defined %}
        SuspendProcesses:
{%- for process in auto_scaling_group.update_policy.auto_scaling_rolling_update.suspend_processes %}
          - {{ process }}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_rolling_update.wait_on_resource_signals is defined %}
        WaitOnResourceSignals: {{ auto_scaling_group.update_policy.auto_scaling_rolling_update.wait_on_resource_signals }}
{%- endif %}
{%- endif %}
{%- if auto_scaling_group.update_policy.auto_scaling_scheduled_action is defined %}
      AutoScalingScheduledAction:
        IgnoreUnmodifiedGroupSizeProperties: {{ auto_scaling_group.update_policy.auto_scaling_scheduled_action.ignore_unmodified_group_size_properties }}
{%- endif %}
{%- endif %}{# END {%- if auto_scaling_group.update_policy is defined %} #}

    Properties:
      MaxSize: {{ auto_scaling_group.max_size }}
      MinSize: {{ auto_scaling_group.min_size }}
{%- if auto_scaling_group.auto_scaling_group_name is defined %}
      AutoScalingGroupName: {{ auto_scaling_group.auto_scaling_group_name }}
{%- endif %}
{%- if auto_scaling_group.availability_zones is defined %}
      AvailabilityZones:
{%- for availability_zone in auto_scaling_group.availability_zones %}
        - {{ availability_zone }}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.capacity_rebalance is defined %}
      CapacityRebalance: {{ auto_scaling_group.capacity_rebalance }}
{%- endif %}
{%- if auto_scaling_group.context is defined %}
      Context: {{ auto_scaling_group.context }}
{%- endif %}
{%- if auto_scaling_group.cooldown is defined %}
      Cooldown: {{ auto_scaling_group.cooldown }}
{%- endif %}
{%- if auto_scaling_group.default_instance_warmup is defined %}
      DefaultInstanceWarmup: {{ auto_scaling_group.default_instance_warmup }}
{%- endif %}
{%- if auto_scaling_group.desired_capacity is defined %}
      DesiredCapacity: {{ auto_scaling_group.desired_capacity }}
{%- endif %}
{%- if auto_scaling_group.desired_capacity_type is defined %}
      DesiredCapacityType: {{ auto_scaling_group.desired_capacity_type }}
{%- endif %}
{%- if auto_scaling_group.health_check_grace_period is defined %}
      HealthCheckGracePeriod: {{ auto_scaling_group.health_check_grace_period }}
{%- endif %}
{%- if auto_scaling_group.health_check_type is defined %}
      HealthCheckType: {{ auto_scaling_group.health_check_type }}
{%- endif %}
{%- if auto_scaling_group.instance_id is defined %}
      InstanceId: {{ auto_scaling_group.instance_id | trim }}
{%- endif %}
{%- if auto_scaling_group.launch_configuration is defined %}
      LaunchConfigurationName:
        Ref: {{ auto_scaling_group_name ~ 'LaunchConfiguration' }}
{%- elif auto_scaling_group.launch_configuration_name is defined %}
      LaunchConfigurationName: {{ auto_scaling_group.launch_configuration_name }}
{%- endif %}
{%- if auto_scaling_group.launch_template is defined %}
      LaunchTemplate:
{{ launch_template_specification.prep(auto_scaling_group.launch_template) | indent(width=8, first=true) }}
{%- endif %}
{%- if auto_scaling_group.lifecycle_hook_specification_list is defined %}
      LifecycleHookSpecificationList:
{%- for lifecycle_hook_specification in auto_scaling_group.lifecycle_hook_specification_list %}
        - LifecycleHookName: {{ lifecycle_hook_specification.lifecycle_hook_name }}
          LifecycleTransition: {{ lifecycle_hook_specification.lifecycle_transition }}
{%- if lifecycle_hook_specification.default_result is defined %}
          DefaultResult: {{ lifecycle_hook_specification.default_result }}
{%- endif %}
{%- if lifecycle_hook_specification.heartbeat_timeout is defined %}
          HeartbeatTimeout: {{ lifecycle_hook_specification.heartbeat_timeout }}
{%- endif %}
{%- if lifecycle_hook_specification.notification_metadata is defined %}
          NotificationMetadata: {{ lifecycle_hook_specification.notification_metadata }}
{%- endif %}
{%- if lifecycle_hook_specification.notification_target_arn is defined %}
          NotificationTargetARN: {{ lifecycle_hook_specification.notification_target_arn }}
{%- endif %}
{%- if lifecycle_hook_specification.role_arn is defined %}
          RoleARN: {{ lifecycle_hook_specification.role_arn }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.load_balancer_names is defined %}
      LoadBalancerNames:
{%- for load_balancer_name in auto_scaling_group.load_balancer_names %}
        - {{ load_balancer_name }}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.max_instance_lifetime is defined %}
      MaxInstanceLifetime: {{ auto_scaling_group.max_instance_lifetime }}
{%- endif %}
{%- if auto_scaling_group.metrics_collection is defined %}
      MetricsCollection:
{%- for collection in auto_scaling_group.metrics_collection %}
        - Granularity: 1Minute
{%- if collection.metrics is defined %}
          Metrics:
{%- for metric in collection.metrics %}
            - {{ metric }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.mixed_instances_policy is defined %}
      MixedInstancesPolicy:
        LaunchTemplate:
          LaunchTemplateSpecification:
{{ launch_template_specification.prep(auto_scaling_group.mixed_instances_policy.launch_template.launch_template_specification) | indent(width=12, first=true) }}
{%- if auto_scaling_group.mixed_instances_policy.launch_template.overrides is defined %}{# BEGIN {%- if auto_scaling_group.mixed_instances_policy.launch_template.overrides is defined %} #}
          Overrides:
{%- for override in auto_scaling_group.mixed_instances_policy.launch_template.overrides %}
            -
{%- if override.instance_type is defined %}
              InstanceType: {{ override.instance_type }}
{%- endif %}
{%- if override.launch_template_specification is defined %}
              LaunchTemplateSpecification:
{{ launch_template_specification.prep(override.launch_template_specification) | indent(width=16, first=true) }}
{%- endif %}
{%- if override.wieghted_capacity is defined %}
              WeightedCapacity: {{ override.wieghted_capacity }}
{%- endif %}
{%- endfor %}
{%- endif %}{# END {%- if auto_scaling_group.mixed_instances_policy.launch_template.overrides is defined %} #}
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution is defined %}
        InstancesDistribution:
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution.on_demand_allocation_strategy is defined %}
          OnDemandAllocationStrategy: {{ auto_scaling_group.mixed_instances_policy.instances_distribution.on_demand_allocation_strategy }}
{%- endif %}
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution.on_demand_base_capacity is defined %}
          OnDemandBaseCapacity: {{ auto_scaling_group.mixed_instances_policy.instances_distribution.on_demand_base_capacity }}
{%- endif %}
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution.on_demand_percentage_above_base_capacity is defined %}
          OnDemandPercentageAboveBaseCapacity: {{ auto_scaling_group.mixed_instances_policy.instances_distribution.on_demand_percentage_above_base_capacity }}
{%- endif %}
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution.spot_allocation_strategy is defined %}
          SpotAllocationStrategy: {{ auto_scaling_group.mixed_instances_policy.instances_distribution.spot_allocation_strategy }}
{%- endif %}
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution.spot_instance_pools is defined %}
          SpotInstancePools: {{ auto_scaling_group.mixed_instances_policy.instances_distribution.spot_instance_pools }}
{%- endif %}
{%- if auto_scaling_group.mixed_instances_policy.instances_distribution.spot_max_price is defined %}
          SpotMaxPrice: {{ auto_scaling_group.mixed_instances_policy.instances_distribution.spot_max_price }}
{%- endif %}
{%- endif %}
{%- endif %}
{%- if auto_scaling_group.new_instances_protected_from_scale_in is defined %}
      NewInstancesProtectedFromScaleIn: {{ auto_scaling_group.new_instances_protected_from_scale_in }}
{%- endif %}
{%- if auto_scaling_group.notification_configurations is defined %}
      NotificationConfigurations:
{%- for notification_configuration in auto_scaling_group.notification_configurations %}
        - TopicARN: {{ notification_configuration.topic_arn }}
          NotificationTypes:
{%- for notification_type in notification_configuration.notification_types %}
            - {{ notification_type }}
{%- endfor %}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.placement_group is defined %}
      PlacementGroup: {{ auto_scaling_group.placement_group }}
{%- endif %}
{%- if auto_scaling_group.service_linked_role_arn is defined %}
      ServiceLinkedRoleARN: {{ auto_scaling_group.service_linked_role_arn }}
{%- endif %}
{%- if auto_scaling_group.target_group_arns is defined %}
      TargetGroupARNs:
{%- for target_group_arn in auto_scaling_group.target_group_arns %}
        - {{ target_group_arn }}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.termination_policies is defined %}
      TerminationPolicies:
{%- for termination_policy in auto_scaling_group.termination_policies %}
        - {{ termination_policy }}
{%- endfor %}
{%- endif %}
{%- if auto_scaling_group.vpc_zone_identifier is defined %}
      VPCZoneIdentifier:
{%- for subnet_id in auto_scaling_group.vpc_zone_identifier %}
        - {{ subnet_id | trim }}
{%- endfor %}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
          PropagateAtLaunch: 'true'
{%- if auto_scaling_group.tags is defined %}{## BEGIN {%- if auto_scaling_group.tags is defined %} #}
{%- for tag_property in auto_scaling_group.tags %}{### BEGIN {%- for tag_property in auto_scaling_group.tags %} #}
        - Key: {{ tag_property.key }}
          Value: {{ tag_property._value }}
          PropagateAtLaunch: {{ tag_property.propagate_at_launch }}
{%- endfor %}{### END {%- for tag_property in auto_scaling_group.tags %} #}
{%- endif %}{## END {%- if auto_scaling_group.tags is defined %} #}
{%- endfor %}{# END {%- for auto_scaling_group in sceptre_user_data.auto_scaling_groups %} #}

Outputs:
{%- for auto_scaling_group in sceptre_user_data.auto_scaling_groups %}
{%- set auto_scaling_group_name = auto_scaling_group.name %}
  {{ auto_scaling_group_name }}:
    Description: The ASG name for {{ auto_scaling_group_name }}
    Value:
      Ref: {{ auto_scaling_group_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ auto_scaling_group_name }}"

{%- if auto_scaling_group.launch_configuration is defined %}{# BEGIN {%- if auto_scaling_group.launch_configuration is defined %} #}
{%- set launch_configuration = auto_scaling_group.launch_configuration %}
{%- set launch_configuration_name = auto_scaling_group_name ~ 'LaunchConfiguration' %}
  {{ launch_configuration_name }}:
    Description: Resource ID for {{ launch_configuration_name }}
    Value:
      Ref: {{ launch_configuration_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_configuration_name }}"
{%- endif %}{# END {%- if auto_scaling_group.launch_configuration is defined %} #}

{%- if auto_scaling_group.launch_template_spec is defined %}{# BEGIN {%- if auto_scaling_group.launch_template is defined %} #}
{%- set launch_template = auto_scaling_group.launch_template_spec %}
{%- set launch_template_name = auto_scaling_group_name ~ 'LaunchTemplate' %}
  {{ launch_template_name }}:
    Description: Launch Template ID for {{ launch_template_name }}
    Value:
      Ref: {{ launch_template_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_template_name }}"

  {{ launch_template_name }}DefaultVersionNumber:
    Description: The default version of the launch template for {{ launch_template_name }}
    Value:
      Fn::GetAtt:
        - {{ launch_template_name }}
        - DefaultVersionNumber
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_template_name }}-DefaultVersionNumber"

  {{ launch_template_name }}LatestVersionNumber:
    Description: The latest version of the launch template for {{ launch_template_name }}
    Value:
      Fn::GetAtt:
        - {{ launch_template_name }}
        - LatestVersionNumber
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_template_name }}-LatestVersionNumber"

{%- endif %}

{%- endfor %}
