Description: AutoScaling Launch Configuration(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for launch_configuration in sceptre_user_data.launch_configurations %}  {# BEGIN {%- for launch_configuration in sceptre_user_data.launch_configurations %} #}
{%- set launch_configuration_name = launch_configuration.name %}
  {{ launch_configuration_name }}:
    Type: AWS::AutoScaling::LaunchConfiguration
    DeletionPolicy: {{ launch_configuration.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ launch_configuration.update_replace_policy | default('Delete') }}
    Properties:
      ImageId: {{ launch_configuration.image_id }}
      InstanceType: {{ launch_configuration.instance_type }}
{%- if launch_configuration.associate_public_ip_address is defined %}
      AssociatePublicIpAddress: {{ launch_configuration.associate_public_ip_address }}
{%- endif %}
{%- if launch_configuration.block_device_mappings is defined %}
      BlockDeviceMappings:
{%- for mapping in launch_configuration.block_device_mappings %}
        - DeviceName: {{ mapping.device_name }}
{%- if mapping.ebs is defined %}
          Ebs:
{%- if mapping.ebs.delete_on_termination is defined %}
            DeleteOnTermination: {{ mapping.ebs.delete_on_termination }}
{%- endif %}
{%- if mapping.ebs.encrypted is defined %}
            Encrypted: {{ mapping.ebs.encrypted }}
{%- endif %}
{%- if mapping.ebs.iops is defined %}
            Iops: {{ mapping.ebs.iops }}
{%- endif %}
{%- if mapping.ebs.snapshot_id is defined %}
            SnapshotId: {{ mapping.ebs.snapshot_id }}
{%- endif %}
{%- if mapping.ebs.throughput is defined %}
            Throughput: {{ mapping.ebs.throughput }}
{%- endif %}
{%- if mapping.ebs.volume_size is defined %}
            VolumeSize: {{ mapping.ebs.volume_size }}
{%- endif %}
{%- if mapping.ebs.volume_type is defined %}
            VolumeType: {{ mapping.ebs.volume_type }}
{%- endif %}
{%- endif %}
{%- if mapping.no_device is defined %}
          NoDevice: {{ mapping.no_device }}
{%- endif %}
{%- if mapping.virtual_name is defined %}
          VirtualName: {{ mapping.virtual_name }}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if launch_configuration.classic_link_vpc_id is defined %}
      ClassicLinkVPCId: {{ launch_configuration.classic_link_vpc_id }}
{%- endif %}
{%- if launch_configuration.classic_link_vpc_security_groups is defined %}
      ClassicLinkVPCSecurityGroups:
{%- for security_group_id in launch_configuration.classic_link_vpc_security_groups %}
        - {{ security_group_id }}
{%- endfor %}
{%- endif %}
{%- if launch_configuration.ebs_optimized is defined %}
      EbsOptimized: {{ launch_configuration.ebs_optimized }}
{%- endif %}
{%- if launch_configuration.iam_instance_profile is defined %}
      IamInstanceProfile: {{ launch_configuration.iam_instance_profile }}
{%- endif %}
{%- if launch_configuration.instance_id is defined %}
      InstanceId: {{ launch_configuration.instance_id }}
{%- endif %}
{%- if launch_configuration.instance_monitoring is defined %}
      InstanceMonitoring: {{ launch_configuration.instance_monitoring }}
{%- endif %}
{%- if launch_configuration.kernel_id is defined %}
      KernelId: {{ launch_configuration.kernel_id }}
{%- endif %}
{%- if launch_configuration.key_name is defined %}
      KeyName: {{ launch_configuration.key_name }}
{%- endif %}
{%- if launch_configuration.launch_configuration_name is defined %}
      LaunchConfigurationName: {{ launch_configuration.launch_configuration_name }}
{%- endif %}
{%- if launch_configuration.metadata_options is defined %}
      MetadataOptions:
{%- if launch_configuration.metadata_options.http_endpoint is defined %}
        HttpEndpoint: {{ launch_configuration.metadata_options.http_endpoint }}
{%- endif %}
{%- if launch_configuration.metadata_options.http_put_response_hop_limit is defined %}
        HttpPutResponseHopLimit: {{ launch_configuration.metadata_options.http_put_response_hop_limit }}
{%- endif %}
{%- if launch_configuration.metadata_options.http_tokens is defined %}
        HttpTokens: {{ launch_configuration.metadata_options.http_tokens }}
{%- endif %}
{%- endif %}
{%- if launch_configuration.placement_tenancy is defined %}
      PlacementTenancy: {{ launch_configuration.placement_tenancy }}
{%- endif %}
{%- if launch_configuration.ram_disk_id is defined %}
      RamDiskId: {{ launch_configuration.ram_disk_id }}
{%- endif %}
{%- if launch_configuration.security_groups is defined %}
      SecurityGroups:
{%- for security_group_id in launch_configuration.security_groups %}
        - {{ security_group_id }}
{%- endfor %}
{%- endif %}
{%- if launch_configuration.spot_price is defined %}
      SpotPrice: {{ launch_configuration.spot_price }}
{%- endif %}
{%- if launch_configuration.user_data is defined %}
      UserData:
{{ launch_configuration.user_data | indent(width=8, first=true) }}
{%- endif %}
{%- endfor %}  {# END {%- for launch_configuration in sceptre_user_data.launch_configurations %} #}

Outputs:
{%- for launch_configuration in sceptre_user_data.launch_configurations %}
{% set launch_configuration_name = launch_configuration.name %}
  {{ launch_configuration_name }}:
    Description: Repository ID for {{ launch_configuration_name }}
    Value:
      Ref: {{ launch_configuration_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_configuration_name }}"

  {{ launch_configuration_name }}Arn:
    Description: The ARN for {{ launch_configuration_name }}
    Value:
      Fn::GetAtt:
        - {{ launch_configuration_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_configuration_name }}-Arn"

  {{ launch_configuration_name }}CloneUrlHttp:
    Description: The URL to clone {{ launch_configuration_name }} over HTTPS
    Value:
      Fn::GetAtt:
        - {{ launch_configuration_name }}
        - CloneUrlHttp
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_configuration_name }}-CloneUrlHttp"

  {{ launch_configuration_name }}CloneUrlSsh:
    Description: The URL to clone {{ launch_configuration_name }} over SSH
    Value:
      Fn::GetAtt:
        - {{ launch_configuration_name }}
        - CloneUrlSsh
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_configuration_name }}-CloneUrlSsh"

  {{ launch_configuration_name }}Name:
    Description: The launch_configuration name for {{ launch_configuration_name }}
    Value:
      Fn::GetAtt:
        - {{ launch_configuration_name }}
        - Name
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ launch_configuration_name }}-Name"
{%- endfor %}
