---
Description: AutoScaling Warm Pool(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for warm_pool in sceptre_user_data.warm_pools %}  {# BEGIN {%- for warm_pool in sceptre_user_data.warm_pools %} #}
{%- set warm_pool_name = warm_pool.name %}
  {{ warm_pool_name }}:
    Type: AWS::AutoScaling::WarmPool
    DeletionPolicy: {{ warm_pool.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ warm_pool.update_replace_policy | default('Delete') }}
    Properties:
      AutoScalingGroupName: {{ warm_pool.auto_scaling_group_name }}
{%- if warm_pool.max_group_prepared_capacity is defined %}
      MaxGroupPreparedCapacity: {{ warm_pool.max_group_prepared_capacity }}
{%- endif %}
{%- if warm_pool.min_size is defined %}
      MinSize: {{ warm_pool.min_size }}
{%- endif %}
{%- if warm_pool.pool_state is defined %}
      PoolState: {{ warm_pool.pool_state }}
{%- endif %}
{%- endfor %}  {# END {%- for warm_pool in sceptre_user_data.warm_pools %} #}
