---
Description: {{sceptre_user_data.description|default('Logs Query Definition(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for query_definition in sceptre_user_data.query_definitions %}
{%- set query_definition_name = query_definition.name %}
  {{ query_definition_name }}:
    Type: AWS::Logs::QueryDefinition
    DeletionPolicy: {{ query_definition.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ query_definition.update_replace_policy | default('Delete') }}
    Properties:
      Name: {{ query_definition.query_definition_name }}
      QueryString:
        {{ query_definition.query_string }}
{%- if query_definition.log_group_names is defined %}
      LogGroupNames:
{%- for log_group_name in query_definition.log_group_names %}
        - {{ log_group_name }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:

{%- for query_definition in sceptre_user_data.query_definitions %}
{%- set query_definition_name = query_definition.name %}
  {{ query_definition_name }}:
    Description: Query Definition ID for {{ query_definition_name }}
    Value:
      Ref: {{ query_definition_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ query_definition_name }}"

{%- endfor %}
