---
Description: {{sceptre_user_data.description|default('Glue DataCatalogEncryptionSettings(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for data_catalog_encryption_setting in sceptre_user_data.data_catalog_encryption_settings %}
{%- set data_catalog_encryption_setting_name = data_catalog_encryption_setting.name %}
  {{ data_catalog_encryption_setting_name }}:
    Type: AWS::Glue::DataCatalogEncryptionSettings
    DeletionPolicy: {{ data_catalog_encryption_setting.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ data_catalog_encryption_setting.update_replace_policy | default('Delete') }}
    Properties:
      CatalogId: {{ data_catalog_encryption_setting.catalog_id | trim }}
      DataCatalogEncryptionSettings:
{%- if data_catalog_encryption_setting.data_catalog_encryption_settings.connection_password_encryption is defined %}
        ConnectionPasswordEncryption:
{%- if data_catalog_encryption_setting.data_catalog_encryption_settings.connection_password_encryption.kms_key_id is defined %}
          KmsKeyId: {{ data_catalog_encryption_setting.data_catalog_encryption_settings.connection_password_encryption.kms_key_id | trim }}
{%- endif %}
{%- if data_catalog_encryption_setting.data_catalog_encryption_settings.connection_password_encryption.return_connection_password_encrypted is defined %}
          ReturnConnectionPasswordEncrypted: {{ data_catalog_encryption_setting.data_catalog_encryption_settings.connection_password_encryption.return_connection_password_encrypted }}
{%- endif %}
{%- endif %}
{%- if data_catalog_encryption_setting.data_catalog_encryption_settings.encryption_at_rest is defined %}
        EncryptionAtRest:
{%- if data_catalog_encryption_setting.data_catalog_encryption_settings.encryption_at_rest.catalog_encryption_mode is defined %}
          CatalogEncryptionMode: {{ data_catalog_encryption_setting.data_catalog_encryption_settings.encryption_at_rest.catalog_encryption_mode }}
{%- endif %}
{%- if data_catalog_encryption_setting.data_catalog_encryption_settings.encryption_at_rest.sse_aws_kms_key_id is defined %}
          SseAwsKmsKeyId: {{ data_catalog_encryption_setting.data_catalog_encryption_settings.encryption_at_rest.sse_aws_kms_key_id | trim }}
{%- endif %}
{%- endif %}

{%- endfor %}
