---
Description: {{sceptre_user_data.description|default('Glue Database(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for database in sceptre_user_data.databases %}
{%- set database_name = database.name %}
  {{ database_name }}:
    Type: AWS::Glue::Database
    DeletionPolicy: {{ database.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ database.update_replace_policy | default('Delete') }}
    Properties:
      CatalogId: {{ database.catalog_id | trim }}
      DatabaseInput:
{%- if database.database_input.create_table_default_permissions is defined %}{# BEGIN if database.database_input.create_table_default_permissions is defined #}
        CreateTableDefaultPermissions:
{%- for create_table_default_permission in database.database_input.create_table_default_permissions %}{# BEGIN for create_table_default_permission in database.database_input.create_table_default_permissions #}
          -
{%- if create_table_default_permission.permissions is defined %}{# BEGIN if create_table_default_permission.permissions is defined #}
            Permissions:
{%- for permission in create_table_default_permission.permissions %}
              - {{ permission }}
{%- endfor %}
{%- endif %}{# END if create_table_default_permission.permissions is defined #}
{%- if create_table_default_permission.principal is defined %}
            Principal:
              DataLakePrincipalIdentifier: {{ create_table_default_permission.principal.data_lake_principal_identifier | trim }}
{%- endif %}
{%- endfor %}{# END for create_table_default_permission in database.database_input.create_table_default_permissions #}
{%- endif %}{# END if database.database_input.create_table_default_permissions is defined #}
{%- if database.database_input.description is defined %}
        Description: {{ database.database_input.description }}
{%- endif %}
{%- if database.database_input.federated_database is defined %}{# BEGIN if database.database_input.federated_database is defined #}
        FederatedDatabase:
{%- if database.database_input.federated_database.connection_name is defined %}
          ConnectionName: {{ database.database_input.federated_database.connection_name }}
{%- endif %}
{%- if database.database_input.federated_database.identifier is defined %}
          Identifier: {{ database.database_input.federated_database.identifier }}
{%- endif %}
{%- endif %}{# END if database.database_input.federated_database is defined #}
{%- if database.database_input.location_url is defined %}
        LocationUri: {{ database.database_input.location_url }}
{%- endif %}
{%- if database.database_input.name is defined %}
        Name: {{ database.database_input.name }}
{%- endif %}
{%- if database.database_input.parameters_json is defined %}
        Parameters: |
          {{ database.database_input.parameters_json | indent(width=10, first=false) }}
{%- elif database.database_input.parameters is defined %}
        Parameters:
          {{ database.database_input.parameters | indent(width=10, first=false) }}
{%- endif %}
{%- if database.database_input.target_database is defined %}
        TargetDatabase:
{%- if database.database_input.target_database.catalog_id is defined %}
          CatalogId: {{ database.database_input.target_database.catalog_id | trim }}
{%- endif %}
{%- if database.database_input.target_database.database_name is defined %}
          DatabaseName: {{ database.database_input.target_database.database_name }}
{%- endif %}
{%- endif %}
{%- if database.database_name is defined %}
      DatabaseName: {{ database.database_name }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for database in sceptre_user_data.databases %}
{%- set database_name = database.name %}
  {{ database_name }}:
    Description: Database Name for {{ database_name }}
    Value:
      Ref: {{ database_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ database_name }}"
{%- endfor %}{#
# Supported structure as of 2025-07-02:
Type: AWS::Glue::Database
Properties:
  CatalogId: String
  DatabaseInput:
    CreateTableDefaultPermissions:
      -
        Permissions:
          - String
        Principal:
          DataLakePrincipalIdentifier: String
    Description: String
    FederatedDatabase:
      ConnectionName: String
      Identifier: String
    LocationUri: String
    Name: String
    Parameters: Json
    TargetDatabase:
      CatalogId: String
      DatabaseName: String
      Region: String
  DatabaseName: String
#}