---
Description: {{sceptre_user_data.description|default('CloudFormation Hook Type Config(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for hook_type_config in sceptre_user_data.hook_type_configs %}
{%- set hook_type_config_name = hook_type_config.name %}
  {{ hook_type_config_name }}:
    Type: AWS::CloudFormation::HookTypeConfig
    DeletionPolicy: {{ hook_type_config.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ hook_type_config.update_replace_policy | default('Delete') }}
    Properties:
{%- if hook_type_config.configuration is defined %}
      Configuration: {{ hook_type_config.configuration }}
{%- endif %}
{%- if hook_type_config.configuration_alias is defined %}
      ConfigurationAlias: {{ hook_type_config.configuration_alias }}
{%- endif %}
{%- if hook_type_config.type_arn is defined %}
      TypeArn: {{ hook_type_config.type_arn }}
{%- endif %}
{%- if hook_type_config.type_name is defined %}
      TypeName: {{ hook_type_config.type_name }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for hook_type_config in sceptre_user_data.hook_type_configs %}
{%- set hook_type_config_name = hook_type_config.name %}
  {{ hook_type_config_name }}:
    Description: ARN for {{ hook_type_config_name }}
    Value:
      Ref: {{ hook_type_config_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ hook_type_config_name }}"
  {{ hook_type_config_name }}ConfigurationArn:
    Description: The ARN for {{ hook_type_config_name }}
    Value:
      Fn::GetAtt:
        - {{ hook_type_config_name }}
        - ConfigurationArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ hook_type_config_name }}-ConfigurationArn"
{%- endfor %}{#
# Supported structure as of 2025-04-14
Type: AWS::CloudFormation::HookTypeConfig
Properties:
  Configuration: String
  ConfigurationAlias: String
  TypeArn: String
  TypeName: String
#}