---
Description: {{sceptre_user_data.description|default('CloudFormation Module Version(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for module_version in sceptre_user_data.module_versions %}
{%- set module_version_name = module_version.name %}
  {{ module_version_name }}:
    Type: AWS::CloudFormation::ModuleVersion
    DeletionPolicy: {{ module_version.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ module_version.update_replace_policy | default('Delete') }}
    Properties: 
      ModuleName: {{ module_version.module_name }}
      ModulePackage: {{ module_version.module_package }}

{%- endfor %}

Outputs:

{%- for module_version in sceptre_user_data.module_versions %}
{%- set module_version_name = module_version.name %}
  {{ module_version_name }}:
    Description: ARN for {{ module_version_name }}
    Value:
      Ref: {{ module_version_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}"

  {{ module_version_name }}Arn:
    Description: The ARN for {{ module_version_name }}
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-Arn"

  {{ module_version_name }}Description:
    Description: The description of the module {{ module_version_name }}.
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - Description
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-Description"

  {{ module_version_name }}DocumentationUrl:
    Description: The URL of a page providing detailed documentation for {{ module_version_name }}
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - DocumentationUrl
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-DocumentationUrl"

  {{ module_version_name }}IsDefaultVersion:
    Description: Whether the specified module version is set as the default version for {{ module_version_name }}.
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - IsDefaultVersion
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-IsDefaultVersion"

  {{ module_version_name }}Schema:
    Description: The schema that defines the module {{ module_version_name }}
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - Schema
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-Schema"

  {{ module_version_name }}TimeCreated:
    Description: When the specified module version was registered for {{ module_version_name }}.
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - TimeCreated
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-TimeCreated"

  {{ module_version_name }}VersionId:
    Description: The ID of this version of the module for {{ module_version_name }}
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - VersionId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-VersionId"

  {{ module_version_name }}Visibility:
    Description: The scope at which the module is visible and usable in CloudFormation operations for {{ module_version_name }}.
    Value:
      Fn::GetAtt:
        - {{ module_version_name }}
        - Visibility
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ module_version_name }}-Visibility"

{%- endfor %}