---
Description: {{sceptre_user_data.description|default('CloudFormation ResourceDefaultVersion(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for resource_default_version in sceptre_user_data.resource_default_versions %}
{%- set resource_default_version_name = resource_default_version.name %}
  {{ resource_default_version_name }}:
    Type: AWS::CloudFormation::ResourceDefaultVersion
    DeletionPolicy: {{ resource_default_version.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ resource_default_version.update_replace_policy | default('Delete') }}
    Properties:
{%- if resource_default_version.type_name is defined %}
      TypeName: {{ resource_default_version.type_name }}
{%- endif %}
{%- if resource_default_version.type_version_arn is defined %}
      TypeVersionArn: {{ resource_default_version.type_version_arn }}
{%- endif %}
{%- if resource_default_version.version_id is defined %}
      VersionId: {{ resource_default_version.version_id }}
{%- endif %}

{%- endfor %}

Outputs:

{%- for resource_default_version in sceptre_user_data.resource_default_versions %}
{%- set resource_default_version_name = resource_default_version.name %}
  {{ resource_default_version_name }}:
    Description: ARN for {{ resource_default_version_name }}
    Value:
      Ref: {{ resource_default_version_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resource_default_version_name }}"

  {{ resource_default_version_name }}Arn:
    Description: The ARN for {{ resource_default_version_name }}
    Value:
      Fn::GetAtt:
        - {{ resource_default_version_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resource_default_version_name }}-Arn"

{%- endfor %}