---
Description: {{sceptre_user_data.description|default('Route53Resolver ResolverRuleAssociation(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for resover_rule_association in sceptre_user_data.resover_rule_associations %}
{%- set resover_rule_association_name = resover_rule_association.name %}
  {{ resover_rule_association_name }}:
    Type: AWS::Route53Resolver::ResolverRuleAssociation
    DeletionPolicy: {{ resover_rule_association.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ resover_rule_association.update_replace_policy | default('Delete') }}
    Properties:
      ResolverRuleId: {{ resover_rule_association.resolver_rule_id | trim }}
      VPCId: {{ resover_rule_association.vpc_id | trim }}
{%- if resover_rule_association.resover_rule_association_name is defined %}
      Name: {{ resover_rule_association.resover_rule_association_name }}
{%- endif %}

{%- endfor %}

Outputs:

{%- for resover_rule_association in sceptre_user_data.resover_rule_associations %}
{%- set resover_rule_association_name = resover_rule_association.name %}
  {{ resover_rule_association_name }}:
    Description: ResolverRuleAssociationId for {{ resover_rule_association_name }}
    Value:
      Ref: {{ resover_rule_association_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resover_rule_association_name }}"

  {{ resover_rule_association_name }}Name:
    Description: The name of the association for {{ resover_rule_association_name }}
    Value:
      Fn::GetAtt:
        - {{ resover_rule_association_name }}
        - Name
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resover_rule_association_name }}-Name"

  {{ resover_rule_association_name }}ResolverRuleAssociationId:
    Description: The ResolverRuleAssociation Id for {{ resover_rule_association_name }}
    Value:
      Fn::GetAtt:
        - {{ resover_rule_association_name }}
        - ResolverRuleAssociationId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resover_rule_association_name }}-ResolverRuleAssociationId"

  {{ resover_rule_association_name }}ResolverRuleId:
    Description: >
      The ID of the resolver rule that you associated with the VPC for {{ resover_rule_association_name }}
    Value:
      Fn::GetAtt:
        - {{ resover_rule_association_name }}
        - ResolverRuleId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resover_rule_association_name }}-ResolverRuleId"

  {{ resover_rule_association_name }}VPCId:
    Description: >
      The ID of the VPC that you associated the resolver rule with for {{ resover_rule_association_name }}
    Value:
      Fn::GetAtt:
        - {{ resover_rule_association_name }}
        - VPCId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ resover_rule_association_name }}-VPCId"

{%- endfor %}