---
Description: {{sceptre_user_data.description|default('WAFRegional GeoMatchSet(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for geo_match_set in sceptre_user_data.geo_match_sets %}
{%- set geo_match_set_name = geo_match_set.name %}
  {{ geo_match_set_name }}:
    Type: AWS::WAFRegional::GeoMatchSet
    DeletionPolicy: {{ geo_match_set.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ geo_match_set.update_replace_policy | default('Delete') }}
    Properties:
      Name: {{ geo_match_set.geo_match_set_name }}
{%-if geo_match_set.geo_match_constraints is defined %}
      GeoMatchConstraints:
{%- for geo_match_constraint in geo_match_set.geo_match_constraints %}
        - Type: Country
          Value: {{ geo_match_constraint.value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for geo_match_set in sceptre_user_data.geo_match_sets %}
{%- set geo_match_set_name = geo_match_set.name %}
  {{ geo_match_set_name }}:
    Description: ID for {{ geo_match_set_name }}
    Value:
      Ref: {{ geo_match_set_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ geo_match_set_name }}"

{%- endfor %}