---
Description: {{sceptre_user_data.description|default('FSx Volume(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for volume in sceptre_user_data.volumes %}
{%- set volume_name = volume.name %}
  {{ volume_name }}:
    Type: AWS::FSx::Volume
    DeletionPolicy: {{ volume.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ volume.update_replace_policy | default('Delete') }}
    Properties:
      Name: {{ volume.volume_name }}
{%- if volume.backup_id is defined %}
      BackupId: {{ volume.backup_id | trim }}
{%- endif %}
{%- if volume.ontap_configuration is defined %}{# BEGIN if volume.ontap_configuration is defined #}
      OntapConfiguration:
        StorageVirtualMachineId: {{ volume.ontap_configuration.storage_virtual_machine_id | trim }}
{%- if volume.ontap_configuration.aggregate_configuration is defined %}{# BEGIN if volume.ontap_configuration.aggregate_configuration is defined #}
        AggregateConfiguration:
{%- if volume.ontap_configuration.aggregate_configuration.aggregates is defined %}{# BEGIN if volume.ontap_configuration.aggregate_configuration.aggregates is defined #}
          Aggregates:
{%- for aggregate in volume.ontap_configuration.aggregate_configuration.aggregates %}
            - {{ aggregate }}
{%- endfor %}
{%- endif %}{# END if volume.ontap_configuration.aggregate_configuration.aggregates is defined #}
{%- if volume.ontap_configuration.aggregate_configuration.constituents_per_aggregate is defined %}
          ConstituentsPerAggregate: {{ volume.ontap_configuration.aggregate_configuration.constituents_per_aggregate }}
{%- endif %}
{%- endif %}{# END if volume.ontap_configuration.aggregate_configuration is defined #}
{%- if volume.ontap_configuration.copy_tags_to_backups is defined %}
        CopyTagsToBackups: {{ volume.ontap_configuration.copy_tags_to_backups }}
{%- endif %}
{%- if volume.ontap_configuration.junction_path is defined %}
        JunctionPath: {{ volume.ontap_configuration.junction_path }}
{%- endif %}
{%- if volume.ontap_configuration.ontap_volume_type is defined %}
        OntapVolumeType: {{ volume.ontap_configuration.ontap_volume_type }}
{%- endif %}
{%- if volume.ontap_configuration.size_in_bytes is defined %}
        SizeInBytes: {{ volume.ontap_configuration.size_in_bytes }}
{%- endif %}
{%- if volume.ontap_configuration.size_in_megabytes is defined %}
        SizeInMegabytes: {{ volume.ontap_configuration.size_in_megabytes }}
{%- endif %}
{%- if volume.ontap_configuration.snaplock_configuration is defined %}{# BEGIN if volume.ontap_configuration.snaplock_configuration is defined #}
        SnaplockConfiguration:
          SnaplockType: {{ volume.ontap_configuration.snaplock_configuration.snaplock_type }}
{%- if volume.ontap_configuration.snaplock_configuration.audit_log_volume is defined %}
          AuditLogVolume: {{ volume.ontap_configuration.snaplock_configuration.audit_log_volume }}
{%- endif %}
{%- if volume.ontap_configuration.snaplock_configuration.autocommit_period is defined %}{# BEGIN if volume.ontap_configuration.snaplock_configuration.autocommit_period is defined #}
          AutocommitPeriod:
            Type: {{ volume.ontap_configuration.snaplock_configuration.autocommit_period.type }}
{%- if volume.ontap_configuration.snaplock_configuration.autocommit_period.value is defined %}
            Value: {{ volume.ontap_configuration.snaplock_configuration.autocommit_period.value }}
{%- endif %}
{%- endif %}{# END if volume.ontap_configuration.snaplock_configuration.autocommit_period is defined #}
{%- if volume.ontap_configuration.snaplock_configuration.privileged_delete is defined %}
          PrivilegedDelete: {{ volume.ontap_configuration.snaplock_configuration.privileged_delete }}
{%- endif %}
{%- if volume.ontap_configuration.snaplock_configuration.retention_period is defined %}{# BEGIN if volume.ontap_configuration.snaplock_configuration.retention_period is defined #}
          RetentionPeriod:
            DefaultRetention:
              Type: {{ volume.ontap_configuration.snaplock_configuration.retention_period.default_retention.type }}
{%- if volume.ontap_configuration.snaplock_configuration.retention_period.default_retention.value is defined %}
              Value: {{ volume.ontap_configuration.snaplock_configuration.retention_period.default_retention.value }}
{%- endif %}
            MaximumRetention:
              Type: {{ volume.ontap_configuration.snaplock_configuration.retention_period.maximum_retention.type }}
{%- if volume.ontap_configuration.snaplock_configuration.retention_period.maximum_retention.value is defined %}
              Value: {{ volume.ontap_configuration.snaplock_configuration.retention_period.maximum_retention.value }}
{%- endif %}
            MinimumRetention:
              Type: {{ volume.ontap_configuration.snaplock_configuration.retention_period.minimum_retention.type }}
{%- if volume.ontap_configuration.snaplock_configuration.retention_period.minimum_retention.value is defined %}
              Value: {{ volume.ontap_configuration.snaplock_configuration.retention_period.minimum_retention.value }}
{%- endif %}
{%- endif %}{# END if volume.ontap_configuration.snaplock_configuration.retention_period is defined #}
{%- if volume.ontap_configuration.snaplock_configuration.volume_append_mode_enabled is defined %}
          VolumeAppendModeEnabled: {{ volume.ontap_configuration.snaplock_configuration.volume_append_mode_enabled }}
{%- endif %}
{%- endif %}{# END if volume.ontap_configuration.snaplock_configuration is defined #}
{%- if volume.ontap_configuration.snapshot_policy is defined %}
        SnapshotPolicy: {{ volume.ontap_configuration.snapshot_policy }}
{%- endif %}
{%- if volume.ontap_configuration.storage_efficiency_enabled is defined %}
        StorageEfficiencyEnabled: {{ volume.ontap_configuration.storage_efficiency_enabled }}
{%- endif %}
{%- if volume.ontap_configuration.security_style is defined %}
        SecurityStyle: {{ volume.ontap_configuration.security_style }}
{%- endif %}
{%- if volume.ontap_configuration.tiering_policy is defined %}{# BEGIN if volume.ontap_configuration.tiering_policy is defined #}
        TieringPolicy:
{%- if volume.ontap_configuration.tiering_policy.cooling_period is defined %}
          CoolingPeriod: {{ volume.ontap_configuration.tiering_policy.cooling_period }}
{%- endif %}
{%- if volume.ontap_configuration.tiering_policy.name is defined %}
          Name: {{ volume.ontap_configuration.tiering_policy.name }}
{%- endif %}
{%- endif %}{# END if volume.ontap_configuration.tiering_policy is defined #}
{%- if volume.ontap_configuration.volume_style is defined %}
        VolumeStyle: {{ volume.ontap_configuration.volume_style }}
{%- endif %}
{%- endif %}{# END if volume.ontap_configuration is defined #}
{%- if volume.open_zfs_configuration is defined %}{# BEGIN if volume.open_zfs_configuration is defined #}
      OpenZFSConfiguration:
        ParentVolumeId: {{ volume.open_zfs_configuration.parent_volume_id | trim }}
{%- if volume.open_zfs_configuration.copy_tags_to_snapshots is defined %}
        CopyTagsToSnapshots: {{ volume.open_zfs_configuration.copy_tags_to_snapshots | lower }}
{%- endif %}
{%- if volume.open_zfs_configuration.data_compression_type is defined %}
        DataCompressionType: {{ volume.open_zfs_configuration.data_compression_type }}
{%- endif %}
{%- if volume.open_zfs_configuration.nfs_exports is defined %}{# BEGIN if volume.open_zfs_configuration.nfs_exports is defined #}
        NfsExports:
{%- for nfs_export in volume.open_zfs_configuration.nfs_exports %}{# BEGIN for nfs_export in volume.open_zfs_configuration.nfs_exports #}
          - ClientConfigurations:
{%- for client_configuration in nfs_export.client_configurations %}{# BEGIN for client_configuration in nfs_export.client_configurations #}
              - Clients: {{ client_configuration.clients }}
                Options:
{%- for option in client_configuration.options %}
                  - {{ option }}
{%- endfor %}
{%- endfor %}{# END for client_configuration in nfs_export.client_configurations #}
{%- endfor %}{# END for nfs_export in volume.open_zfs_configuration.nfs_exports #}
{%- endif %}{# END if volume.open_zfs_configuration.nfs_exports is defined #}
{%- if volume.open_zfs_configuration.options is defined %}{# BEGIN if volume.open_zfs_configuration.options is defined #}
        Options:
{%- for option in volume.open_zfs_configuration.options %}
          - {{ option }}
{%- endfor %}
{%- endif %}{# END if volume.open_zfs_configuration.options is defined #}
{%- if volume.open_zfs_configuration.origin_snapshot is defined %}
        OriginSnapshot:
          CopyStrategy: {{ volume.open_zfs_configuration.origin_snapshot.copy_strategy }}
          SnapshotARN: {{ volume.open_zfs_configuration.origin_snapshot.snapshot_arn | trim }}
{%- endif %}
{%- if volume.open_zfs_configuration.read_only is defined %}
        ReadOnly: {{ volume.open_zfs_configuration.read_only | lower }}
{%- endif %}
{%- if volume.open_zfs_configuration.record_size_kib is defined %}
        RecordSizeKiB: {{ volume.open_zfs_configuration.record_size_kib }}
{%- endif %}
{%- if volume.open_zfs_configuration.storage_capacity_quota_gib is defined %}
        StorageCapacityQuotaGiB: {{ volume.open_zfs_configuration.storage_capacity_quota_gib }}
{%- endif %}
{%- if volume.open_zfs_configuration.storage_capacity_reservation_gib is defined %}
        StorageCapacityReservationGiB: {{ volume.open_zfs_configuration.storage_capacity_reservation_gib }}
{%- endif %}
{%- if volume.open_zfs_configuration.user_and_group_quotas is defined %}{# BEGIN if volume.open_zfs_configuration.user_and_group_quotas is defined #}
        UserAndGroupQuotas:
{%- for quota in volume.open_zfs_configuration.user_and_group_quotas %}
          - Id: {{ quota.id }}
            StorageCapacityQuotaGiB: {{ quota.storage_capacity_quota_gib }}
            Type: {{ quota.type }}
{%- endfor %}
{%- endif %}{# END if volume.open_zfs_configuration.user_and_group_quotas is defined #}
{%- endif %}{# END if volume.open_zfs_configuration is defined #}
{%- if volume.volume_type is defined %}
      VolumeType: {{ volume.volume_type }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if volume.tags is defined %}
{%- for key,value in volume.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:
{%- for volume in sceptre_user_data.volumes %}
{%- set volume_name = volume.name %}
  {{ volume_name }}:
    Description: Volume ID for {{ volume_name }}
    Value:
      Ref: {{ volume_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ volume_name }}"
  {{ volume_name }}ResourceARN:
    Description: The ResourceARN for {{ volume_name }}
    Value:
      Fn::GetAtt:
        - {{ volume_name }}
        - ResourceARN
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ volume_name }}-ResourceARN"
  {{ volume_name }}UUID:
    Description: The universally unique identifier for {{ volume_name }}
    Value:
      Fn::GetAtt:
        - {{ volume_name }}
        - UUID
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ volume_name }}-UUID"
  {{ volume_name }}VolumeId:
    Description: The Volume Id for {{ volume_name }}
    Value:
      Fn::GetAtt:
        - {{ volume_name }}
        - VolumeId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ volume_name }}-VolumeId"
{%- endfor %}{#
# Supported structure as of 2026-06-09
Type: AWS::FSx::Volume
Properties:
  BackupId: String
  Name: String
  OntapConfiguration:
    AggregateConfiguration:
      Aggregates:
        - String
      ConstituentsPerAggregate: Integer
    CopyTagsToBackups: String
    JunctionPath: String
    OntapVolumeType: String
    SecurityStyle: String
    SizeInBytes: String
    SizeInMegabytes: String
    SnaplockConfiguration:
      AuditLogVolume: String
      AutocommitPeriod:
        Type: String
        Value: Integer
      PrivilegedDelete: String
      RetentionPeriod:
        DefaultRetention:
          Type: String
          Value: Integer
        MaximumRetention:
          Type: String
          Value: Integer
        MinimumRetention:
          Type: String
          Value: Integer
      SnaplockType: String
      VolumeAppendModeEnabled: String
    SnapshotPolicy: String
    StorageEfficiencyEnabled: String
    StorageVirtualMachineId: String
    TieringPolicy:
      CoolingPeriod: Integer
      Name: String
    VolumeStyle: String
  OpenZFSConfiguration:
    CopyTagsToSnapshots: Boolean
    DataCompressionType: String
    NfsExports:
      -
        ClientConfigurations:
          -
            Clients: String
            Options:
              - String
    Options:
      - String
    OriginSnapshot:
      CopyStrategy: String
      SnapshotARN: String
    ParentVolumeId: String
    ReadOnly: Boolean
    RecordSizeKiB: Integer
    StorageCapacityQuotaGiB: Integer
    StorageCapacityReservationGiB: Integer
    UserAndGroupQuotas:
      -
        Id: Integer
        StorageCapacityQuotaGiB: Integer
        Type: String
  Tags:
    -
      Key: String
      Value: String
  VolumeType: String
#}