Description: CloudTrail Trail(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for trail in sceptre_user_data.trails %}
{%- set trail_name = trail.name %}
  {{ trail_name }}:
    Type: AWS::CloudTrail::Trail
    DeletionPolicy: {{ trail.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ trail.update_replace_policy | default('Delete') }}
    Properties:
      IsLogging: {{ trail.is_logging }}
      S3BucketName: {{ trail.s3_bucket_name }}
{%- if trail.cloud_watch_logs_log_group_arn is defined %}
      CloudWatchLogsLogGroupArn: {{ trail.cloud_watch_logs_log_group_arn }}
{%- endif %}
{%- if trail.cloud_watch_logs_role_arn is defined %}
      CloudWatchLogsRoleArn: {{ trail.cloud_watch_logs_role_arn }}
{%- endif %}
{%- if trail.enable_log_file_validation is defined %}
      EnableLogFileValidation: {{ trail.enable_log_file_validation }}
{%- endif %}
{%- if trail.event_selectors is defined %}  {# BEGIN {%- if trail.event_selectors is defined %} #}
      EventSelectors:
{%- for event_selector in trail.event_selectors %}
        -
{%- if event_selector.data_resources is defined %}
          DataResources:
{%- for data_resource in event_selector.data_resources %}
            - Type: {{ data_resource.type }}
{%- if data_resource.values is defined %}
              Values:
{%- for item in data_resource.values %}
                - {{ item }}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- if event_selector.exclude_management_event_sources is defined %}
          ExcludeManagementEventSources:
{%- for item in event_selector.exclude_management_event_sources %}
            - {{ item }}
{%- endfor %}
{%- endif %}
{%- if event_selector.include_management_events is defined %}
          IncludeManagementEvents: {{ event_selector.include_management_events }}
{%- endif %}
{%- if event_selector.read_write_type is defined %}
          ReadWriteType: {{ event_selector.read_write_type }}
{%- endif %}
{%- endfor %}
{%- endif %}  {# END {%- if trail.event_selectors is defined %} #}
{%- if trail.include_global_service_events is defined %}
      IncludeGlobalServiceEvents: {{ trail.include_global_service_events }}
{%- endif %}
{%- if trail.insight_selectors is defined %}
      InsightSelectors:
        - InsightType: ApiCallRateInsight
{%- endif %}
{%- if trail.is_multi_region_trail is defined %}
      IsMultiRegionTrail: {{ trail.is_multi_region_trail }}
{%- endif %}
{%- if trail.is_organization_trail is defined %}
      IsOrganizationTrail: {{ trail.is_organization_trail }}
{%- endif %}
{%- if trail.kms_key_id is defined %}
      KMSKeyId: {{ trail.kms_key_id }}
{%- endif %}
{%- if trail.s3_key_prefix is defined %}
      S3KeyPrefix: {{ trail.s3_key_prefix }}
{%- endif %}
{%- if trail.sns_topic_name is defined %}
      SnsTopicName: {{ trail.sns_topic_name }}
{%- endif %}
{%- if trail.trail_name is defined %}
      TrailName: {{ trail.trail_name }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if trail.tags is defined %}
{%- for key,value in trail.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for trail in sceptre_user_data.trails %}
{%- set trail_name = trail.name %}
  {{ trail_name }}:
    Description: Trail Name for {{ trail_name }}
    Value:
      Ref: {{ trail_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ trail_name }}"

  {{ trail_name }}Arn:
    Description: The ARN for {{ trail_name }}
    Value:
      Fn::GetAtt:
        - {{ trail_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ trail_name }}-Arn"

{%- if trail.sns_topic_name is defined %}
  {{ trail_name }}SnsTopicArn:
    Description: The SNS Topic ARN associated with the trail for {{ trail_name }}
    Value:
      Fn::GetAtt:
        - {{ trail_name }}
        - SnsTopicArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ trail_name }}-SnsTopicArn"
{%- endif %}

{%- endfor %}