{%- macro prep(specification) -%}
{%- if specification.launch_template_id is defined -%}
LaunchTemplateId: {{ specification.launch_template_id | trim }}
{%- elif specification.launch_template_name is defined %}
LaunchTemplateName: {{ specification.launch_template_name }}
{%- endif  -%}
Version: {{ specification.version }}
{%- endmacro -%}