---
Description: SecretsManager Secret Target Attachment(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for secret_target_attachment in sceptre_user_data.secret_target_attachments %}
{%- set secret_target_attachment_name = secret_target_attachment.name %}
  {{ secret_target_attachment_name }}:
    Type: AWS::SecretsManager::SecretTargetAttachment
    DeletionPolicy: {{ secret_target_attachment.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ secret_target_attachment.update_replace_policy | default('Delete') }}
    Properties:
      SecretId: {{ secret_target_attachment.secret_id }}
      TargetId: {{ secret_target_attachment.target_id }}
      TargetType: {{ secret_target_attachment.target_type }}

{%- endfor %}

Outputs:

{%- for secret_target_attachment in sceptre_user_data.secret_target_attachments %}
{%- set secret_target_attachment_name = secret_target_attachment.name %}
  {{ secret_target_attachment_name }}:
    Description: The ARN of the secret of {{ secret_target_attachment_name }}
    Value:
      Ref: {{ secret_target_attachment_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ secret_target_attachment_name }}"

{%- endfor %}
