Description: SecretsManager Secret(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for secret in sceptre_user_data.secrets %}
{%- set secret_name = secret.name %}
  {{ secret_name }}:
    Type: AWS::SecretsManager::Secret
    DeletionPolicy: {{ secret.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ secret.update_replace_policy | default('Delete') }}
    Properties:
{%- if secret.description is defined %}
      Description: {{ secret.description }}
{%- endif %}
{%- if secret.generate_secret_string is defined %}
      GenerateSecretString:
{%- if secret.generate_secret_string.exclude_characters is defined %}
        ExcludeCharacters: {{ secret.generate_secret_string.exclude_characters }}
{%- endif %}
{%- if secret.generate_secret_string.exclude_lowercase is defined %}
        ExcludeLowercase: {{ secret.generate_secret_string.exclude_lowercase }}
{%- endif %}
{%- if secret.generate_secret_string.exclude_numbers is defined %}
        ExcludeNumbers: {{ secret.generate_secret_string.exclude_numbers }}
{%- endif %}
{%- if secret.generate_secret_string.exclude_punctuation is defined %}
        ExcludePunctuation: {{ secret.generate_secret_string.exclude_punctuation }}
{%- endif %}
{%- if secret.generate_secret_string.exclude_uppercase is defined %}
        ExcludeUppercase: {{ secret.generate_secret_string.exclude_uppercase }}
{%- endif %}
{%- if secret.generate_secret_string.generate_string_key is defined %}
        GenerateStringKey:
          {{ secret.generate_secret_string.generate_string_key }}
{%- endif %}
{%- if secret.generate_secret_string.include_space is defined %}
        IncludeSpace: {{ secret.generate_secret_string.include_space }}
{%- endif %}
{%- if secret.generate_secret_string.password_length is defined %}
        PasswordLength: {{ secret.generate_secret_string.password_length }}
{%- endif %}
{%- if secret.generate_secret_string.require_each_included_type is defined %}
        RequireEachIncludedType: {{ secret.generate_secret_string.require_each_included_type }}
{%- endif %}
{%- if secret.generate_secret_string.secret_string_template is defined %}
        SecretStringTemplate:
          {{ secret.generate_secret_string.secret_string_template }}
{%- endif %}
{%- elif secret.secret_string is defined %}
      SecretString:
        {{ secret.secret_string }}
{%- endif %}
{%- if secret.kms_key_id is defined %}
      KmsKeyId: {{ secret.kms_key_id | trim }}
{%- endif %}
{%- if secret.secret_name is defined %}
      Name: {{ secret.secret_name }}
{%- endif %}
{%- if secret.replica_regions is defined %}
      ReplicaRegions:
{%- for replica_region in secret.replica_regions %}
        - Region: {{ replica_region.region }}
{%- if replica_region.kms_key_id is defined %}
          KmsKeyId: {{ replica_region.kms_key_id | trim }}
{%- endif %}
{%- endfor %}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if secret.tags is defined %}
{%- for key,value in secret.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for secret in sceptre_user_data.secrets %}
{%- set secret_name = secret.name %}
  {{ secret_name }}:
    Description: The ARN of {{ secret_name }}
    Value:
      Ref: {{ secret_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ secret_name }}"

{%- endfor %}
