---
Description: {{sceptre_user_data.description|default('SSO InstanceAccessControlAttributeConfiguration(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for instance_access_control_attribute_configuration in sceptre_user_data.instance_access_control_attribute_configurations %}
{%- set instance_access_control_attribute_configuration_name = instance_access_control_attribute_configuration.name %}
  {{ instance_access_control_attribute_configuration_name }}:
    Type: AWS::SSO::InstanceAccessControlAttributeConfiguration
    DeletionPolicy: {{ instance_access_control_attribute_configuration.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ instance_access_control_attribute_configuration.update_replace_policy | default('Delete') }}
    Properties:
      InstanceArn: {{ instance_access_control_attribute_configuration.instance_arn | trim }}
{%- if instance_access_control_attribute_configuration.access_control_attributes is defined %}
      AccessControlAttributes:
{%- for attribute in instance_access_control_attribute_configuration.access_control_attributes %}
        - Key: {{ attribute.key }}
          Value:
            Source:
{%- for source in attribute.value.source %}
              - {{ source }}
{%- endfor %}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for instance_access_control_attribute_configuration in sceptre_user_data.instance_access_control_attribute_configurations %}
{%- set instance_access_control_attribute_configuration_name = instance_access_control_attribute_configuration.name %}
  {{ instance_access_control_attribute_configuration_name }}:
    Description: Configuration Id for {{ instance_access_control_attribute_configuration_name }}
    Value:
      Ref: {{ instance_access_control_attribute_configuration_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ instance_access_control_attribute_configuration_name }}"

{%- endfor %}