{%- macro prep(block_device_mappings) %}
      BlockDeviceMappings:
{%- for mapping in block_device_mappings %}
        - DeviceName: {{ mapping.device_name }}
{%- if mapping.ebs is defined %}
          Ebs:
{%- if mapping.ebs.delete_on_termination is defined %}
            DeleteOnTermination: {{ mapping.ebs.delete_on_termination }}
{%- endif %}
{%- if mapping.ebs.encrypted is defined %}
            Encrypted: {{ mapping.ebs.encrypted }}
{%- endif %}
{%- if mapping.ebs.iops is defined %}
            Iops: {{ mapping.ebs.iops }}
{%- endif %}
{%- if mapping.ebs.kms_key_id is defined %}
            KmsKeyId: {{ mapping.ebs.kms_key_id }}
{%- endif %}
{%- if mapping.ebs.snapshot_id is defined %}
            SnapshotId: {{ mapping.ebs.snapshot_id }}
{%- endif %}
{%- if mapping.ebs.volume_size is defined %}
            VolumeSize: {{ mapping.ebs.volume_size }}
{%- endif %}
{%- if mapping.ebs.volume_type is defined %}
            VolumeType: {{ mapping.ebs.volume_type }}
{%- endif %}
{%- elif mapping.virtual_name is defined %}
          VirtualName: {{ mapping.virtual_name }}
{%- endif %}
{%- if mapping.no_device is defined %}
          NoDevice: ""
{%- endif %}
{%- endfor %}
{%- endmacro %}