{%- macro prep(instance_requirements_request) %}
{# implementation of https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ec2-spotfleet-instancerequirementsrequest.html #}
{%- if instance_requirements_request.accelerator_count is defined %}
  AcceleratorCount:
{%- if instance_requirements_request.accelerator_count.max is defined %}
    Max: {{ instance_requirements_request.accelerator_count.max }}
{%- endif %}
{%- if instance_requirements_request.accelerator_count.min is defined %}
    Min: {{ instance_requirements_request.accelerator_count.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.accelerator_manufacturers is defined %}
  AcceleratorManufacturers:
{%- for manufacturer in instance_requirements_request.accelerator_manufacturers %}
    - {{ manufacturer }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.accelerator_names is defined %}
  AcceleratorNames:
{%- for accelerator_name in instance_requirements_request.accelerator_names %}
    - {{ accelerator_name }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.accelerator_total_memory_mib is defined %}
  AcceleratorTotalMemoryMiB:
{%- if instance_requirements_request.accelerator_total_memory_mib.max is defined %}
    Max: {{ instance_requirements_request.accelerator_total_memory_mib.max }}
{%- endif %}
{%- if instance_requirements_request.accelerator_total_memory_mib.min is defined %}
    Min: {{ instance_requirements_request.accelerator_total_memory_mib.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.accelerator_types is defined %}
  AcceleratorTypes:
{%- for accelerator_type in instance_requirements_request.accelerator_types %}
    - {{ accelerator_type }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.bare_metal is defined %}
  BareMetal: {{ instance_requirements_request.bare_metal }}
{%- endif %}
{%- if instance_requirements_request.baseline_ebs_bandwidth_mbps is defined %}
  BaselineEbsBandwidthMbps:
{%- if instance_requirements_request.baseline_ebs_bandwidth_mbps.max is defined %}
    Max: {{ instance_requirements_request.baseline_ebs_bandwidth_mbps.max }}
{%- endif %}
{%- if instance_requirements_request.baseline_ebs_bandwidth_mbps.min is defined %}
    Min: {{ instance_requirements_request.baseline_ebs_bandwidth_mbps.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.burstable_performance is defined %}
  BurstablePerformance: {{ instance_requirements_request.burstable_performance }}
{%- endif %}
{%- if instance_requirements_request.cpu_manufacturers is defined %}
  CpuManufacturers:
{%- for cpu_manufacturer in instance_requirements_request.cpu_manufacturers %}
    - {{ cpu_manufacturer }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.excluded_instance_types is defined %}
  ExcludedInstanceTypes:
{%- for excluded_instance_type in instance_requirements_request.excluded_instance_types %}
    - {{ excluded_instance_type }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.instance_generations is defined %}
  InstanceGenerations:
{%- for instance_generation in instance_requirements_request.instance_generations %}
    - {{ instance_requirements_request.instance_generations }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.local_storage is defined %}
  LocalStorage: {{ instance_requirements_request.local_storage }}
{%- endif %}
{%- if instance_requirements_request.local_storage_types is defined %}
  LocalStorageTypes:
{%- for local_storage_type in instance_requirements_request.local_storage_types %}
    - {{ instance_requirements_request.local_storage_types }}
{%- endfor %}
{%- endif %}
{%- if instance_requirements_request.memory_gib_per_vcpu is defined %}
  MemoryGiBPerVCpu:
{%- if instance_requirements_request.memory_gib_per_vcpu.max is defined %}
    Max: {{ instance_requirements_request.memory_gib_per_vcpu.max }}
{%- endif %}
{%- if instance_requirements_request.memory_gib_per_vcpu.min is defined %}
    Min: {{ instance_requirements_request.memory_gib_per_vcpu.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.memory_mib is defined %}
  MemoryMiB:
{%- if instance_requirements_request.memory_mib.max is defined %}
    Max: {{ instance_requirements_request.memory_mib.max }}
{%- endif %}
{%- if instance_requirements_request.memory_mib.min is defined %}
    Min: {{ instance_requirements_request.memory_mib.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.network_interface_count is defined %}
  NetworkInterfaceCount:
{%- if instance_requirements_request.network_interface_count.max is defined %}
    Max: {{ instance_requirements_request.network_interface_count.max }}
{%- endif %}
{%- if instance_requirements_request.network_interface_count.min is defined %}
    Min: {{ instance_requirements_request.network_interface_count.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.on_demand_max_price_percentage_over_lowest_price is defined %}
  OnDemandMaxPricePercentageOverLowestPrice: {{ instance_requirements_request.on_demand_max_price_percentage_over_lowest_price }}
{%- endif %}
{%- if instance_requirements_request.require_hibernate_support is defined %}
  RequireHibernateSupport: {{ instance_requirements_request.require_hibernate_support }}
{%- endif %}
{%- if instance_requirements_request.spot_max_price_percentage_over_lowest_price is defined %}
  SpotMaxPricePercentageOverLowestPrice: {{ instance_requirements_request.spot_max_price_percentage_over_lowest_price }}
{%- endif %}
{%- if instance_requirements_request.total_local_storage_gb is defined %}
  TotalLocalStorageGB:
{%- if instance_requirements_request.total_local_storage_gb.max is defined %}
    Max: {{ instance_requirements_request.total_local_storage_gb.max }}
{%- endif %}
{%- if instance_requirements_request.total_local_storage_gb.min is defined %}
    Min: {{ instance_requirements_request.total_local_storage_gb.min }}
{%- endif %}
{%- endif %}
{%- if instance_requirements_request.vcpu_count is defined %}
  VCpuCount:
{%- if instance_requirements_request.vcpu_count.max is defined %}
    Max: {{ instance_requirements_request.vcpu_count.max }}
{%- endif %}
{%- if instance_requirements_request.vcpu_count.min is defined %}
    Min: {{ instance_requirements_request.vcpu_count.min }}
{%- endif %}
{%- endif %}

{%- endmacro %}