---
Description: {{sceptre_user_data.description|default('GuardDuty IPSet(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for ip_set in sceptre_user_data.ip_sets %}
{%- set ip_set_name = ip_set.name %}
  {{ ip_set_name }}:
    Type: AWS::GuardDuty::IPSet
    DeletionPolicy: {{ ip_set.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ ip_set.update_replace_policy | default('Delete') }}
    Properties:
      Format: {{ ip_set.format }}
      Location: {{ ip_set.location }}
{%- if ip_set.activate is defined %}
      Activate: {{ ip_set.activate | lower }}
{%- endif %}
{%- if ip_set.detector_id is defined %}
      DetectorId: {{ ip_set.detector_id | trim }}
{%- endif %}
{%- if ip_set.expected_bucket_owner is defined %}
      ExpectedBucketOwner: {{ ip_set.expected_bucket_owner }}
{%- endif %}
{%- if ip_set.ip_set_name is defined %}
      Name: {{ ip_set.ip_set_name }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if ip_set.tags is defined %}
{%- for key,value in ip_set.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:
{%- for ip_set in sceptre_user_data.ip_sets %}
{%- set ip_set_name = ip_set.name %}
  {{ ip_set_name }}:
    Description: Uniqe Id for {{ ip_set_name }}
    Value:
      Ref: {{ ip_set_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ ip_set_name }}"
{%- endfor %}{#
# Supported structure as of 2025-07-26
Type: AWS::GuardDuty::IPSet
Properties:
  Activate: Boolean
  DetectorId: String
  ExpectedBucketOwner: String
  Format: String
  Location: String
  Name: String
  Tags:
    -
      Key: String
      Value: String
#}