---
Description: GuardDuty Master(s) for {{ sceptre_user_data.project_code }}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for master in sceptre_user_data.masters %}
{%- set master_name = master.name %}
  {{ master_name }}:
    Type: AWS::GuardDuty::Master
    DeletionPolicy: {{ master.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ master.update_replace_policy | default('Delete') }}
    Properties:
      DetectorId: {{ master.detector_id }}
      MasterId: {{ master.master_id }}
{%- if master.invitation_id  is defined %}
      InvitationId: {{ master.invitation_id }}
{%- endif %}

{%- endfor %}

Outputs:

{%- for master in sceptre_user_data.masters %}
{%- set master_name = master.name %}
  {{ master_name }}:
    Description: Unique ID administrator account for {{ master_name }}
    Value:
      Ref: {{ master_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ master_name }}"

{%- endfor %}