---
Description: {{sceptre_user_data.description|default('GuardDuty Member(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for member in sceptre_user_data.members %}
{%- set member_name = member.name %}
  {{ member_name }}:
    Type: AWS::GuardDuty::Member
    DeletionPolicy: {{ member.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ member.update_replace_policy | default('Delete') }}
    Properties:
      Email: {{ member.email }}
{%- if member.detector_id is defined %}
      DetectorId: {{ member.detector_id | trim }}
{%- endif %}
{%- if member.member_id is defined %}
      MemberId: {{ member.member_id | trim }}
{%- endif %}
{%- if member.disable_email_notification is defined %}
      DisableEmailNotification: {{ member.disable_email_notification | lower }}
{%- endif %}
{%- if member.message is defined %}
      Message: {{ member.message }}
{%- endif %}
{%- if member.status is defined %}
      Status: {{ member.status }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for member in sceptre_user_data.members %}
{%- set member_name = member.name %}
  {{ member_name }}:
    Description: Unique Id member account for {{ member_name }}
    Value:
      Ref: {{ member_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ member_name }}"
{%- endfor %}{#
# Supported structure as of 2025-07-26
Type: AWS::GuardDuty::Member
Properties:
  DetectorId: String
  DisableEmailNotification: Boolean
  Email: String
  InvitationId: String
  MemberId: String
  Message: String
  Status: String
#}