---
Description: {{sceptre_user_data.description|default('CertificateManager Account(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for account in sceptre_user_data.accounts %}
{%- set account_name = account.name %}
  {{ account_name }}:
    Type: AWS::CertificateManager::Account
    DeletionPolicy: {{ account.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ account.update_replace_policy | default('Delete') }}
    Properties:
      ExpiryEventsConfiguration:
{%- if account.expiry_events_configuration.days_before_expiry is defined %}
        DaysBeforeExpiry: {{ account.expiry_events_configuration.days_before_expiry }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for account in sceptre_user_data.accounts %}
{%- set account_name = account.name %}
  {{ account_name }}:
    Description: AWS Account ID for {{ account_name }}
    Value:
      Ref: {{ account_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ account_name }}"
  {{ account_name }}AccountId:
    Description: AWS Account ID for {{ account_name }}
    Value:
      Fn::GetAtt:
        - {{ account_name }}
        - AccountId
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ account_name }}-AccountId"
{%- endfor %}{#
# Supported structure as of 2026-03-08
Type: AWS::CertificateManager::Account
Properties:
  ExpiryEventsConfiguration:
    DaysBeforeExpiry: Integer
#}