---
Description: {{sceptre_user_data.description|default('MemoryDB ParameterGroup(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for parameter_group in sceptre_user_data.parameter_groups %}
{%- set parameter_group_name = parameter_group.name %}
  {{ parameter_group_name }}:
    Type: AWS::MemoryDB::ParameterGroup
    DeletionPolicy: {{ parameter_group.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ parameter_group.update_replace_policy | default('Delete') }}
    Properties:
      Family: {{parameter_group.family}}
      ParameterGroupName: {{parameter_group.parameter_group_name}}
{%- if parameter_group.description is defined %}
      Description: {{parameter_group.description}}
{%- endif %}
{%- if parameter_group.parameters_json is defined %}
      Parameters: {{parameter_group.parameters_json}}
{%- elif parameter_group.parameters is defined %}
      Parameters:
{%- for key,value in parameter_group.parameters.items() %}
        {{key}}: {{value}}
{%- endfor %}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if parameter_group.tags is defined %}
{%- for key,value in parameter_group.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for parameter_group in sceptre_user_data.parameter_groups %}
{%- set parameter_group_name = parameter_group.name %}
  {{ parameter_group_name }}Arn:
    Description: The ARN for {{ parameter_group_name }}
    Value:
      Fn::GetAtt:
        - {{ parameter_group_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ parameter_group_name }}-Arn"

{{ parameter_group_name }}Name:
    Description: The Name of {{ parameter_group_name }}
    Value: {{parameter_group.parameter_group_name}}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ parameter_group_name }}-Name"

{%- endfor %}