---
Description: {{sceptre_user_data.description|default('IAM User Policy(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for user_policy in sceptre_user_data.user_policies %}
{%- set user_policy_name = user_policy.name %}
  {{ user_policy_name }}:
    Type: AWS::IAM::UserPolicy
    DeletionPolicy: {{ user_policy.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ user_policy.update_replace_policy | default('Delete') }}
    Properties:
      PolicyName: {{ user_policy.policy_name }}
      UserName: {{ user_policy.user_name }}
{%- if user_policy.policy_document_json is defined %}
      PolicyDocument: {{ user_policy.policy_document_json }}
{%- else %}
      PolicyDocument:
        {{ user_policy.policy_document | indent(width=8, first=false) }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for user_policy in sceptre_user_data.user_policies %}
{%- set user_policy_name = user_policy.name %}
  {{ user_policy_name }}:
    Description: The resource name for {{ user_policy_name }}
    Value:
      Ref: {{ user_policy_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ user_policy_name }}"
{%- endfor %}{#
# Supported structure as of 2025-06-25
Type: AWS::IAM::UserPolicy
Properties:
  PolicyDocument: Json
  PolicyName: String
  UserName: String
#}