---
{%- import 'macros/cloudwatch-helper.yaml.j2' as helper %}
Description: {{sceptre_user_data.description|default('CloudWatch Alarm(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for alarm in sceptre_user_data.alarms %}
{%- set alarm_name = alarm.name %}
  {{ alarm_name }}:
    Type: AWS::CloudWatch::Alarm
    DeletionPolicy: {{ alarm.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ alarm.update_replace_policy | default('Delete') }}
    Properties:
{%- if alarm.actions_enabled is defined %}
      ActionsEnabled: {{ alarm.actions_enabled | lower }}
{%- endif %}
{%- if alarm.alarm_actions is defined %}
      AlarmActions:
{%- for alarm_action in alarm.alarm_actions %}
        - {{ alarm_action | trim }}
{%- endfor %}
{%- endif %}
{%- if alarm.alarm_description is defined %}
      AlarmDescription: {{ alarm.alarm_description }}
{%- endif %}
{%- if alarm.alarm_name is defined %}
      AlarmName: {{ alarm.alarm_name }}
{%- endif %}
{%- if alarm.comparison_operator is defined %}
      ComparisonOperator: {{ alarm.comparison_operator }}
{%- endif %}
{%- if alarm.datapoints_to_alarm is defined %}
      DatapointsToAlarm: {{ alarm.datapoints_to_alarm }}
{%- endif %}
{%- if alarm.dimensions is defined %}{# BEGIN if alarm.dimensions is defined #}
      Dimensions:
        {{- helper.prep_dimensions(alarm.dimensions) | indent(width=8,first=false) }}
{%- endif %}{# END if alarm.dimensions is defined #}
{%- if alarm.evaluate_low_sample_count_percentile is defined %}
      EvaluateLowSampleCountPercentile: {{ alarm.evaluate_low_sample_count_percentile }}
{%- endif %}
{%- if alarm.evaluation_criteria is defined %}{# BEGIN if alarm.evaluation_criteria is defined #}
      EvaluationCriteria:
{%- if alarm.evaluation_criteria.promql_criteria is defined %}{# BEGIN if alarm.evaluation_criteria.promql_criteria is defined #}
        PromQLCriteria:
{%- if alarm.evaluation_criteria.promql_criteria.pending_period is defined %}
          PendingPeriod: {{ alarm.evaluation_criteria.promql_criteria.pending_period }}
{%- endif %}
{%- if alarm.evaluation_criteria.promql_criteria.query is defined %}
          Query: |
            {{ alarm.evaluation_criteria.promql_criteria.query | indent(width=12, first=false) }}
{%- endif %}
{%- if alarm.evaluation_criteria.promql_criteria.recovery_period is defined %}
          RecoveryPeriod: {{ alarm.evaluation_criteria.promql_criteria.recovery_period }}
{%- endif %}
{%- endif %}
{%- endif %}{# END if alarm.evaluation_criteria is defined #}
{%- if alarm.evaluation_interval is defined %}
      EvaluationInterval: {{ alarm.evaluation_interval }}
{%- endif %}
{%- if alarm.extended_statistic is defined %}
      ExtendedStatistic: {{ alarm.extended_statistic }}
{%- endif %}
{%- if alarm.evaluation_period is defined %}
      EvaluationPeriods: {{ alarm.evaluation_period }}
{%- endif %}
{%- if alarm.insufficient_data_actions is defined %}{# BEGIN if alarm.insufficient_data_actions is defined #}
      InsufficientDataActions:
{%- for data_action in alarm.insufficient_data_actions %}
        - {{ data_action | trim }}
{%- endfor %}
{%- endif %}{# END if alarm.insufficient_data_actions is defined #}
{%- if alarm.metric_name is defined %}
      MetricName: {{ alarm.metric_name }}
{%- endif %}
{%- if alarm.metrics is defined %}{# BEGIN if alarm.metrics is defined #}
      Metrics:
        {{- helper.prep_metric_data_query(alarm.metrics) | indent(width=8,first=false) }}
{%- endif %}{# END if alarm.metrics is defined #}
{%- if alarm.namespace is defined %}
      Namespace: {{ alarm.namespace }}
{%- endif %}
{%- if alarm.ok_actions is defined %}{# BEGIN if alarm.ok_actions is defined #}
      OKActions:
{%- for action in alarm.ok_actions %}
        - {{ action | trim }}
{%- endfor %}
{%- endif %}{# END if alarm.ok_actions is defined #}
{%- if alarm.period is defined %}
      Period: {{ alarm.period }}
{%- endif %}
{%- if alarm.statistic is defined %}
      Statistic: {{ alarm.statistic }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if alarm.tags is defined %}
{%- for key,value in alarm.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- if alarm.threshold is defined %}
      Threshold: {{ alarm.threshold }}
{%- endif %}
{%- if alarm.threshold_metric_id is defined %}
      ThresholdMetricId: {{ alarm.threshold_metric_id | trim }}
{%- endif %}
{%- if alarm.treat_missing_data is defined %}
      TreatMissingData: {{ alarm.treat_missing_data }}
{%- endif %}
{%- if alarm.unit is defined %}
      Unit: {{ alarm.unit }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for alarm in sceptre_user_data.alarms %}
{%- set alarm_name = alarm.name %}
  {{ alarm_name }}:
    Description: Alarm Name for {{ alarm_name }}
    Value:
      Ref: {{ alarm_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ alarm_name }}"
  {{ alarm_name }}Arn:
    Description: The ARN for {{ alarm_name }}
    Value:
      Fn::GetAtt:
        - {{ alarm_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ alarm_name }}-Arn"
{%- endfor %}{#
# Supported structure as of 2026-03-09
Type: AWS::CloudWatch::Alarm
Properties:
  ActionsEnabled: Boolean
  AlarmActions:
    - String
  AlarmDescription: String
  AlarmName: String
  ComparisonOperator: String
  DatapointsToAlarm: Integer
  Dimensions:
    -
      Name: String
      Value: String
  EvaluateLowSampleCountPercentile: String
  EvaluationCriteria:
    PromQLCriteria:
      PendingPeriod: Integer
      Query: String
      RecoveryPeriod: Integer
  EvaluationInterval: Integer
  EvaluationPeriods: Integer
  ExtendedStatistic: String
  InsufficientDataActions:
    - String
  MetricName: String
  Metrics:
    -
      AccountId: String
      Expression: String
      Id: String
      Label: String
      MetricStat:
        Metric:
          Dimensions:
            -
              Name: String
              Value: String
          MetricName: String
          Namespace: String
        Period: Integer
        Stat: String
        Unit: String
      Period: Integer
      ReturnData: Boolean
  Namespace: String
  OKActions:
    - String
  Period: Integer
  Statistic: String
  Tags:
    -
      Key: String
      Value: String
  Threshold: Number
  ThresholdMetricId: String
  TreatMissingData: String
  Unit: String
#}