---
Description: {{sceptre_user_data.description|default('ELBv2 Listener Certificate(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for listener_certificate in sceptre_user_data.listener_certificates %}
{%- set listener_certificate_name = listener_certificate.name %}
  {{ listener_certificate_name }}:
    Type: AWS::ElasticLoadBalancingV2::ListenerCertificate
    DeletionPolicy: {{ listener_certificate.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ listener_certificate.update_replace_policy | default('Delete') }}
    Properties:
      Certificates:
{%- for certificate in listener_certificate.certificates %}
        - CertificateArn: {{ certificate.certificate_arn | trim }}
{%- endfor %}
      ListenerArn: {{ listener_certificate.listener_arn | trim }}
{%- endfor %}
