---
{%- import 'macros/listener_action.yaml.j2' as listener_action %}
Description: {{sceptre_user_data.description|default('ELBv2 Listener(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for listener in sceptre_user_data.listeners %}
{%- set listener_name = listener.name %}
  {{ listener_name }}:
    Type: AWS::ElasticLoadBalancingV2::Listener
    DeletionPolicy: {{ listener.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ listener.update_replace_policy | default('Delete') }}
    Properties:
      DefaultActions:
        {{- listener_action.prep(listener.default_actions) | indent(width=8, first=false) }}
      LoadBalancerArn: {{ listener.load_balancer_arn | trim }}
{%- if listener.alpn_policy is defined %}{# BEGIN if listener.alpn_policy is defined #}
      AlpnPolicy:
{%- for alpn_policy in listener.alpn_policy %}
        - {{ alpn_policy }}
{%- endfor %}
{%- endif %}{# END if listener.alpn_policy is defined #}
{%- if listener.certificates is defined %}{# BEGIN if listener.certificates is defined #}
      Certificates:
{%- for certificate in listener.certificates %}
        - CertificateArn: {{ certificate.certificate_arn | trim }}
{%- endfor %}
{%- endif %}{# END if listener.certificates is defined #}
{%- if listener.listener_attributes is defined %}{# BEGIN if listener.listener_attributes is defined #}
      ListenerAttributes:
{%- for attribute in listener.listener_attributes %}{# BEGIN for attribute in listener.listener_attributes #}
        -
{%- if attribute.key is defined %}
          Key: {{ attribute.key }}
{%- endif %}
{%- if attribute.value is defined %}
          Value: {{ attribute.value }}
{%- endif %}
{%- endfor %}{# END for attribute in listener.listener_attributes #}
{%- endif %}{# END if listener.listener_attributes is defined #}
{%- if listener.mutual_authentication is defined %}{# BEGIN if listener.mutual_authentication is defined #}
      MutualAuthentication:
{%- if listener.mutual_authentication.advertise_trust_store_ca_names is defined %}
        AdvertiseTrustStoreCaNames: {{ listener.mutual_authentication.advertise_trust_store_ca_names }}
{%- endif %}
{%- if listener.mutual_authentication.ignore_client_certificate_expiry is defined %}
        IgnoreClientCertificateExpiry: {{ listener.mutual_authentication.ignore_client_certificate_expiry | lower }}
{%- endif %}
{%- if listener.mutual_authentication.mode is defined %}
        Mode: {{ listener.mutual_authentication.mode }}
{%- endif %}
{%- if listener.mutual_authentication.trust_store_arn is defined %}
        TrustStoreArn: {{ listener.mutual_authentication.trust_store_arn | trim }}
{%- endif %}
{%- endif %}{# END if listener.mutual_authentication is defined #}
{%- if listener.port is defined %}
      Port: {{ listener.port }}
{%- endif %}
{%- if listener.protocol is defined %}
      Protocol: {{ listener.protocol }}
{%- endif %}
{%- if listener.ssl_policy is defined %}
      SslPolicy: {{ listener.ssl_policy }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for listener in sceptre_user_data.listeners %}
{%- set listener_name = listener.name %}
  {{ listener_name }}:
    Description: The ARN of {{ listener_name }}
    Value:
      Ref: {{ listener_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ listener_name }}"
  {{ listener_name }}ListenerArn:
    Description: The ARN of {{ listener_name }}
    Value:
      Fn::GetAtt:
        - {{ listener_name }}
        - ListenerArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ listener_name }}-ListenerArn"
{%- endfor %}{#
# Supported structure as of 2026-06-26:
Type: AWS::ElasticLoadBalancingV2::Listener
Properties:
  AlpnPolicy:
    - String
  Certificates:
    - CertificateArn: String
  DefaultActions:
    -
      AuthenticateCognitoConfig:
        AuthenticationRequestExtraParams:
          Key: Value
        OnUnauthenticatedRequest: String
        Scope: String
        SessionCookieName: String
        SessionTimeout: String
        UserPoolArn: String
        UserPoolClientId: String
        UserPoolDomain: String
      AuthenticateOidcConfig:
        AuthenticationRequestExtraParams:
          Key: Value
        AuthorizationEndpoint: String
        ClientId: String
        ClientSecret: String
        Issuer: String
        OnUnauthenticatedRequest: String
        Scope: String
        SessionCookieName: String
        SessionTimeout: String
        TokenEndpoint: String
        UseExistingClientSecret: Boolean
        UserInfoEndpoint: String
      FixedResponseConfig:
        ContentType: String
        MessageBody: String
        StatusCode: String
      ForwardConfig:
        TargetGroups:
          -
            TargetGroupArn: String
            Weight: Integer
        TargetGroupStickinessConfig:
          DurationSeconds: Integer
          Enabled: Boolean
      JwtValidationConfig:
        AdditionalClaims:
          -
            Format: String
            Name: String
            Values:
              - String
        Issuer: String
        JwksEndpoint: String
      Order: Integer
      RedirectConfig:
        Host: String
        Path: String
        Port: String
        Protocol: String
        Query: String
        StatusCode: String
      TargetGroupArn: String
      Type: String
  ListenerAttributes:
    -
      Key: String
      Value: String
  LoadBalancerArn: String
  MutualAuthentication:
    AdvertiseTrustStoreCaNames: String
    IgnoreClientCertificateExpiry: Boolean
    Mode: String
    TrustStoreArn: String
  Port: Integer
  Protocol: String
  SslPolicy: String
#}