---
{%- import 'macros/certificate-helper.yaml.j2' as helper %}
Description: {{sceptre_user_data.description|default('ACMPCA Certificate Authority(es) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for certificate_authority in sceptre_user_data.certificate_authorities %}
{%- set certificate_authority_name = certificate_authority.name %}
  {{ certificate_authority_name }}:
    Type: AWS::ACMPCA::CertificateAuthority
    DeletionPolicy: {{ certificate_authority.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ certificate_authority.update_replace_policy | default('Delete') }}
    Properties:
      Subject:
        {{helper.prep_subject(certificate_authority.subject)|indent(width=8,first=false)}}
      Type: {{certificate_authority.type}}
      SigningAlgorithm: {{certificate_authority.signing_algorithm}}
      KeyAlgorithm: {{certificate_authority.key_algorithm}}
{%- if certificate_authority.csr_extensions is defined %}{# if certificate_authority.csr_extensions is defined #}
      CsrExtensions:
{%- if certificate_authority.csr_extensions.key_usage is defined %}{# if certificate_authority.csr_extensions.key_usage is defined #}
        KeyUsage:
          {{ helper.prep_key_usage(certificate_authority.csr_extensions.key_usage) | indent(width=10,first=false) }}
{%- endif %}{# endif certificate_authority.csr_extensions.key_usage is defined #}
{%- if certificate_authority.csr_extensions.subject_information_access is defined %}{# if certificate_authority.csr_extensions.subject_information_access is defined #}
        SubjectInformationAccess:
{%- for access in certificate_authority.csr_extensions.subject_information_access %}{# BEGIN for access in certificate_authority.csr_extensions.subject_information_access #}
          -
            AccessLocation:
{%- if access.access_location.directory_name is defined %}{# BEGIN if access.access_location.directory_name is defined #}
              DirectoryName:
                {{helper.prep_subject(access.access_location.directory_name)|indent(width=16,first=false)}}
{%- endif %}{# END if access.access_location.directory_name is defined #}
{%- if access.access_location.dns_name is defined %}
              DnsName: {{access.access_location.dns_name}}
{%- endif %}
{%- if access.access_location.edi_party_name is defined %}{# BEGIN if access.access_location.edi_party_name is defined #}
              EdiPartyName:
                PartyName: {{access.access_location.edi_party_name.party_name}}
{%- if access.access_location.edi_party_name.name_assigner is defined %}
                NameAssigner: {{access.access_location.edi_party_name.name_assigner}}
{%- endif %}
{%- endif %}{# END if access.access_location.edi_party_name is defined #}
{%- if access.access_location.ip_address is defined %}
              IpAddress: {{access.access_location.ip_address}}
{%- endif %}
{%- if access.access_location.other_name is defined %}
              OtherName:
                TypeId: {{access.access_location.other_name.type_id}}
                Value: {{access.access_location.other_name.value}}
{%- endif %}
{%- if access.access_location.registered_id is defined %}
              RegisteredId: {{access.access_location.registered_id}}
{%- endif %}
{%- if access.access_location.rfc822_name is defined %}
              Rfc822Name: {{access.access_location.rfc822_name}}
{%- endif %}
{%- if access.access_location.uniform_resource_identifier is defined %}
              UniformResourceIdentifier: {{access.access_location.uniform_resource_identifier}}
{%- endif %}
            AccessMethod:
{%- if access.access_method.access_method_type is defined %}
              AccessMethodType: {{access.access_method.access_method_type}}
{%- endif %}
{%- if access.access_method.custom_object_identifier is defined %}
              CustomObjectIdentifier: {{access.access_method.custom_object_identifier}}
{%- endif %}
{%- endfor %}{# END for access in certificate_authority.csr_extensions.subject_information_access #}
{%- endif %}{# endif certificate_authority.csr_extensions.subject_information_access is defined #}
{%- endif %}{# endif certificate_authority.csr_extensions is defined #}
{%- if certificate_authority.key_storage_security_standard is defined %}
      KeyStorageSecurityStandard: {{certificate_authority.key_storage_security_standard}}
{%- endif %}
{%- if certificate_authority.revocation_configuration is defined %}{# if certificate_authority.revocation_configuration is defined #}
      RevocationConfiguration:
{%- if certificate_authority.revocation_configuration.crl_configuration is defined %}
        CrlConfiguration:
          Enabled: {{certificate_authority.revocation_configuration.crl_configuration.enabled | lower | default('false')}}
{%- if certificate_authority.revocation_configuration.crl_configuration.crl_distribution_point_extension is defined %}
          CrlDistributionPointExtensionConfiguration:
            OmitExtension: {{ certificate_authority.revocation_configuration.crl_configuration.crl_distribution_point_extension.omit_extension | lower }}
{%- endif %}
{%- if certificate_authority.revocation_configuration.crl_configuration.crl_type is defined %}
          CrlType: {{certificate_authority.revocation_configuration.crl_configuration.crl_type}}
{%- endif %}
{%- if certificate_authority.revocation_configuration.crl_configuration.custom_cname is defined %}
          CustomCname: {{certificate_authority.revocation_configuration.crl_configuration.custom_cname}}
{%- endif %}
{%- if certificate_authority.revocation_configuration.crl_configuration.custom_path is defined %}
          CustomPath: {{certificate_authority.revocation_configuration.crl_configuration.custom_path}}
{%- endif %}
{%- if certificate_authority.revocation_configuration.crl_configuration.expiration_in_days is defined %}
          ExpirationInDays: {{certificate_authority.revocation_configuration.crl_configuration.expiration_in_days}}
{%- endif %}
{%- if certificate_authority.revocation_configuration.crl_configuration.s3_bucket_name is defined %}
          S3BucketName: {{certificate_authority.revocation_configuration.crl_configuration.s3_bucket_name}}
{%- endif %}
{%- if certificate_authority.revocation_configuration.crl_configuration.s3_object_acl is defined %}
          S3ObjectAcl: {{certificate_authority.revocation_configuration.crl_configuration.s3_object_acl}}
{%- endif %}
{%- endif %}
{%- if certificate_authority.revocation_configuration.ocsp_configuration is defined %}{# BEGIN if certificate_authority.revocation_configuration.ocsp_configuration is defined #}
        OcspConfiguration:
          Enabled: {{certificate_authority.revocation_configuration.ocsp_configuration.enabled | lower | default('false')}}
{%- if certificate_authority.revocation_configuration.ocsp_configuration.ocsp_custom_name is defined %}
          OcspCustomCname: {{certificate_authority.revocation_configuration.ocsp_configuration.ocsp_custom_name}}
{%- endif %}
{%- endif %}{# END if certificate_authority.revocation_configuration.ocsp_configuration is defined #}
{%- endif %}{# endif certificate_authority.revocation_configuration is defined #}
{%- if certificate_authority.usage_mode is defined %}
      UsageMode: {{certificate_authority.usage_mode}}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if certificate_authority.tags is defined %}
{%- for key,value in certificate_authority.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- endfor %}

Outputs:
{%- for certificate_authority in sceptre_user_data.certificate_authorities %}
{%- set certificate_authority_name = certificate_authority.name %}
  {{ certificate_authority_name }}:
    Description: The Amazon Resource Name (ARN) of the certificate authority {{ certificate_authority_name }}
    Value:
      Ref: {{ certificate_authority_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ certificate_authority_name }}"
  {{ certificate_authority_name }}Arn:
    Description: The Amazon Resource Name (ARN) for the private CA {{ certificate_authority_name }}
    Value:
      Fn::GetAtt:
        - {{ certificate_authority_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ certificate_authority_name }}-Arn"
  {{ certificate_authority_name }}CertificateSigningRequest:
    Description: The Base64 PEM-encoded certificate signing request (CSR) for the certificate of the CA {{ certificate_authority_name }}
    Value:
      Fn::GetAtt:
        - {{ certificate_authority_name }}
        - CertificateSigningRequest
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ certificate_authority_name }}-CertificateSigningRequest"
{%- endfor %}{#
# Supported structure as of 2026-03-06
Type: AWS::ACMPCA::CertificateAuthority
Properties:
  CsrExtensions:
    KeyUsage:
      CRLSign: Boolean
      DataEncipherment: Boolean
      DecipherOnly: Boolean
      DigitalSignature: Boolean
      EncipherOnly: Boolean
      KeyAgreement: Boolean
      KeyCertSign: Boolean
      KeyEncipherment: Boolean
      NonRepudiation: Boolean
    SubjectInformationAccess:
      -
        AccessLocation:
          DirectoryName:
            CommonName: String
            Country: String
            CustomAttributes:
              -
                ObjectIdentifier: String
                Value: String
            DistinguishedNameQualifier: String
            GenerationQualifier: String
            GivenName: String
            Initials: String
            Locality: String
            Organization: String
            OrganizationalUnit: String
            Pseudonym: String
            SerialNumber: String
            State: String
            Surname: String
            Title: String
          DnsName: String
          EdiPartyName:
            NameAssigner: String
            PartyName: String
          IpAddress: String
          OtherName:
            TypeId: String
            Value: String
          RegisteredId: String
          Rfc822Name: String
          UniformResourceIdentifier: String
        AccessMethod:
          AccessMethodType: String
          CustomObjectIdentifier: String
  KeyAlgorithm: String
  KeyStorageSecurityStandard: String
  RevocationConfiguration:
    CrlConfiguration:
      CrlDistributionPointExtensionConfiguration:
        OmitExtension: Boolean
      CrlType: String
      CustomCname: String
      CustomPath: String
      Enabled: Boolean
      ExpirationInDays: Integer
      S3BucketName: String
      S3ObjectAcl: String
    OcspConfiguration:
      Enabled: Boolean
      OcspCustomCname: String
  SigningAlgorithm: String
  Subject:
    CommonName: String
    Country: String
    CustomAttributes:
      -
        ObjectIdentifier: String
        Value: String
    DistinguishedNameQualifier: String
    GenerationQualifier: String
    GivenName: String
    Initials: String
    Locality: String
    Organization: String
    OrganizationalUnit: String
    Pseudonym: String
    SerialNumber: String
    State: String
    Surname: String
    Title: String
  Tags:
    -
      Key: String
      Value: String
  Type: String
  UsageMode: String
#}