{%- macro prep(encryption_configuration) %}
EncryptionOption: {{ encryption_configuration.encryption_option }}
{%- if encryption_configuration.kms_key is defined %}
KmsKey: {{ encryption_configuration.kms_key | trim }}
{%- endif %}
{%- endmacro %}