---
Description: {{sceptre_user_data.description|default('Inspector AssessmentTemplate(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for assessment_template in sceptre_user_data.assessment_templates %}
{%- set assessment_template_name = assessment_template.name %}
  {{ assessment_template_name }}:
    Type: AWS::Inspector::AssessmentTemplate
    DeletionPolicy: {{ assessment_template.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ assessment_template.update_replace_policy | default('Delete') }}
    Properties:
      AssessmentTargetArn: {{ assessment_template.assessment_target_arn | trim }}
      DurationInSeconds: {{ assessment_template.duration_in_seconds }}
      RulesPackageArns:
{%- for rules_package_arn in assessment_template.rules_package_arns %}
        - {{ rules_package_arn | trim }}
{%- endfor %}
{%- if assessment_template.assessment_template_name is defined %}
      AssessmentTemplateName: {{ assessment_template.assessment_template_name }}
{%- endif %}
{%- if assessment_template.user_attributes_for_findings is defined %}
      UserAttributesForFindings:
{%- for key,value in assessment_template.user_attributes_for_findings.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}

{%- endfor %}

Outputs:

{%- for assessment_template in sceptre_user_data.assessment_templates %}
{%- set assessment_template_name = assessment_template.name %}
  {{ assessment_template_name }}:
    Description: The ARN for {{ assessment_template_name }}
    Value:
      Ref: {{ assessment_template_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ assessment_template_name }}"

  {{ assessment_template_name }}Arn:
    Description: The ARN for {{ assessment_template_name }}
    Value:
      Fn::GetAtt:
        - {{ assessment_template_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ assessment_template_name }}-Arn"

{%- endfor %}