---
Description: {{sceptre_user_data.description|default('Events API Destination(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:

{%- for api_destination in sceptre_user_data.api_destinations %}
{%- set api_destination_name = api_destination.name %}
  {{ api_destination_name }}:
    Type: AWS::Events::ApiDestination
    DeletionPolicy: {{ api_destination.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ api_destination.update_replace_policy | default('Delete') }}
    Properties:
      ConnectionArn: {{ api_destination.connection_arn | trim }}
      HttpMethod: {{ api_destination.http_method }}
      InvocationEndpoint: {{ api_destination.invocation_endpoint }}
{%- if api_destination.description is defined %}
      Description: {{ api_destination.description }}
{%- endif %}
{%- if api_destination.invocation_rate_limit_per_second is defined %}
      InvocationRateLimitPerSecond: {{ api_destination.invocation_rate_limit_per_second }}
{%- endif %}
{%- if api_destination.api_destination_name is defined %}
      Name: {{ api_destination.api_destination_name }}
{%- endif %}

{%- endfor %}

Outputs:

{%- for api_destination in sceptre_user_data.api_destinations %}
{%- set api_destination_name = api_destination.name %}
  {{ api_destination_name }}:
    Description: The API Destination Name for {{ api_destination_name }}
    Value:
      Ref: {{ api_destination_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ api_destination_name }}"

  {{ api_destination_name }}Arn:
    Description: The ARN for API Destination {{ api_destination_name }}
    Value:
      Fn::GetAtt:
        - {{ api_destination_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ api_destination_name }}-Arn"

{%- endfor %}