---
{%- import 'macros/helper.yaml.j2' as helper %}
Description: {{sceptre_user_data.description|default('DynamoDB Table(s) for '+sceptre_user_data.project_code)}}
AWSTemplateFormatVersion: "2010-09-09"

Resources:
{%- for table in sceptre_user_data.tables %}
{%- set table_name = table.name %}
  {{ table_name }}:
    Type: AWS::DynamoDB::Table
    DeletionPolicy: {{ table.deletion_policy | default('Delete') }}
    UpdateReplacePolicy: {{ table.update_replace_policy | default('Delete') }}
    Properties:
      KeySchema:
{%- for schema in table.key_schema %}
        -
          {{- helper.prep_key_schema(schema) | indent(width=10, first=false) }}
{%- endfor %}
{%- if table.attribute_definitions is defined %}{# BEGIN if table.attribute_definitions is defined #}
      AttributeDefinitions:
{%- for attribute_definition in table.attribute_definitions %}
        -
          AttributeName: {{ attribute_definition.attribute_name }}
          AttributeType: {{ attribute_definition.attribute_type }}
{%- endfor %}
{%- endif %}{# END if table.attribute_definitions is defined #}
{%- if table.billing_mode is defined %}
      BillingMode: {{ table.billing_mode }}
{%- endif %}
{%- if table.contributor_insights_specification is defined %}
      ContributorInsightsSpecification:
        {{- helper.prep_contributor_insights_specification(table.contributor_insights_specification) | indent(width=8, first=false) }}
{%- endif %}
{%- if table.deletion_protection_enabled is defined %}
      DeletionProtectionEnabled: {{ table.deletion_protection_enabled | lower }}
{%- endif %}
{%- if table.global_secondary_indexes is defined %}{# BEGIN if table.global_secondary_indexes is defined #}
      GlobalSecondaryIndexes:
{%- for index in table.global_secondary_indexes %}{# BEGIN {%- for index in table.global_secondary_indexes %} #}
        -
          IndexName: {{ index.index_name }}
          KeySchema:
{%- for schema in index.key_schema %}
            -
              {{- helper.prep_key_schema(schema) | indent(width=14, first=false) }}
{%- endfor %}
          Projection:
            {{- helper.prep_projection(index.projection) | indent(width=12, first=false) }}
{%- if index.contributor_insights_specification is defined %}
          ContributorInsightsSpecification:
            {{- helper.prep_contributor_insights_specification(index.contributor_insights_specification) | indent(width=12, first=false) }}
{%- endif %}
{%- if index.on_demand_throughput is defined %}
          OnDemandThroughput:
            {{- helper.prep_on_demand_throughput(index.on_demand_throughput) | indent(width=12, first=false) }}
{%- endif %}
{%- if index.provisioned_throughput is defined %}
          ProvisionedThroughput:
            {{- helper.prep_provisioned_throughput(index.provisioned_throughput) | indent(width=12, first=false) }}
{%- endif %}
{%- if index.warm_throughput is defined %}
          WarmThroughput:
            {{- helper.prep_warm_throughput(index.warm_throughput) | indent(width=12, first=false) }}
{%- endif %}
{%- endfor %}{# END {%- for index in table.global_secondary_indexes %} #}
{%- endif %}{# END if table.global_secondary_indexes is defined #}
{%- if table.import_source_specification is defined %}{# BEGIN if table.import_source_specification is defined #}
      ImportSourceSpecification:
        InputFormat: {{ table.import_source_specification.input_format }}
        S3BucketSource:
          S3Bucket: {{ table.import_source_specification.s3_bucket_source.s3_bucket }}
{%- if table.import_source_specification.s3_bucket_source.s3_bucket_owner is defined %}
          S3BucketOwner: {{ table.import_source_specification.s3_bucket_source.s3_bucket_owner }}
{%- endif %}
{%- if table.import_source_specification.s3_bucket_source.s3_key_prefix is defined %}
          S3KeyPrefix: {{ table.import_source_specification.s3_bucket_source.s3_key_prefix }}
{%- endif %}
{%- if table.import_source_specification.input_compression_type is defined %}
        InputCompressionType: {{ table.import_source_specification.input_compression_type }}
{%- endif %}
{%- if table.import_source_specification.input_format_options is defined %}{# BEGIN if table.import_source_specification.input_format_options is defined #}
        InputFormatOptions:
{%- if table.import_source_specification.input_format_options.csv is defined %}{# BEGIN if table.import_source_specification.input_format_options.csv is defined #}
          Csv:
{%- if table.import_source_specification.input_format_options.csv.delimiter is defined %}
            Delimiter: {{ table.import_source_specification.input_format_options.csv.delimiter }}
{%- endif %}
{%- if table.import_source_specification.input_format_options.csv.header_list is defined %}{# BEGIN if table.import_source_specification.input_format_options.csv.header_list is defined #}
            HeaderList:
{%- for header in table.import_source_specification.input_format_options.csv.header_list %}
              - {{ header }}
{%- endfor %}
{%- endif %}{# END if table.import_source_specification.input_format_options.csv.header_list is defined #}
{%- endif %}{# END if table.import_source_specification.input_format_options.csv is defined #}
{%- endif %}{# END if table.import_source_specification.input_format_options is defined #}
{%- endif %}{# END if table.import_source_specification is defined #}
{%- if table.kinesis_stream_specification is defined %}{# BEGIN if table.kinesis_stream_specification is defined #}
      KinesisStreamSpecification:
        StreamArn: {{ table.kinesis_stream_specification.stream_arn }}
{%- if table.kinesis_stream_specification.approximate_creation_date_time_precision is defined %}
        ApproximateCreationDateTimePrecision: {{ table.kinesis_stream_specification.approximate_creation_date_time_precision }}
{%- endif %}
{%- endif %}{# END if table.kinesis_stream_specification is defined #}
{%- if table.local_secondary_indexes is defined %}{# BEGIN if table.local_secondary_indexes is defined #}
      LocalSecondaryIndexes:
{%- for index in table.local_secondary_indexes %}{# BEGIN for index in table.local_secondary_indexes #}
        -
          IndexName: {{ index.index_name }}
          KeySchema:
{%- for schema in index.key_schema %}
            -
              {{- helper.prep_key_schema(schema) | indent(width=14, first=false) }}
{%- endfor %}
          Projection:
            {{- helper.prep_projection(index.projection) | indent(width=12, first=false) }}
{%- endfor %}{# END for index in table.local_secondary_indexes #}
{%- endif %}{# END if table.local_secondary_indexes is defined #}
{%- if table.point_in_time_recovery_specification is defined %}{# BEGIN if table.point_in_time_recovery_specification is defined #}
      PointInTimeRecoverySpecification:
{%- if table.point_in_time_recovery_specification.point_in_time_recovery_enabled is defined %}
        PointInTimeRecoveryEnabled: {{ table.point_in_time_recovery_specification.point_in_time_recovery_enabled }}
{%- endif %}
{%- if table.point_in_time_recovery_specification.recovery_period_in_days is defined %}
        RecoveryPeriodInDays: {{ table.point_in_time_recovery_specification.recovery_period_in_days }}
{%- endif %}
{%- endif %}{# END if table.point_in_time_recovery_specification is defined #}
{%- if table.provisioned_throughput is defined %}
      ProvisionedThroughput:
        {{- helper.prep_provisioned_throughput(table.provisioned_throughput) | indent(width=8, first=false) }}
{%- endif %}
{%- if table.resource_policy is defined %}{# BEGIN if table.resource_policy is defined #}
      ResourcePolicy:
{%- if table.resource_policy.policy_document is defined %}
        PolicyDocument:
          {{- table.resource_policy.policy_document | indent(width=10, first=false) }}
{%- elif table.resource_policy.policy_document_json is defined %}
        PolicyDocument: |-
          {{- table.resource_policy.policy_document_json | indent(width=10, first=false) }}
{%- endif %}
{%- endif %}{# END if table.resource_policy is defined #}
{%- if table.sse_specification is defined %}{# BEGIN if table.sse_specification is defined #}
      SSESpecification:
        SSEEnabled: {{ table.sse_specification.sse_enabled | lower }}
{%- if table.sse_specification.kms_master_key_id is defined %}
        KMSMasterKeyId: {{ table.sse_specification.kms_master_key_id | trim }}
{%- endif %}
{%- if table.sse_specification.sse_type is defined %}
        SSEType: {{ table.sse_specification.sse_type }}
{%- endif %}
{%- endif %}{# END if table.sse_specification is defined #}
{%- if table.stream_specification is defined %}{# BEGIN if table.stream_specification is defined #}
      StreamSpecification:
        StreamViewType: {{ table.stream_specification.stream_view_type }}
{%- if table.stream_specification.resource_policy is defined %}{# BEGIN if table.stream_specification.resource_policy is defined #}
        ResourcePolicy:
{%- if table.stream_specification.resource_policy.policy_document is defined %}
          PolicyDocument:
            {{- table.stream_specification.resource_policy.policy_document | indent(width=12, first=false) }}
{%- elif table.stream_specification.resource_policy.policy_document_json is defined %}
          PolicyDocument: |-
            {{- table.stream_specification.resource_policy.policy_document_json | indent(width=12, first=false) }}
{%- endif %}
{%- endif %}{# END if table.stream_specification.resource_policy is defined #}
{%- endif %}{# END if table.stream_specification is defined #}
{%- if table.table_class is defined %}
      TableClass: {{ table.table_class }}
{%- endif %}
{%- if table.table_name is defined %}
      TableName: {{ table.table_name }}
{%- endif %}
      Tags:
        - Key: SourceRepoURL
          Value: {{ sceptre_user_data.source_repo_url | default('unknown') }}
{%- if table.tags is defined %}
{%- for key,value in table.tags.items() %}
        - Key: {{ key }}
          Value: {{ value }}
{%- endfor %}
{%- endif %}
{%- if table.time_to_live_specification is defined %}{# BEGIN if table.time_to_live_specification is defined #}
      TimeToLiveSpecification:
        Enabled: {{ table.time_to_live_specification.enabled }}
{%- if table.time_to_live_specification.attribute_name is defined %}
        AttributeName: {{ table.time_to_live_specification.attribute_name }}
{%- endif %}
{%- endif %}{# END if table.time_to_live_specification is defined #}
{%- if table.warm_throughput is defined %}
      WarmThroughput:
        {{- helper.prep_warm_throughput(table.warm_throughput) | indent(width=8, first=false) }}
{%- endif %}
{%- endfor %}

Outputs:
{%- for table in sceptre_user_data.tables %}
{%- set table_name = table.name %}
  {{ table_name }}:
    Description: Table Name for {{ table_name }}
    Value:
      Ref: {{ table_name }}
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ table_name }}"
  {{ table_name }}Arn:
    Description: The ARN for {{ table_name }}
    Value:
      Fn::GetAtt:
        - {{ table_name }}
        - Arn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ table_name }}-Arn"
{%- if table.stream_specification is defined %}
  {{ table_name }}StreamArn:
    Description: The ARN of the DynamoDB stream for {{ table_name }}
    Value:
      Fn::GetAtt:
        - {{ table_name }}
        - StreamArn
    Export:
      Name:
        Fn::Sub: "${AWS::StackName}-{{ table_name }}-StreamArn"
{%- endif %}
{%- endfor %}{#
# Supported structure as of 2026-06-21:
Type: AWS::DynamoDB::Table
Properties:
  AttributeDefinitions:
    -
      AttributeName: String
      AttributeType: String
  BillingMode: String
  ContributorInsightsSpecification:
    Enabled: Boolean
    Mode: String
  DeletionProtectionEnabled: Boolean
  GlobalSecondaryIndexes:
    -
      ContributorInsightsSpecification:
        Enabled: Boolean
        Mode: String
      IndexName: String
      KeySchema:
        -
          AttributeName: String
          KeyType: String
      OnDemandThroughput:
        MaxReadRequestUnits: Integer
        MaxWriteRequestUnits: Integer
      Projection:
        NonKeyAttributes:
          - String
        ProjectionType: String
      ProvisionedThroughput:
        ReadCapacityUnits: Integer
        WriteCapacityUnits: Integer
      WarmThroughput:
        ReadUnitsPerSecond: Integer
        WriteUnitsPerSecond: Integer
  ImportSourceSpecification:
    InputCompressionType: String
    InputFormat: String
    InputFormatOptions:
      Csv:
        Delimiter: String
        HeaderList:
          - String
    S3BucketSource:
      S3Bucket: String
      S3BucketOwner: String
      S3KeyPrefix: String
  KeySchema:
    -
      AttributeName: String
      KeyType: String
  KinesisStreamSpecification:
    ApproximateCreationDateTimePrecision: String
    StreamArn: String
  LocalSecondaryIndexes:
    -
      IndexName: String
      KeySchema:
        -
          AttributeName: String
          KeyType: String
      Projection:
        NonKeyAttributes:
          - String
        ProjectionType: String
  OnDemandThroughput:
    MaxReadRequestUnits: Integer
    MaxWriteRequestUnits: Integer
  PointInTimeRecoverySpecification:
    PointInTimeRecoveryEnabled: Boolean
    RecoveryPeriodInDays: Integer
  ProvisionedThroughput:
    ReadCapacityUnits: Integer
    WriteCapacityUnits: Integer
  ResourcePolicy:
    PolicyDocument: Json
  SSESpecification:
    KMSMasterKeyId: String
    SSEEnabled: Boolean
    SSEType: String
  StreamSpecification:
    ResourcePolicy:
      PolicyDocument: Json
    StreamViewType: String
  TableClass: String
  TableName: String
  Tags:
    - Key: String
      Value: String
  TimeToLiveSpecification:
    AttributeName: String
    Enabled: Boolean
  WarmThroughput:
    ReadUnitsPerSecond: Integer
    WriteUnitsPerSecond: Integer
#}