{# Suported structure as per https://docs.aws.amazon.com/AWSCloudFormation/latest/TemplateReference/aws-properties-directoryservice-simplead-vpcsettings.html
VpcSettings:
  SubnetIds:
    - String
  VpcId: String
#}
{%- macro prep(vpc_settings) %}
VpcSettings:
  SubnetIds:
{%- for subnet_id in vpc_settings.subnet_ids %}
    - {{ subnet_id | trim }}
{%- endfor %}
  VpcId: {{ vpc_settings.vpc_id | trim }}
{%- endmacro %}